﻿<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="Close()">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">قوانین سامانه</h4>
        <small class="font-bold">جهت ثبت نام در سامانه لطفاً قوانین سامانه را کاملاً مظالعه کرده و با آنها موافق نمایید</small>
    </div>
    <div class="modal-body" style="height:250px; overflow:auto;">
        <b>
            قوانین  و  مقررات سامانه
        </b>
        <p style="text-align:justify">
            متقاضی محترم در صورتيكه براي اولين بار اقدام به تشكيل پرونده بررسی آیین نامه کمیته حفاظت فنی و بهداشت کار نموده ايد در قسمت ورود كاربران دكمه ثبت را كليك نموده و اقدام به ايجاد كد كاربري و گذر واژه نماييد.
            در قسمت نام کاربری: حداقل تعداد کاراکتر 5 و حداکثر 30 میباشد.
            در قسمت گذرواژه به دلخواه خود گذر واژه با حداقل شش حرف يا عدد انتخاب نماييد .
            اسكن مدارك : حجم کلیه فایل ها جهت آپلود حداکثر 1 مگابایت باشد.
            ثبت اعتراض :در صورتي كه بنابه دلايلي پرونده متقاضی مردود و مورد تاييد واقع نگردد ، متقاضی مي تواند در اين قسمت نسبت به مورد پيش آمده ظرف مدت 15 روز از زمان ابلاغ اعتراض نمايد .
            توجه :كليه پيگيريها و روند كنترل پرونده از طريق اين سامانه و تنها با وارد كردن كد كاربري و رمز عبور براي كليه متقاضیان امكانپذير مي باشد.
            پس از ارسال پرونده ، فرد متقاضی به پرونده دسترسی نخواهد داشت.
            در هنگام وارد کردن اطلاعات به صحت آنها توجه نمایید و در صورت اشتباه  عواقب ناشی از آن برعهده متقاضی میباشد.
            کلیه غلط های املایی  و اشتباه در تایپ کردن اطلاعات به عهده متقاضی میباشد.
            درصورتی که در هر مرحله از ثبت نام مشخص گردد اطلاعات خلاف واقیت اعلام شده است پرونده در وضعیت کن ان لم یکن قرار میگیرد. و اگر فرد قصد هرگونه فریب را داشته باشد مورد پیگرد قانونی قرارخواهد گرفت.
            موارد ذیل مورد پیگرد قانونی قرار خواهد گرفت:
            انتشار فایلها و اطلاعاتی غیر قانونی، مضر، تهدید کننده، توهین آمیز، زیان آور، غیر اخلاقی، افترا آمیز و مبتذل باشد و همینطور اطلاعاتی که به نژاد ، گروه و یا دسته خاصی از مردم توهین کننده باشد.
            جعل هویت اشخاص یا نهادها و همینطور نسبت دادن بیانات و سخنان دروغین به افراد و نهاد های خاص
            انتشار هر مفهوم و محتوایی که از نظر قانونی و یا مسائل دیگر، حق انجام آنها را نداشته باشید. (از قبیل اطلاعات داخلی و اطلاعات اختصاصی و محرمانه برخی سازمانها و نهادها، چنانچه از نظر روابط استخدامی و قوانین داخلی سازمانها، این کار منع شده باشد.)
            انتشار ویروسهای کامپیوتری و هر کد و فایل و برنامه ای که به منظور قطع کردن و از کار انداختن سیستم های کامپیوتری طراحی شده باشد و به سخت افزار و نرم افزار و تجهیزات کامپیوتر ها آسیب برساند.
            تجاوز عمدی یا غیر عمدی به مواضع کاری، بیانات، قوانین ملی و بین المللی و هر رویه و مقرراتی که قدرت قانونی از آن حمایت کند.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="Close()">بستن</button>
    </div>
</div>