﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <h4 class="modal-title">تغییر گذرواژه</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div>
            <label>گذرواژه فعلی</label>
            <input type="password" placeholder="گذرواژه فعلی" class="form-control" ng-model="changeData.CurrentPassword">
        </div>
    </div>
    <div class="form-group">
        <div>
            <label>گذرواژه جدید</label>
            <input type="password" placeholder="گذرواژه جدید" class="form-control" ng-model="changeData.NewPassword">
        </div>
    </div>
    <div class="form-group">
        <div>
            <label>تکرار گذرواژه جدید</label>
            <input type="password" placeholder="تکرار گذرواژه جدید" class="form-control" ng-model="changeData.NewPasswordCopy">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="Close()">بستن</button>
    <button type="button" class="btn btn-primary" ng-click="ChangePassword()">تغییر</button>
</div>