﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <h4 class="modal-title">تغییر ایمیل</h4>
</div>
<div class="modal-body">
    <h4>
        ایمیل فعلی:
        <span ng-if="changeData.CurrentEmail">{{changeData.CurrentEmail}}</span>
        <span class="text-danger" ng-if="!changeData.CurrentEmail">ثبت نشده است</span>
    </h4>
    <div class="form-group">
        <div>
            <label>ایمیل جدید</label>
            <input type="email" placeholder="ایمیل جدید" class="form-control english" ng-model="changeData.NewEmail">
        </div>
    </div>
    <div class="form-group">
        <div>
            <label>تکرار ایمیل جدید</label>
            <input type="email" placeholder="تکرار ایمیل جدید" class="form-control english" ng-model="changeData.NewEmailCopy">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="Close()">بستن</button>
    <button type="button" class="btn btn-primary" ng-click="ChangeEmail()">تغییر</button>
</div>