﻿<div class="modal-content">
    <div class="modal-header">
        فراموشی گذرواژه
    </div>
    <div class="modal-body">
        <form>
            جهت بازیابی گذرواژه خود ابتدا نام کاربری و یا ایمیلی که در سامانه ثبت کرده اید را وارد کنید.
            <div class="row col-lg-12 m-t">
                <div class="col-lg-10">
                    <input type="text" ng-disabled="!!isDisabled" ng-model="request.UsernameOrEmail" placeholder="ایمیل یا نام کاربری" class="form-control english" required>
                </div>
                <div class="col-lg-2">
                    <a class="btn btn-success" ng-disabled="!!isDisabled || !request.UsernameOrEmail" ng-click="ResetPassword()">بازیابی</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div ng-if="!!sentEmail" class="modal-footer">
        ایمیل بازیابی گذرواژه به ایمیل {{sentEmail}} ارسال گردید.
        لطفا جهت تکمیل فرآیند به ایمیل خود مراجعه نمایید
    </div>
</div>
