﻿<style>
    .modal-dialog{
        width:350px;
    }
</style>
<div style="text-align:center">
    <img src="/Resources/images/vezaratLogo.jpg" style="width: 170px;margin-top: 20px;"  />
    <div class="spiner-example">
        <!--<h3>
            لطفاً صبر نمایید 
        </h3>-->
        <h5>
            {{text}}
        </h5>
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
</div>
