﻿@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
    string AssemblyVersion = System.Reflection.Assembly.Load("Isaap.UI").GetName().Version.ToString();
}
<!DOCTYPE html>
<html ng-app="isaap">
<head>
    <title>Isaap.ir</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=700, initial-scale=1, maximum-scale=1, minimum-scale=.1">
    <link rel="icon" href="/Resource/images/favicon.png" sizes="32x32" type="image/png">
    <!--Style-->
    <link href="/Resource/plugins/bootstrap/css/bootstrap-float-label.css" rel="stylesheet" />
    <link href="/Resource/plugins/persian-fonts/persian-fonts.css?@AssemblyVersion" rel="stylesheet" />
    <link href="/Resource/plugins/material-icons/icon.css?@AssemblyVersion" rel="stylesheet" />
    <link href="/Resource/plugins/bootstrap/css/bootstrap.rtl.min.css?@AssemblyVersion" rel="stylesheet" />
    <link href="/Resource/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="/Resource/plugins/bootstrap/css/bootstrap-float-label.css" rel="stylesheet" />
    <link href="/Resource/plugins/node-waves/waves.min.css?@AssemblyVersion" rel="stylesheet" />
    <link href="/Resource/plugins/animate-css/animate.css?@AssemblyVersion" rel="stylesheet" />
    <link href="/Resource/styles/isaap.css?@AssemblyVersion" rel="stylesheet" />
    <link href="/Resource/plugins/material-design/style.css?@AssemblyVersion" rel="stylesheet" />
    <link href="/Resource/plugins/material-design/theme-green.css?@AssemblyVersion" rel="stylesheet" />
    <link href="/Resource/plugins/toastr/toaster.min.css?@AssemblyVersion" rel="stylesheet" />
    <link href="/Resource/plugins/persian-datepicker/css/persian-datepicker-0.4.5.min.css?@AssemblyVersion" rel="stylesheet" />
    <link href="/Resource/plugins/fileupload/jquery.fileupload.css?@AssemblyVersion" rel="stylesheet" />
    <link href="/Resource/plugins/viewerjs/viewer.css?@AssemblyVersion" rel="stylesheet" />

    <!--Jquery and Bootstrap-->
    <script src="/Resource/plugins/jquery/jquery-2.1.1.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/bootstrap/js/bootstrap.rtl.min.js"></script>
    <script src="/Resource/plugins/node-waves/waves.min.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/jquery-slimscroll/jquery.slimscroll.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="/Resource/plugins/material-design/admin.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/persian-datepicker/persian-date.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/persian-datepicker/persian-datepicker-0.4.5.min.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/fileupload/jquery.ui.widget.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/fileupload/jquery.fileupload.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/jquery/picturefill.min.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/jquery/jquery.mousewheel.min.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/viewerjs/viewer.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/sweetalert/sweetalert.min.js?@AssemblyVersion"></script>
    <script src="~/Resource/plugins/editable-table/mindmup-editabletable.js"></script>

    <!--Angular-->
    <script src="/Resource/plugins/angularjs/angular.min.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/angularjs/angular-sanitize.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/angularjs/angular-ui-router.min.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/angularjs/angular-route.min.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/bootstrap/js/ui-bootstrap-tpls-1.1.2.min.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/oclazyload/ocLazyLoad.min.js?@AssemblyVersion"></script>
    <script src="/Resource/plugins/toastr/toaster.min.js?@AssemblyVersion"></script>

    <!--Config-->
    <script type="text/javascript">
        var app = angular.module('isaap', ['ui.router', 'oc.lazyLoad', 'ngSanitize', 'ngRoute', 'ui.bootstrap', 'toaster']);
        app.config(function ($stateProvider, $urlRouterProvider, $locationProvider, $ocLazyLoadProvider) {
            $urlRouterProvider.otherwise('/');
            $locationProvider.hashPrefix('');
            $ocLazyLoadProvider.config({
                debug: false,
            });
            //states
            $stateProvider
                .state('printlicense', { url: '/PrintLicense?LID', controller: 'printlicenseCtrl', templateUrl: '/Statics/Dashboard/Staff/printlicense.html?@AssemblyVersion' })
                .state('infopage', { abstract: true, templateUrl: '/Statics/infopage.html?@AssemblyVersion' })
                .state('infopage.signup', { url: '/SignUp', controller: 'signupCtrl', templateUrl: '/Statics/InfoPage/signup.html?@AssemblyVersion', resolve: { deps: function ($ocLazyLoad) { return $ocLazyLoad.load([{ name: 'vcRecaptcha', files: ['/Resource/plugins/angularjs/angular-recaptcha.min.js?@AssemblyVersion'] }]) }, } })
                .state('infopage.home', { url: '/', controller: 'homeCtrl', templateUrl: '/Statics/InfoPage/home.html?@AssemblyVersion' })

                .state('dashboard', { abstract: true, url: '/Dashboard', controller: 'dashboardCtrl', templateUrl: '/Statics/dashboard.html?@AssemblyVersion' })

                .state('dashboard.safetyofficer', { abstract: true, url: '/SafetyOfficer', template: '<div ui-view></div>' })
                .state('dashboard.safetyofficer.profile', { abstract: true, url: '/Profile', template: '<div ui-view></div>' })
                .state('dashboard.safetyofficer.profile.basic', { url: '/Basic', controller: 'safetyOfficerBasicCtrl', templateUrl: '/Statics/Dashboard/SafetyOfficer/basic.html?@AssemblyVersion' })
                .state('dashboard.safetyofficer.profile.pictures', { url: '/Picture', controller: 'safetyOfficerPicturesCtrl', templateUrl: '/Statics/Dashboard/SafetyOfficer/pictures.html?@AssemblyVersion' })
                .state('dashboard.safetyofficer.profile.contacts', { url: '/Contacts', controller: 'safetyOfficerContactsCtrl', templateUrl: '/Statics/Dashboard/SafetyOfficer/contacts.html?@AssemblyVersion' })
                .state('dashboard.safetyofficer.profile.certifications', { url: '/Certifications', controller: 'safetyOfficerCertificationsCtrl', templateUrl: '/Statics/Dashboard/SafetyOfficer/certifications.html?@AssemblyVersion' })
                .state('dashboard.safetyofficer.profile.educations', { url: '/Educations', controller: 'safetyOfficerEducationsCtrl', templateUrl: '/Statics/Dashboard/SafetyOfficer/educations.html?@AssemblyVersion' })
                .state('dashboard.safetyofficer.profile.experiences', { url: '/Experiences', controller: 'safetyOfficerExperiencesCtrl', templateUrl: '/Statics/Dashboard/SafetyOfficer/experiences.html?@AssemblyVersion' })
                .state('dashboard.safetyofficer.licenses', { url: '/Licenses', controller: 'safetyOfficerLicensesCtrl', templateUrl: '/Statics/Dashboard/SafetyOfficer/licenses.html?@AssemblyVersion' })

                .state('dashboard.ceo', { abstract: true, url: '/CEO', template: '<div ui-view></div>' })
                .state('dashboard.ceo.profile', { abstract: true, url: '/Profile', template: '<div ui-view></div>' })
                .state('dashboard.ceo.profile.basic', { url: '/Basic', controller: 'ceoBasicCtrl', templateUrl: '/Statics/Dashboard/CEO/basic.html?@AssemblyVersion' })
                .state('dashboard.ceo.profile.contacts', { url: '/Contacts', controller: 'ceoContactsCtrl', templateUrl: '/Statics/Dashboard/CEO/contacts.html?@AssemblyVersion' })
                .state('dashboard.ceo.pictures', { url: '/Picture', controller: 'ceoPicturesCtrl', templateUrl: '/Statics/Dashboard/CEO/pictures.html?@AssemblyVersion' })
                .state('dashboard.ceo.workshop', { abstract: true, url: '/Workshop', template: '<div ui-view></div>' })
                .state('dashboard.ceo.workshop.basic', { url: '/Basic', controller: 'ceoWorkshopBasicCtrl', templateUrl: '/Statics/Dashboard/CEO/workshopbasic.html?@AssemblyVersion' })
                .state('dashboard.ceo.workshop.location', { url: '/Location', controller: 'ceoWorkshopLocationCtrl', templateUrl: '/Statics/Dashboard/CEO/workshoplocation.html?@AssemblyVersion' })
                .state('dashboard.ceo.recruitment', { url: '/Recruitment', controller: 'ceoRecruitmentCtrl', templateUrl: '/Statics/Dashboard/CEO/recruitment.html?@AssemblyVersion' })
                .state('dashboard.ceo.experts', { url: '/Experts', controller: 'ceoExpertsCtrl', templateUrl: '/Statics/Dashboard/CEO/experts.html?@AssemblyVersion' })

                .state('dashboard.staff', { abstract: true, url: '/Staff', template: '<div ui-view></div>' })
                .state('dashboard.staff.waitingpeople', { url: '/WaitingPeople', controller: 'staffWaitingPeopleCtrl', templateUrl: '/Statics/Dashboard/Staff/waitingpeople.html?@AssemblyVersion' })
                .state('dashboard.staff.reports', { abstract: true, url: '/Reports', template: '<div ui-view></div>' })
                .state('dashboard.staff.reports.table', { url: '/Table', controller: 'staffTableReportsCtrl', templateUrl: '/Statics/Dashboard/Staff/tablereports.html?@AssemblyVersion' })
                .state('dashboard.staff.reports.statistical', { url: '/Statistical', controller: 'staffStatisticalReportsCtrl', templateUrl: '/Statics/Dashboard/Staff/statisticalreports.html?@AssemblyVersion' })
                .state('dashboard.staff.viewperson', { url: '/ViewPerson?U', controller: 'staffViewPersonCtrl', templateUrl: '/Statics/Dashboard/Staff/viewperson.html?@AssemblyVersion'})

                .state('dashboard.license', { abstract: true, url: '/License', template: '<div ui-view></div>' })
                .state('dashboard.license.myinfo', { url: '/MyInfo', controller: 'licenseMyInfoCtrl', templateUrl: '/Statics/Dashboard/License/myinfo.html?@AssemblyVersion' })
                .state('dashboard.license.myreports', { url: '/MyReports', controller: 'licenseMyReportsCtrl', templateUrl: '/Statics/Dashboard/License/myreports.html?@AssemblyVersion' })


            ;
        }).run(function ($rootScope, $state) {
            $rootScope.$state = $state;
        });
    </script>
    <!--Services-->
    <script src="/Angular/services.js?@AssemblyVersion"></script>
    <script src="/Angular/directives.js?@AssemblyVersion"></script>
    <!--Controllers-->
    <script src="/Angular/controllers/homeCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/dashboardCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/signupCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/safetyofficer/safetyOfficerBasicCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/safetyofficer/safetyOfficerCertificationsCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/safetyofficer/safetyOfficerLicensesCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/safetyofficer/safetyOfficerContactsCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/safetyofficer/safetyOfficerEducationsCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/safetyofficer/safetyOfficerExperiencesCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/safetyofficer/safetyOfficerPicturesCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/ceo/ceoBasicCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/ceo/ceoContactsCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/ceo/ceoPicturesCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/ceo/ceoWorkshopBasicCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/ceo/ceoRecruitmentCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/ceo/ceoExpertsCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/ceo/ceoWorkshopLocationCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/staff/staffWaitingPeopleCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/staff/staffStatisticalReportsCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/staff/staffTableReportsCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/license/licenseMyInfoCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/license/licenseMyReportsCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/staff/staffViewPersonCtrl.js?@AssemblyVersion"></script>
    <script src="/Angular/controllers/staff/printlicenseCtrl.js?@AssemblyVersion"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113181718-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-113181718-1');
    </script>
</head>
<body>
    <toaster-container></toaster-container>
    <div ui-view></div>
</body>
</html>
