﻿body {
    font-family: 'YekanWeb','YekanNumbersWeb';
}

.form-control {
    padding: 0 12px;
}

.english {
    font-family: Arial, Tahoma;
}

.number, .english {
    direction: ltr;
}

input::-webkit-input-placeholder {
    font-family: 'YekanWeb' !important;
    text-align: right !important;
}

input:-moz-placeholder {
    font-family: 'YekanWeb' !important;
    text-align: right !important;
}

input::-moz-placeholder {
    font-family: 'YekanWeb' !important;
    text-align: right !important;
}

input:-ms-input-placeholder {
    font-family: 'YekanWeb' !important;
    text-align: right !important;
}

h2 {
    font-family: 'MitraWeb';
}

.timeline-title.timeline-alert{
    color:red !important;
}

.timeline-title.timeline-success{
    color:green !important;
}
.text-red {
    color: #C55F5F;
    font-weight: bold;
    padding: 0 10px;
}