﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a><i class="material-icons ">person</i> پروفایل من</a></li>
        <li><a><i class="material-icons md-15">library_books</i> اطلاعات فرد</a></li>
    </ol>
    <div class="notify m-b-15">این اطلاعات پس از بررسی و دریافت تاییدیه قابل تغییر نمی باشند</div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header f-h font-18">
                        <i class="material-icons md-18 col-red v-a">more_vert</i>   اطلاعات فرد
                </div>
                <div class="body">
                    <form name="basicFrom">
                        <!--<h2 class="card-inside-title">اطلاعات فرد</h2>-->
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" required ng-model="firstName">
                                        <label class="form-label">نام</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" required ng-model="lastName">
                                        <label class="form-label">نام خانوادگی</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" required ng-model="nationalCode">
                                        <label class="form-label">کدملی</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" required ng-model="persianBirthDate" id="birthdate">
                                        <label class="form-label">تاریخ تولد</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" required ng-model="shenasnameNo">
                                        <label class="form-label">شماره شناسنامه</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" required ng-model="fatherName">
                                        <label class="form-label">نام پدر</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" required ng-model="placeOfBirth">
                                        <label class="form-label">محل تولد</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control" required ng-model="gender">
                                            <option value="">-- انتخاب کنید --</option>
                                            <option ng-value="1" value="number:1">
                                                مرد
                                            </option>
                                            <option ng-value="2" value="number:2">
                                                زن
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control" required ng-model="maritalStatus">
                                            <option value="">-- انتخاب کنید --</option>
                                            <option ng-value="1" value="number:1">
                                                مجرد
                                            </option>
                                            <option ng-value="2" value="number:2">
                                                متاهل
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6" ng-show="gender==1">
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control" ng-model="militaryServiceStates">
                                            <option value="">-- انتخاب کنید --</option>
                                            <option ng-value="1" value="number:1">
                                                دارای پایان خدمت
                                            </option>
                                            <option ng-value="2" value="number:2">
                                                معاف از سربازی
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6" ng-show="gender==1 && militaryServiceStates==2">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" ng-model="reasonOfExemption">
                                        <label class="form-label">علت معافیت</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" ng-model="associationNumber">
                                        <label class="form-label">شماره عضویت در انجمن(اختیاری)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-block btn-info waves-effect" type="submit" ng-click="basicFrom.$valid && ModifyExpertBasicInfo()">ثبت تغییرات</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#birthdate').pDatepicker({ format: 'YYYY/MM/DD' });
    });
</script>