﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a><i class="material-icons ">person</i> پروفایل من</a></li>
        <li><a><i class="material-icons md-15 v-a">library_books</i> دوره های آموزشی</a></li>
    </ol>
    <div class="notify m-b-15">این اطلاعات پس از بررسی و دریافت تاییدیه قابل تغییر نمی باشند</div>

    <div class="row clearfix">
        <div class="col-xs-12">
            <div class="card">

                <div class="header f-h font-18">
                    <i class="material-icons md-18 col-red v-a">more_vert</i>  دوره های آموزشی
                </div>

                <div class="body">
                    <a class="btn btn-primary" ng-click="OpenAddModal()">
                        + افزودن
                    </a>
                    <div class="body table-responsive">
                        <span ng-show="certifications.length==0">
                            هیچ رکوردی ثبت نشده است
                        </span>
                        <table class="table table-striped table-bordered" ng-show="certifications.length>0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="align-center">عنوان</th>
                                    <th class="align-center">زمان اخذ</th>
                                    <th class="align-center">مدت دوره</th>
                                    <th class="align-center">صادر کننده</th>
                                    <th class="align-center">توضیحات</th>
                                    <th class="align-center">تصویر</th>
                                    <th class="align-center">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="certification in certifications">
                                    <th class="align-center" scope="row">{{$index+1}}</th>
                                    <td class="align-center">
                                        {{certification.CourseName}}
                                    </td>
                                    <td class="align-center">
                                        {{certification.PersianDateTaken}}
                                    </td>
                                    <td class="align-center">
                                        {{certification.DurationInHours}}
                                    </td>
                                    <td class="align-center">
                                        {{certification.IssuerName}}
                                    </td>
                                    <td class="align-center">
                                        {{certification.Description}}
                                    </td>
                                    <td class="align-center">
                                        <hossein-file-upload data="{{certification.Id}}" action-url="/Api/Expert/ChangeCertificationScan" title="{{certification.CertificationScanId?'تغییر دادن':'اضافه کردن'}}" success="LoadCertifications()"></hossein-file-upload>
                                        <img viewerjs src="/Api/Expert/GetImage?ID={{certification.CertificationScanId}}&height=30&width=30" url="/Api/Expert/GetImage?ID={{certification.CertificationScanId}}" alt="دوره آموزشی" ng-if="certification.CertificationScanId" role="button">
                                    </td>
                                    <td class="align-center">
                                        <button type="button" ng-click="OpenEditModal(certification.Id)"
                                                class="btn btn-default btn-circle padding-0
                                                waves-effect waves-circle waves-float">
                                            <i class="material-icons col-teal font-15">mode_edit</i>
                                        </button>
                                        <button type="button" ng-click="ConfirmDelete(certification.Id)"
                                                class="m-r-5 btn btn-default btn-circle
                                                padding-0 waves-effect waves-circle waves-float">
                                            <i class="material-icons col-red font-bold font-15">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








