﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a><i class="material-icons ">person</i> پروفایل من</a></li>
        <li><a><i class="material-icons md-15 v-a">library_books</i>تحصیلات</a></li>
    </ol>
    <div class="notify m-b-15">این اطلاعات پس از بررسی و دریافت تاییدیه قابل تغییر نمی باشند</div>

    <div class="row clearfix">
        <div class="col-xs-12">
            <div class="card">
               
                    <div class="header f-h font-18">
                        <i class="material-icons md-18 col-red v-a">more_vert</i>تحصیلات
                    </div>
               
                <div class="body">
                    <a class="btn btn-primary" ng-click="OpenAddModal()">
                        + افزودن
                    </a>
                    <div class="body table-responsive">
                        <span ng-show="educations.length==0">
                            هیچ رکوردی ثبت نشده است
                        </span>
                        <table class="table table-bordered table-striped" ng-show="educations.length>0">
                            <thead>
                                <tr>
                                    <th class="align-center"></th>
                                    <th class="align-center">مقطع</th>
                                    <th class="align-center">رشته</th>
                                    <th class="align-center">تصویر</th>
                                    <th class="align-center">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="education in educations">
                                    <th  class="align-center" scope="row">{{$index+1}}</th>
                                    <td  class="align-center">
                                        <span ng-show="education.DegreeLevel==1">
                                            دیپلم
                                        </span>
                                        <span ng-show="education.DegreeLevel==2">
                                            فوق دیپلم
                                        </span>
                                        <span ng-show="education.DegreeLevel==3">
                                            کارشناسی
                                        </span>
                                        <span ng-show="education.DegreeLevel==4">
                                            کارشناسی ارشد
                                        </span>
                                        <span ng-show="education.DegreeLevel==5">
                                            دکترا
                                        </span>
                                    </td>
                                    <td  class="align-center">{{education.FieldOfEducation}}</td>
                                    <td  class="align-center">
                                        <hossein-file-upload data="{{education.Id}}" action-url="/Api/Expert/ChangeEducationScan" title="{{education.ScanId?'تغییر دادن':'اضافه کردن'}}" success="LoadEducations()"></hossein-file-upload>
                                        <img viewerjs src="/Api/Expert/GetImage?ID={{education.ScanId}}&height=30&width=30" url="/Api/Expert/GetImage?ID={{education.ScanId}}" alt="مدرک تحصیلی" ng-if="education.ScanId" role="button">
                                    </td>
                                    <td  class="align-center">
                                        <button type="button" ng-click="OpenEditModal(education.Id)"
                                                class="btn btn-default btn-circle padding-0
                                                waves-effect waves-circle waves-float">
                                            <i class="material-icons col-teal font-15">mode_edit</i>
                                        </button>
                                        <button type="button" ng-click="ConfirmDelete(education.Id)"
                                                class="m-r-5 btn btn-default btn-circle
                                                padding-0 waves-effect waves-circle waves-float">
                                            <i class="material-icons col-red font-bold font-15">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
