﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a><i class="material-icons ">person</i> پروفایل من</a></li>
        <li><a><i class="material-icons md-15 v-a">work</i>سوابق کاری</a></li>
    </ol>
    <div class="notify m-b-15">این اطلاعات پس از بررسی و دریافت تاییدیه قابل تغییر نمی باشند</div>


    <div class="row clearfix">
        <div class="col-xs-12">
            <div class="card">
                <div class="header f-h font-18">
                    <i class="material-icons md-18 col-red v-a">more_vert</i>سوابق کاری
                </div>
                <div class="body">
                    <a class="btn btn-primary" ng-click="OpenAddModal()">
                        + افزودن
                    </a>
                    <div class="body table-responsive">
                        <span ng-show="experiences.length==0">
                            هیچ رکوردی ثبت نشده است
                        </span>
                        <table class="table table-bordered table-striped" ng-show="experiences.length>0">
                            <thead>
                                <tr>
                                    <th class="align-center"></th>
                                    <th class="align-center">نام واحد/کارگاه</th>
                                    <th class="align-center">کارفرما</th>
                                    <th class="align-center">شروع فعالیت</th>
                                    <th class="align-center">پایان فعالیت</th>
                                    <th class="align-center">توضیحات</th>
                                    <th class="align-center">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="experience in experiences">
                                    <th class="align-center" scope="row">{{$index+1}}</th>
                                    <td class="align-center">
                                        {{experience.WorkshopName}}
                                    </td>
                                    <td class="align-center">
                                        {{experience.EmployerName}}
                                    </td>
                                    <td class="align-center">
                                        {{experience.PersianDateFrom}}
                                    </td>
                                    <td class="align-center">
                                        {{experience.PersianDateTo}}
                                    </td>
                                    <td class="align-center">
                                        {{experience.Description}}
                                    </td>
                                    <td class="align-center">
                                        <button type="button" ng-click="OpenEditModal(experience.Id)"
                                                class="btn btn-default btn-circle padding-0
                                                waves-effect waves-circle waves-float">
                                            <i class="material-icons col-teal font-15">mode_edit</i>
                                        </button>
                                        <button type="button" ng-click="ConfirmDelete(experience.Id)"
                                                class="m-r-5 btn btn-default btn-circle
                                                padding-0 waves-effect waves-circle waves-float">
                                            <i class="material-icons col-red font-bold font-15">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








