﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a><i class="material-icons ">person</i> پروفایل من</a></li>
        <li><a><i class="material-icons md-15 v-a">library_books</i> لیست پروانه ها</a></li>
    </ol>
    <div class="notify m-b-15">در اینجا فعالیت های شما در واحد های مختلف مشخص می باشد</div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header f-h font-18">
                    <i class="material-icons md-18 col-red v-a">more_vert</i>لیست پروانه ها
                </div>
                <div class="body">
                    <div ng-repeat="license in licenses" class="col-lg-6">
                        <div class="card">
                            <div class="header h-t">
                                <h2 class="font">گارکاه {{license.UnitName}}</h2>
                                <br />
                                <span class="user" ng-if="!license.Username">نام کاربری هنوز مشخص نشده</span>
                                <span class="user" ng-if="license.Username">نام کاربری: {{license.Username}}</span>
                                <div class="ribbon-2"
                                     ng-class="{'ribbon-red' : license.CurrentFlowType==8  || license.CurrentFlowType==10,
                                               'ribbon-grey' : license.CurrentFlowType==12,
                                               'ribbon-green' : license.CurrentFlowType==7,
                                               'ribbon-pink' : license.CurrentFlowType==2,
                                               'ribbon-cyan': license.CurrentFlowType==3 || license.CurrentFlowType==4 || license.CurrentFlowType==5
                                                        || license.CurrentFlowType==6 ||license.CurrentFlowType==9 || license.CurrentFlowType==11  }">
                                    <div>
                                        {{GetFlowType(license.CurrentFlowType)}}
                                    </div>
                                </div>
                            </div>
                            <div class="body p-10">
                                <ol class="breadcrumb ba padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i> کارفرما:
                                        <strong>{{license.CEOFirstName}}&nbsp;{{license.CEOLastName}}</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb ba padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i> تاریخ درخواست:
                                        <strong>{{license.PersianDateCreated}}</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb ba padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i> شناسه واحد/کارگاه:
                                        <strong>{{license.CompanyCode}}</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb ba padding-0" ng-if="license.PersianStartDate">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i>  تاریخ شروع به فعالیت:
                                        <strong>{{license.PersianStartDate}}</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb ba padding-0" ng-if="license.PersianEndDate">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i>  تاریخ پایان اعتبار:
                                        <strong>{{license.PersianEndDate}}</strong>
                                    </li>
                                </ol>
                                <hr class="m-set" />
                                <div class="col-sm-6 padding-0">
                                    <i class="material-icons md-15 v-a col-red">more_vert</i> تصاویر قرارداد:
                                </div>
                                <div class="col-sm-6 padding-0 text-left">
                                    <hossein-file-upload ng-show="license.CurrentFlowType==2 || license.CurrentFlowType==8 || license.CurrentFlowType==10" action-url="/Api/Expert/AddContractScan" data="{{license.Id}}" title="اضافه کردن" success="LoadLicenses()"></hossein-file-upload>
                                </div>
                                <div class="col-sm-12">
                                    <div class="image-box m-t-10" ng-repeat="pictureId in license.ContractScanIds">
                                        <img viewerjs src="/Api/Expert/GetImage?ID={{pictureId}}&height=57&width=57" url="/Api/Expert/GetImage?ID={{pictureId}}" alt="تصویر قرارداد" role="button">
                                        <br />
                                        <button ng-show="license.CurrentFlowType==2 || license.CurrentFlowType==8 || license.CurrentFlowType==10" class="btn btn-danger btn-xs" ng-click="DeleteContractScan(pictureId)">
                                            <i class="material-icons md-15">delete_forever</i>
                                            <span>حذف</span>
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <hr class="m-set" />
                                <div class="col-sm-12 padding-0 m-b">
                                    <div class="col-sm-4">
                                        <button type="button"
                                                class="btn btn-md bg-light-green waves-effect"
                                                ng-click="OpenLicenseFlow(license.Id)">
                                            <i class="material-icons f-16">layers</i>
                                            <span>روند پرونده</span>
                                        </button>
                                    </div>
                                    <div class="col-sm-8">
                                        <button type="button" ng-if="license.CurrentFlowType==2"
                                                class="btn btn-md bg-default waves-effect" ng-click="SendMyLicense(license.Id)">
                                            <i class="material-icons f-16">send</i>
                                            <span>ارسال پرونده جهت بررسی صلاحیت</span>
                                        </button>
                                        <button type="button" ng-if="license.CurrentFlowType==8 || license.CurrentFlowType==10"
                                                class="btn btn-md btn-warning waves-effect" ng-click="Objectify(license.Id)">
                                            <i class="material-icons f-16">send</i>
                                            <span>ثبت اعتراض بر تصمیم گرفته شده</span>
                                        </button>
                                        <button type="button" ng-if="license.CurrentFlowType==7 && !license.Username"
                                                class="btn btn-md btn-success waves-effect" ng-click="CreateUserModal(license.Id)">
                                            <i class="material-icons f-16">send</i>
                                            <span>ایجاد نام کاربری</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>


