﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a><i class="material-icons ">person</i> پروفایل من</a></li>
        <li><a><i class="material-icons md-15 v-a">photo_library</i>تصاویر</a></li>
    </ol>
    <div class="row clearfix">
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <i class="material-icons md-18 v-a col-teal">photo</i>  تصویر شخص
                    <div class="header-dropdown">
                        <hossein-file-upload action-url="/Api/Expert/ChangePhotoScan" title="{{photoId?'تغییر دادن':'اضافه کردن'}}" success="ReloadPage()"></hossein-file-upload>
                    </div>
                </div>
                <div class="body">
                    <div class="image-box" ng-if="photoId">
                        <img viewerjs src="/Api/Expert/GetImage?ID={{photoId}}&height=100&width=100" url="/Api/Expert/GetImage?ID={{photoId}}" alt="تصویر شخص" role="button">
                        <br />
                        <a class="btn bg-cyan btn-block btn-xs waves-effect" ng-click="DeletePhotoScan()">
                            <i class="material-icons md-15">delete_forever</i>
                            <span>حذف</span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <i class="material-icons md-18 v-a col-teal">photo</i>  تصویر شناسنامه

                    <div class="header-dropdown">
                        <hossein-file-upload action-url="/Api/Expert/AddShenasnameScan" title="اضافه کردن" success="LoadPictures()"></hossein-file-upload>
                    </div>
                </div>
                <div class="body">
                    <div class="image-box" ng-repeat="pictureId in shenasnameScanIds">
                        <img viewerjs src="/Api/Expert/GetImage?ID={{pictureId}}&height=100&width=100" url="/Api/Expert/GetImage?ID={{pictureId}}" alt="تصویر شناسنامه" role="button">
                        <br />
                        <a class="btn bg-cyan btn-block btn-xs waves-effect" ng-click="DeleteShenasnameScan(pictureId)">
                            <i class="material-icons md-15">delete_forever</i>
                            <span>حذف</span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <i class="material-icons md-18 v-a col-teal">photo</i>تصویر کارت ملی
                    <div class="header-dropdown">
                        <hossein-file-upload action-url="/Api/Expert/AddNationalCardScan" title="اضافه کردن" success="LoadPictures()"></hossein-file-upload>
                    </div>
                </div>
                <div class="body">
                    <div class="image-box" ng-repeat="pictureId in nationalCardScanIds">
                        <img viewerjs src="/Api/Expert/GetImage?ID={{pictureId}}&height=100&width=100" url="/Api/Expert/GetImage?ID={{pictureId}}" alt="تصویر کارت ملی" role="button">
                        <br />
                        <a class="btn bg-cyan btn-block btn-xs waves-effect" ng-click="DeleteNationalCardScan(pictureId)">
                            <i class="material-icons md-15">delete_forever</i>
                            <span>حذف</span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <i class="material-icons md-18 v-a col-teal">photo</i>  تصویر سوابق بیمه
                    <div class="header-dropdown">
                        <hossein-file-upload action-url="/Api/Expert/AddInsuranceScan" title="اضافه کردن" success="LoadPictures()"></hossein-file-upload>
                    </div>
                </div>
                <div class="body">
                    <div class="image-box" ng-repeat="pictureId in insuranceScanIds">
                        <img viewerjs src="/Api/Expert/GetImage?ID={{pictureId}}&height=100&width=100" url="/Api/Expert/GetImage?ID={{pictureId}}" alt="تصویر سوابق بیمه" role="button">
                        <br />
                        <a class="btn bg-cyan btn-block btn-xs waves-effect" ng-click="DeleteInsuranceScan(pictureId)">
                            <i class="material-icons md-15">delete_forever</i>
                            <span>حذف</span>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>