﻿<div class="modal-header">
    <button type="button" class="close" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <strong class="modal-title">تغییر گذرواژه</strong>
</div>
<div class="modal-body">
    <form name="passwordFrom">
        <div class="form-group">
            <div class="form-line">
                <input type="password" class="form-control" ng-model="oldPassword">
                <label class="form-label">گذرواژه فعلی</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-line">
                <input type="password" class="form-control" ng-model="newPassword">
                <label class="form-label">گذرواژه جدید</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-line">
                <input type="password" class="form-control" ng-model="newPasswordAgain">
                <label class="form-label">تکرار گذرواژه جدید</label>
            </div>
        </div>
        <button class="btn btn-block btn-info waves-effect" type="submit" ng-click="passwordFrom.$valid && ChangePassword()">ثبت تغییرات</button>
    </form>
</div>