﻿
<form name="reportFrom">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <strong class="modal-title">نظارت بر فرآیند انجام کار و شرایط کار کارگران{{title}}</strong>
    </div>
    <div class="modal-body content">
        <ul class="list-group">
            <li class="list-group-item font-13">
                <i class="f-16 material-icons m-l-5 col-red">more_vert</i>
                آیا برنامه مستمری برای بازدید و بازرسی از شرایط ایمنی کارگاه تعریف شده در محیط کار وجود دارد؟ دوره زمانی بازرسی توسط مسئول یا ناظران/ افسران ایمنی :
                <br />
                <div class="col-sm-2 m-t-5">
                    <div class="form-group m display ">
                        <input id="md_checkbox_1" class="filled-in chk-col-cyan" type="checkbox">
                        <label for="md_checkbox_1" class="form-label f-s2">روزانه</label>
                    </div>
                </div>
                <div class="col-sm-2 m-t-5">
                    <div class="form-group m display">
                        <input id="md_checkbox_2" class="filled-in chk-col-cyan" type="checkbox">
                        <label for="md_checkbox_2" class="form-label f-s2">هفتگی</label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item font-13">
                <i class="f-16 material-icons m-l-5 col-red">more_vert</i>
                شیوه احراز انطباق، گزارش دهی و ثبت نتایج:
                <br />
                <div class="col-sm-2 m-t-15 p-r-0">
                    <div class="form-group m display ">
                        <input id="md_checkbox_3" class="filled-in chk-col-cyan" type="checkbox">
                        <label for="md_checkbox_3" class="form-label f-s2 ">چک لیست</label>
                    </div>
                </div>
                <div class="col-sm-3 m-t-15 p-r-0 p-l-0">
                    <div class="form-group m display">
                        <input id="md_checkbox_4" class="filled-in chk-col-cyan" type="checkbox">
                        <label for="md_checkbox_4" class="form-label f-s2">گزارش مشروح</label>
                    </div>
                </div>
                <div class="col-sm-6 m-t-5 p-r-0">
                    <div class="form-group form-float form-group-sm">
                        <div class="form-line">
                            <input type="text" class="form-control" ng-model="companyName">
                            <label class="form-label">تعداد...</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item font-13">
                <div><i class="f-16 material-icons m-l-5 col-red">more_vert</i>تعداد گزارش های ثبت شده منتج از بازرسی در دوره ارزیابی:</div>
                <div class="col-sm-8 m-t-5 p-r-0">
                    <div class="form-group form-float form-group-sm">
                        <div class="form-line">
                            <input type="text" class="form-control" ng-model="companyName">
                            <label class="form-label">تعداد...</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>


            <li class="list-group-item font-13">
                <div>
                    <i class="f-16 material-icons m-l-5 col-red">more_vert</i>
                    در صورتیکه کارگاه دارای نظام تشویق و تذکر برای رفتار صحیح و اعمال ناایمن است تعداد موارد ثبت شده در دوره ارزیابی بر اساس آیین نامه انضباطی کارگاه:
                </div>
                <div class="col-sm-8 m-t-5 p-r-0">
                    <div class="form-group form-float form-group-sm">
                        <div class="form-line">
                            <input type="text" class="form-control" ng-model="companyName">
                            <label class="form-label">تعداد...</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white waves-effect" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-success waves-effect" ng-click="reportFrom.$valid && Nothing()">ثبت تغییرات</button>
    </div>
</form>

