﻿<form name="reportFrom">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <strong class="modal-title">وسایل حفاظت فردی{{title}}</strong>
    </div>
    <div class="modal-body content">
        <ul class="list-group">
            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_1" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_1" class="form-label owner">
                        وسایل حفاظت فردی مورد نیاز در هر بخش از کارگاه و زمانبندی تحویل، شناسایی و فهرست شده است.
                        .
                    </label>
                    <div class="col-sm-8 m-t-5 p-r-0">
                        <div class="form-group form-float form-group-sm">
                            <div class="form-line">
                                <input type="text" class="form-control" ng-model="companyName">
                                <label class="form-label">درباره برنامه زمانبندی تحویل توضیح دهید...</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_2" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_2" class="form-label owner">
وسایل حفاظت فردی مورد نیاز در هر بخش از کارگاه تهیه و به تعداد کافی در اختیار کارگران گذاشته شده است.
                    </label>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_3" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_3" class="form-label owner">
                        آیا وسایل و تجهیزات مورد استفاده دارای تاییدیه لازم از مراجع ذیصلاح می باشند.
                    </label>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white waves-effect" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-success waves-effect" ng-click="reportFrom.$valid && Nothing()">ثبت تغییرات</button>
    </div>
</form>