﻿


<form name="reportFrom">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <strong class="modal-title">گزارش پیگیری اخذ گواهینامه ایمنی وسایل و تجهیزات کارگاهی{{title}}</strong>
    </div>
    <div class="modal-body content">
        <table id="mainTable" class="table table-bordered" style="cursor: pointer;">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th ng-model="">نوع تجهیزات</th>
                    <th ng-model="">گزارش مختصر از تاریخ و نتیجه بازدید، اخذ گواهینامه و نام مشاور صادر کننده</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td tabindex="1">1</td>
                    <td tabindex="1">آسانسورها</td>
                    <td tabindex="1"></td>
                </tr>
                <tr>
                    <td tabindex="1">2</td>
                    <td tabindex="1">بالابرها و جرثقیل ها</td>
                    <td tabindex="1"></td>
                </tr>
                <tr>
                    <td tabindex="1">3</td>
                    <td tabindex="1">دیگ های بخار و ظروف تحت فشار</td>
                    <td tabindex="1"></td>
                </tr>
                <tr>
                    <td tabindex="1">4</td>
                    <td tabindex="1">سیستم ارتینگ</td>
                    <td tabindex="1"></td>
                </tr>
                <tr>
                    <td tabindex="1">5</td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                </tr>
            </tbody>
        </table>

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white waves-effect" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-success waves-effect" ng-click="reportFrom.$valid && Nothing()">ثبت تغییرات</button>
    </div>
</form>

