﻿<form name="reportFrom">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <strong class="modal-title">سیستم صدور مجوز و معاینات پزشکی قبل از استخدام{{title}}</strong>
    </div>
    <div class="modal-body content">
        <ul class="list-group">
            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_1" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_1" class="form-label owner">
                        سیستم صدور مجوز کار برای فعالیت های نظیر کار در ارتفاع، کار در فضای بسته، کار گرم و ... در کارگاه وجود دارد.
                    </label>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white waves-effect" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-success waves-effect" ng-click="reportFrom.$valid && Nothing()">ثبت تغییرات</button>
    </div>
</form>