﻿<form name="reportFrom">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <strong class="modal-title">ثبت آمار حوادث ناشی از کار اتفاق افتاده در دوره ارزیابی بر اساس دفتر موضوع تبصره ماده 95 قانون کار{{title}}</strong>
    </div>
    <div class="modal-body content">
        <ul class="list-group">
            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_21" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_21" class="form-label owner">
                        در دوره ارزیابی حادثه ای در کارگاه به وقوع پیوست.
                    </label>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item font-13">
                <table id="mainTable" class="table table-bordered" style="cursor: pointer;">
                    <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>نام و نام خانوادگی حادثه دیده</th>
                            <th>شغل</th>
                            <th>نتیجه حادثه</th>
                            <th>تاریخ و ساعت وقوع</th>
                            <th>محل وقوع حادثه</th>
                            <th>علت وقوع حادثه</th>
                            <th>اقدامات اصلاحی انجام شده برای پیشگیری از حوادث مشابه</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                        </tr>
                        <tr>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                        </tr>
                        <tr>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                        </tr>
                    </tbody>
                </table>

            </li>
            <li class="list-group-item font-13">
                <div>
                    <i class="f-16 material-icons m-l-5 col-red">more_vert</i> آیا در کارگاه سیستمی برای ثبت شبه حوادث و گزارش اعمال و شرایط ناایمن وجود دارد؟ توضیح دهید.
                </div>
                <div class="col-sm-12 m-t-5 p-r-0">
                    <div class="form-group form-float form-group-sm">
                        <div class="form-line">
                            <input type="text" class="form-control" ng-model="companyName">
                            <label class="form-label">توضیحات...</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white waves-effect" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-success waves-effect" ng-click="reportFrom.$valid && Nothing()">ثبت تغییرات</button>
    </div>
</form>
