﻿

<form name="reportFrom">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <strong class="modal-title">دستورالعملهای ایمنی و حفاظت فنی{{title}}</strong>
    </div>
    <div class="modal-body content">
        <table id="mainTable" class="table table-bordered" style="cursor: pointer;">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th class="text-center">نام واحد کارگاهی / عنوان شغلی</th>
                    <th class="text-center">تعداد دستورالعملهای تدوین شده برای این بخش</th>
                    <th class="text-center">تعداد فرآیند های باقیمانده که نیاز به تهیه دستورالعمل دارند</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
            </tbody>
        </table>
        <ul class="list-group">
            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_1" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_1" class="form-label owner">
                        دستورالعمل ها مستندسازی شده است
                    </label>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item font-13">
                <i class="f-16 material-icons m-l-5 col-red">more_vert</i>
                تعداد مواد شیمیایی مورد استفاده در کارگاه که برای آنها اطلاعات مواد شیمیایی MSDS تهیه شده است
                <div class="col-sm-8 m-t-5 p-r-0">
                    <div class="form-group form-float form-group-sm">
                        <div class="form-line">
                            <input type="text" class="form-control" ng-model="companyName">
                            <label class="form-label">مورد</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </li>

            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_2" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_2" class="form-label owner">
                        کاربران و افراد در معرض برگه اطلاعات مواد شیمیایی را دراختیار دارند و آموزش دیده اند.
                    </label>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_3" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_3" class="form-label owner">
                        کارگاه طرح یا برنامه واکنش در شرایط اضطراری می باشد.
                    </label>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_4" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_4" class="form-label owner">
                        مهمترین خطرات احتمالی که می تواند سبب ایجاد شرایط اضطراری یا بحران در کارگاه شود شناسایی شده است
                    </label>
                </div>
                <div class="col-sm-8 m-t-5 p-r-0">
                    <div class="form-group form-float form-group-sm">
                        <div class="form-line">
                            <input type="text" class="form-control" ng-model="companyName">
                            <label class="form-label">این خطرات را نام ببرید...</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_5" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_5" class="form-label owner">
                        در دوره ارزیابی در کارگاه مانور آمادگی و مقابله با شرایط اضطراری اجرا شده است.
                    </label>
                    <span class="col-red font-11">(در صورت مثبت بودن پاسخ ، اطلاعات زیر تکمیل گردد) </span>
                </div>
                <div class="col-sm-3 m-t-5 p-r-0">
                    <div class="form-group form-float form-group-sm">
                        <div class="form-line">
                            <input type="text" class="form-control" ng-model="companyName">
                            <label class="form-label">تعداد مانورهای برگزار شده</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 m-t-5 p-r-0">
                    <div class="form-group form-float form-group-sm">
                        <div class="form-line">
                            <input type="text" class="form-control" ng-model="companyName">
                            <label class="form-label">تعداد مانورهای برگزار شده</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 m-t-5 p-r-0">
                    <i class="f-16 material-icons m-l-5 col-red">more_vert</i>
               ارزیابی آمادگی کارگاه 
                    <br />
                    <div class="col-sm-2 m-t-5">
                        <div class="form-group m display ">
                            <input id="md_checkbox_6" class="filled-in chk-col-cyan" type="checkbox">
                            <label for="md_checkbox_6" class="form-label f-s2">خوب</label>
                        </div>
                    </div>
                    <div class="col-sm-2 m-t-5">
                        <div class="form-group m display">
                            <input id="md_checkbox_7" class="filled-in chk-col-cyan" type="checkbox">
                            <label for="md_checkbox_7" class="form-label f-s2">متوسط</label>
                        </div>
                    </div>
                    <div class="col-sm-2 m-t-5">
                        <div class="form-group m display">
                            <input id="md_checkbox_8" class="filled-in chk-col-cyan" type="checkbox">
                            <label for="md_checkbox_8" class="form-label f-s2">ضعیف</label>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </li>

        </ul>


        <div class="clearfix"></div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white waves-effect" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-success waves-effect" ng-click="reportFrom.$valid && Nothing()">ثبت تغییرات</button>
    </div>
</form>

<li class="list-group-item font-13">

    <div class="clearfix"></div>
</li>