﻿

<form name="reportFrom">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <strong class="modal-title">مدیریت ریسک: شناسایی خطر، ارزیابی ریسک و تهیه برنامه های پاسخگویی و کنترل خطرات{{title}}</strong>
    </div>
    <div class="modal-body content">
        <div class="col-lg-12">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control" ng-model="companyName">
                    <label class="form-label">نام روش/ روشهای شناسایی خطرات و ارزیابی ریسک:</label>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control" ng-model="companyName">
                    <label class="form-label">تاریخ اولین مرحله شناسایی خطرات:</label>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control" ng-model="companyName">
                    <label class="form-label">تعداد بازنگری:</label>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control" ng-model="companyName">
                    <label class="form-label">تاریخ بازنگری:</label>
                </div>
            </div>
        </div>
        <hr />
        <table id="mainTable" class="table table-bordered" style="cursor: pointer;">
            <thead>
                <tr>
                    <th rowspan="2">ردیف</th>
                    <th rowspan="2">نام واحد کارگاهی</th>
                    <th rowspan="2">تعداد پرسنل واحد</th>
                    <th rowspan="2">تعداد خطرات شناسایی شده</th>
                    <th colspan="2">طبقه ریسک (مورد)</th>
                    <th colspan="3">اقدامات اصلاحی تعریف شده (مورد)</th>
                    <th>درصد پیشرفت اقدامات اصلاحی</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1">غیرقابل قبول</td>
                    <td tabindex="1">قابل قبول</td>
                    <td tabindex="1">فنی مهندسی</td>
                    <td tabindex="1">اطلاعات مدیریتی</td>
                    <td tabindex="1">وسایل حفاظت فردی</td>
                    <td tabindex="1">انجام شده</td>
                </tr>
                <tr>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                </tr>
            </tbody>
        </table>

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white waves-effect" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-success waves-effect" ng-click="reportFrom.$valid && Nothing()">ثبت تغییرات</button>
    </div>
</form>



