﻿

<form name="reportFrom">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <strong class="modal-title">مشخصات عمومی کارگاه{{title}}</strong>
    </div>
    <div class="modal-body content">
        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control" ng-model="companyName">
                    <label class="form-label">نام شرکت/کارگاه:</label>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <select class="form-control" required>
                        <option value="">مالکیت:</option>
                        <option ng-value="1">خصوصی</option>
                        <option ng-value="2">دولتی</option>
                        <option ng-value="3">تعاونی</option>
                        <option ng-value="4">عمومی</option>
                        <option ng-value="5">سایر</option>
                    </select>
                </div>
                <div class="form-line">
                    <input type="text" placeholder="سایر" class="form-control" ">
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control">
                    <label class="form-label">نام کارفرما:</label>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control">
                    <label class="form-label">تعداد کارگران:</label>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control">
                    <label class="form-label">تعداد کارگران پیمانکاران:</label>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control">
                    <label class="form-label">تعداد شیفتهای کاری:</label>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-6">
            <div class="col-lg-6 padding-0">
                <div class="form-group form-float form-group-sm">
                    <div class="form-line">
                        <select class="form-control" required>
                            <option value="">تعداد مسئولین ایمنی مستقر در هر شیفت :</option>
                            <option ng-value="1">شیفت 1</option>
                            <option ng-value="2">شیفت 2</option>
                            <option ng-value="3">شیفت 3</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 p-l-0">
                <div class="form-group form-float">
                    <div class="form-line focused warning">
                        <input class="form-control" name="success" value="" required="" type="email">
                        <label class="form-label">مقدار</label>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control">
                    <label class="form-label">نام مدیر/مسئول ایمنی:</label>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control">
                    <label class="form-label">تعداد کارکنان بخش ایمنی:</label>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control" id="birthdate">
                    <label class="form-label">تاریخ صدور تایید صلاحیت اولیه مسئول ایمنی:</label>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <select class="form-control" required>
                        <option value="">نحوه حضور مسئول ایمنی در کارگاه :</option>
                        <option ng-value="1">تمام وقت</option>
                        <option ng-value="2">پاره وقت</option>
                    </select>
                </div>
            </div>
        </div>



        <div class="col-lg-12 col-md-6">
            <div class="col-lg-6 padding-0">
                <div class="form-group form-float form-group-sm">
                    <div class="form-line">
                        <select class="form-control" required>
                            <option value="">حوزه فعالیت :</option>
                            <option ng-value="1">صنعت</option>
                            <option ng-value="2">معدن</option>
                            <option ng-value="3">ساختمان</option>
                            <option ng-value="3">اب و برق و گاز</option>
                            <option ng-value="3">خدمات</option>
                            <option ng-value="3">سایر</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 p-l-0">
                <div class="form-group form-float form-group-sm">
                    <div class="form-line focused warning">
                        <input class="form-control" type="text">
                        <label class="form-label">مقدار:</label>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control">
                    <label class="form-label">محصول/خدمت تولیدی:</label>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control">
                    <label class="form-label">تلفن کارگاه:</label>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control">
                    <label class="form-label">فکس کارگاه:</label>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control">
                    <label class="form-label">تلفن تماس مسئول فنی:</label>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-6">
            <div class="form-group form-float form-group-sm">
                <div class="form-line">
                    <input type="text" class="form-control">
                    <label class="form-label">آدرس محل فعالیت:</label>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white waves-effect" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-success waves-effect" ng-click="reportFrom.$valid && Nothing()">ثبت تغییرات</button>
    </div>
</form>