﻿

<form name="reportFrom">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <strong class="modal-title">آموزش ایمنی (آموزشهای برگزار شده در دوره ارزیابی){{title}}</strong>
    </div>
    <div class="modal-body content">

        <table id="mainTable" class="table table-bordered" style="cursor: pointer;">
            <thead>
                <tr>
                    <th rowspan="2">ردیف</th>
                    <th rowspan="2">عنوان دوره های آموزشی ضمن خدمت</th>
                    <th colspan="3">تعداد شرکت کنندگان دوره</th>
                    <th rowspan="2">مدت آموزش</th>
                    <th rowspan="2">تاریخ برگزاری</th>
                    <th rowspan="2">محل برگزاری</th>
                    <th rowspan="2">مجری آموزش و صدور گواهینامه</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1">کارگران</td>
                    <td tabindex="1">سرپرستان</td>
                    <td tabindex="1">کارفرما/مدیران</td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                </tr>
                <tr>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                    <td tabindex="1"></td>
                </tr>
            </tbody>
        </table>

        <ul class="list-group">
            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_21" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_21" class="form-label owner">
                        کارگران در بدو استخدام آموزشهای ایمنی لازم مرتبط با ایمنی کار را می گذارنند.
                    </label>
                </div>
                <div class="col-sm-4 m-t-5 p-r-0">
                    <div class="form-group form-float form-group-sm">
                        <div class="form-line">
                            <input type="text" class="form-control" ng-model="companyName">
                            <label class="form-label">ساعت...</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix"></div>
            </li>
        </ul>





        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white waves-effect" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-success waves-effect" ng-click="reportFrom.$valid && Nothing()">ثبت تغییرات</button>
    </div>
</form>

