﻿
<form name="reportFrom">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <strong class="modal-title">ایمنی پیمانکاران{{title}}</strong>
    </div>
    <div class="modal-body content">
        <ul class="list-group">
            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_1" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_1" class="form-label owner">
                        معاینات پزشکی قبل از استخدام و دوره ای وفق ماده 92 قانون کار برای کارگران کارگاه انجام می شود.
                    </label>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="list-group-item font-13">
                <div class="form-group m">
                    <input id="md_checkbox_1" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_1" class="form-label owner">
                        کارگاه دارای پیمانکارانی برای انجام فعالیت های مختلف می باشد.
                    </label>
                    <span class="col-red font-13">(در صورت مثبت بودن پاسخ ، اطلاعات زیر تکمیل گردد) </span>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <table id="mainTable" class="table table-bordered" style="cursor: pointer;">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th class="text-center">نام پیمانکار/شرکت</th>
                    <th class="text-center">موضوع پیمان</th>
                    <th class="text-center">مدت پیمان</th>
                    <th class="text-center">تعداد کارگران پیمانکار</th>
                    <th class="text-center">پیمانکار تاییدیه صلاحیت ایمنی از بازرسی کار دارند</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center">
                        <input id="md_checkbox_11" class="filled-in chk-col-cyan" type="checkbox">
                        <label for="md_checkbox_11" class="form-label owner"></label>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="clearfix"></div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white waves-effect" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-success waves-effect" ng-click="reportFrom.$valid && Nothing()">ثبت تغییرات</button>
    </div>
</form>