﻿


<form name="reportFrom">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <strong class="modal-title">کمیته حفاظت فنی و بهداشت کار{{title}}</strong>
    </div>
    <div class="modal-body content">
        <div class="col-lg-12 col-md-6">
            <div class="form-group form-float form-group-sm m-b-0">
                <div class="form-group m">
                    <input id="md_checkbox_21" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_21" class="form-label owner"> کمیته حفاظت فنی کارگاه مطابق آیین نامه مرتبط تشکیل گردیده است.</label>
                </div>
                <div class="form-group m">
                    <input id="md_checkbox_22" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_22" class="form-label owner"> جلسات کمیته به طور منظم و مستمر با حضور اعضاء برگزار می شود.</label>

                </div>
                <div class="form-group m">
                    <input id="md_checkbox_23" class="filled-in chk-col-cyan" type="checkbox">
                    <label for="md_checkbox_23" class="form-label owner"> جلسات کمیته به طور منظم به اداره کار محل ارسال می شود.</label>
                </div>
                <hr />

                <table id="mainTable" class="table table-bordered" style="cursor: pointer;">
                    <thead>
                        <tr>
                            <th>ردیف</th>
                            <th ng-model="">سمت در کمیته حفاظت فنی و بهداشت کار</th>
                            <th ng-model="">نام و نام خانوادگی</th>
                            <th ng-model="">سابقه در کارگاه</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td tabindex="1">1</td>
                            <td tabindex="1">نماینده کارفرما</td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                        </tr>
                        <tr>
                            <td tabindex="1">2</td>
                            <td tabindex="1">مدیر فنی / سر استادکاران</td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                        </tr>
                        <tr>
                            <td tabindex="1">3</td>
                            <td tabindex="1">نماینده کارگران</td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                        </tr>
                        <tr>
                            <td tabindex="1">4</td>
                            <td tabindex="1">نماینده کارگران</td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                        </tr>
                        <tr>
                            <td tabindex="1">5</td>
                            <td tabindex="1">مسئول ایمنی</td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                        </tr>
                        <tr>
                            <td tabindex="1">6</td>
                            <td tabindex="1">مسئول بهداشت  حرفه ای</td>
                            <td tabindex="1"></td>
                            <td tabindex="1"></td>
                        </tr>
                    </tbody>
                </table>
                <table id="myTable">
                    <tr>
                        <td>Row1 cell1</td>
                        <td>Row1 cell2</td>
                    </tr>
                    <tr>
                        <td>Row2 cell1</td>
                        <td>Row2 cell2</td>
                    </tr>
                    <tr>
                        <td>Row3 cell1</td>
                        <td>Row3 cell2</td>
                    </tr>
                </table>
                <button onclick="myFunction()">Try it</button>
                <input style="background-color:red;position: absolute; top: 141.3px; right: 20px;
                  text-align: start;
                  width: 274px; height: 41px; display: none; padding: 10px; font-size: 14px;
                  font-weight: 400;">
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white waves-effect" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-success waves-effect" ng-click="reportFrom.$valid && Nothing()">ثبت تغییرات</button>
    </div>
</form>


<script>
    function myFunction() {
        var table = document.getElementById("myTable");
        var row = table.insertRow(0);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.innerHTML = "NEW CELL1";
        cell2.innerHTML = "NEW CELL2";
    }
</script>
