﻿body {
    font-family: 'YekanWeb','YekanNumbersWeb';
}

.form-control {
    padding: 0 12px;
}

.english {
    font-family: Arial, Tahoma;
}

.number, .english {
    direction: ltr;
}

input::-webkit-input-placeholder {
    font-family: 'YekanWeb' !important;
    text-align: right !important;
}

input:-moz-placeholder {
    font-family: 'YekanWeb' !important;
    text-align: right !important;
}

input::-moz-placeholder {
    font-family: 'YekanWeb' !important;
    text-align: right !important;
}

input:-ms-input-placeholder {
    font-family: 'YekanWeb' !important;
    text-align: right !important;
}

h2 {
    font-family: 'MitraWeb';
}

.timeline-title.timeline-alert{
    color:red !important;
}

.timeline-title.timeline-success{
    color:green !important;
}
.text-red {
    color: #C55F5F;
    font-weight: bold;
    padding: 0 10px;
}
.img-circle {
    border-radius: 6%;
    border: 1px solid #b8dad3;
    margin: 0 2px;
}
.timeline-item.decison-making {
    /*background-color: #ffd8ae;*/
}
.timeline-item.success {
    background-color: #b7ffae;
}
.timeline-item.failure {
    background-color: #ffd1d1;
}
.document-modal-window .modal-dialog {
    width: 75%;
}
.contact-box {
    height: 200px;
}
.timeline-item .description{
    color:red;
}
.captchaImg {
    padding: 4px;
    border: 1px solid #e5e6e7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}