﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a><i class="material-icons ">person</i> پروفایل من</a></li>
        <li><a><i class="material-icons md-15 v-a">photo_library</i> تصاویر</a></li>
    </ol>
  
    <div class="row clearfix">
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <i class="material-icons md-18 v-a col-teal">photo</i>  تصویر شخص
                    <div class="header-dropdown">
                        <hossein-file-upload action-url="/Api/CEO/ChangePhotoScan" title="{{photoId?'تغییر دادن':'اضافه کردن'}}" success="ReloadPage()"></hossein-file-upload>
                    </div>
                </div>
                <div class="body">
                    <div class="image-box" ng-if="photoId">
                        <img viewerjs src="/Api/CEO/GetImage?ID={{photoId}}&height=100&width=100" url="/Api/CEO/GetImage?ID={{photoId}}" alt="تصویر شخص" role="button">
                        <br />
                        <a class="btn btn-danger" ng-click="DeletePhotoScan()">حذف</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <i class="material-icons md-18 v-a col-teal">photo</i>  تصویر شناسنامه
    
                    <div class="header-dropdown">
                        <hossein-file-upload action-url="/Api/CEO/AddShenasnameScan" title="اضافه کردن" success="LoadPictures()"></hossein-file-upload>
                    </div>
                </div>
                <div class="body">
                    <div class="image-box" ng-repeat="pictureId in shenasnameScanIds">
                        <img viewerjs src="/Api/CEO/GetImage?ID={{pictureId}}&height=100&width=100" url="/Api/CEO/GetImage?ID={{pictureId}}" alt="تصویر شناسنامه" role="button">
                        <br />
                        <a class="btn btn-danger" ng-click="DeleteShenasnameScan(pictureId)">حذف</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card" ng-show="hasTPC">
                <div class="header">
                    <i class="material-icons md-18 v-a col-teal">photo</i>  تصویر کمیته حفاظت فنی
                    <div class="header-dropdown">
                        <hossein-file-upload action-url="/Api/CEO/AddTPCScan" title="اضافه کردن" success="LoadPictures()"></hossein-file-upload>
                    </div>
                </div>
                <div class="body">
                    <div class="image-box" ng-repeat="pictureId in tpcScanIds">
                        <img viewerjs src="/Api/CEO/GetImage?ID={{pictureId}}&height=100&width=100" url="/Api/CEO/GetImage?ID={{pictureId}}" alt="تصویر کمیته حفاظت فنی" role="button">
                        <br />
                        <a class="btn btn-danger" ng-click="DeleteTPCScan(pictureId)">حذف</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <i class="material-icons md-18 v-a col-teal">photo</i>تصویر کارت ملی
                    <div class="header-dropdown">
                        <hossein-file-upload action-url="/Api/CEO/AddNationalCardScan" title="اضافه کردن" success="LoadPictures()"></hossein-file-upload>
                    </div>
                </div>
                <div class="body">
                    <div class="image-box" ng-repeat="pictureId in nationalCardScanIds">
                        <img viewerjs src="/Api/CEO/GetImage?ID={{pictureId}}&height=100&width=100" url="/Api/CEO/GetImage?ID={{pictureId}}" alt="تصویر کارت ملی" role="button">
                        <br />
                        <a class="btn btn-danger" ng-click="DeleteNationalCardScan(pictureId)">حذف</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <i class="material-icons md-18 v-a col-teal">photo</i>  تصویر سوابق بیمه
                    <div class="header-dropdown">
                        <hossein-file-upload action-url="/Api/CEO/AddInsuranceScan" title="اضافه کردن" success="LoadPictures()"></hossein-file-upload>
                    </div>
                </div>
                <div class="body">
                    <div class="image-box" ng-repeat="pictureId in insuranceScanIds">
                        <img viewerjs src="/Api/CEO/GetImage?ID={{pictureId}}&height=100&width=100" url="/Api/CEO/GetImage?ID={{pictureId}}" alt="تصویر سوابق بیمه" role="button">
                        <br />
                        <a class="btn btn-danger" ng-click="DeleteInsuranceScan(pictureId)">حذف</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>