﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a><i class="material-icons ">person</i> پروفایل من</a></li>
        <li><a><i class="material-icons md-15 v-a">library_books</i>استخدام</a></li>
    </ol>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="notify m-b-15">
                        می توانید از <b>نام</b>، <b>نام خانوادگی</b>، <b>کدملی</b>، <b>شماره همراه</b>، <b>ایمیل</b>، <b>نام کاربری</b>، <b>استان</b> و یا <b>شهرستان</b> برای جستجوی فرد مورد نظر استفاده نمایید.
                    </div>
                    <label class="form-label m-b-10">
                        <i class="material-icons md-18 col-red v-a">more_vert</i>  جستجوی مسئول ایمنی
                    </label>
                    <div class="input-group">
                        <input type="text" ng-model="searchBox" class="form-control search" placeholder="جستجو...">
                        <span class="input-group-btn">
                            <button type="button" class="btn bg-cyan" ng-click="Search()">
                                <i class="material-icons md-15" >search</i>
                                <span>جستجو</span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="bounceInLeft animated" ng-class="{ale:result.length==0}" ng-show="hasResult">
                    <div class="body">
                        <span  ng-if="result.length==0" class="col-red"><i class="material-icons col-red v-a">warning</i> موردی پیدا نگردید.</span>
                        <div class="col-md-6 col-lg-4" ng-repeat="expert in result">
                            <div class="card">
                                <div class="header bg-lime">
                                    <h2>
                                        {{expert.FullName}}<small ng-if="expert.MaxEducation">
                                            <span ng-if="expert.MaxEducation.DegreeLevel==1">سیکل</span>
                                            <span ng-if="expert.MaxEducation.DegreeLevel==2">دیپلم</span>
                                            <span ng-if="expert.MaxEducation.DegreeLevel==3">کارشناسی</span>
                                            <span ng-if="expert.MaxEducation.DegreeLevel==4">کارشناسی ارشد</span>
                                            <span ng-if="expert.MaxEducation.DegreeLevel==5">دکتری</span>
                                            &nbsp;{{expert.MaxEducation.EducationField}}
                                        </small>
                                    </h2>
                                    <img class="expert-photo" src="/Api/CEO/GetImage?ID={{expert.PhotoScan_ID}}&height=60&width=60" />
                                </div>
                                <div class="body p-10">
                                    <ol class="breadcrumb padding-0">
                                        <li class="active">
                                            <i class="material-icons col-red">more_vert</i> کدملی:
                                            <strong>{{expert.NationalCode}}</strong>
                                        </li>
                                    </ol>
                                    <ol class="breadcrumb padding-0">
                                        <li class="active">
                                            <i class="material-icons col-red">more_vert</i> سن:
                                            <strong>{{expert.Age}}</strong>
                                        </li>
                                    </ol>
                                    <ol class="breadcrumb padding-0">
                                        <li class="active">
                                            <i class="material-icons col-red">more_vert</i>
                                            ایمیل: <strong>{{expert.Email}}</strong>
                                        </li>
                                    </ol>
                                    <ol class="breadcrumb padding-0">
                                        <li class="active">
                                            <i class="material-icons col-red f-s">location_on</i>
                                            ساکن: <strong>{{expert.Province}},&nbsp;{{expert.County}}</strong>
                                        </li>
                                    </ol>
                                    <hr class="padding-0" />
                                    <button type="button" class="btn btn-block btn-xs bg-default waves-effect" ng-click="Hire(expert.Username)">
                                        <i class="material-icons">supervisor_account</i>
                                        <span>استخدام</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>