﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a><i class="material-icons ">person</i> پروفایل من</a></li>
        <li><a><i class="material-icons md-15 v-a">library_books</i>اطلاعات پایه</a></li>
    </ol>
    
    <div class="notify m-b-15">این اطلاعات پس از بررسی و دریافت تاییدیه قابل تغییر نمی باشند</div>

    
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
               
                    <div class="header f-h font-18">
                        <i class="material-icons md-18 col-red v-a">more_vert</i>   اطلاعات پایه
                    </div>
                
                <div class="body">
                    <form name="basicFrom">
                        <!--<h2 class="card-inside-title">اطلاعات فرد</h2>-->
                        <div class="row clearfix">
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" required class="form-control" ng-model="unitName">
                                        <label class="form-label">نام کارگاه/واحد</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" required class="form-control" ng-model="companyCode">
                                        <label class="form-label">شناسه ملی کارگاه/واحد</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" ng-model="socialSecurityCode">
                                        <label class="form-label">کد تامین اجتماعی کارگاه(اختیاری)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control" required ng-model="fieldOfActivityId">
                                            <option value="">-- موضوع فعالیت --</option>
                                            <option ng-repeat="fieldOfActivity in fieldOfActivities" ng-value="fieldOfActivity.ID">
                                                {{fieldOfActivity.Name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control" required ng-model="productionTypeId">
                                            <option value="">-- نوع تولید --</option>
                                            <option ng-repeat="productionType in productionTypes" ng-value="productionType.ID">
                                                {{productionType.Name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control number" required number ng-model="maleWorkersNo">
                                        <label class="form-label">تعداد کارگران مرد</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control number" required number ng-model="femaleWorkersNo">
                                        <label class="form-label">تعداد کارگران زن</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control number" required number ng-model="morningWorkersNo">
                                        <label class="form-label">تعداد کارگران شیفت صبح</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control number" required number ng-model="eveningWorkersNo">
                                        <label class="form-label">تعداد کارگران شیفت عصر</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control number" required number ng-model="nightWorkersNo">
                                        <label class="form-label">تعداد کارگران شیفت شب</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control number" required number ng-model="safetyWorkersNo">
                                        <label class="form-label">تعداد مسئولین ایمنی</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control number" required number ng-model="workshopSize">
                                        <label class="form-label">وسعت کارگاه</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group focused">
                                    <input type="checkbox" id="tpc" class="filled-in chk-col-blue" ng-model="technicalProtectionCommittee">
                                    <label for="tpc">کمیته حفاظت فنی دارد</label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-block btn-info waves-effect" type="submit" ng-click="basicFrom.$valid && ModifyWorkshopInfo()">ثبت تغییرات</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#birthdate').pDatepicker({ format: 'YYYY/MM/DD' });
    });
</script>