﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a><i class="material-icons ">person</i> پروفایل من</a></li>
        <li><a><i class="material-icons md-15 v-a">library_books</i>اطلاعات محل سکونت</a></li>
    </ol>

    <div class="notify m-b-15">این اطلاعات پس از بررسی و دریافت تاییدیه قابل تغییر نمی باشند</div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header f-h font-18">
                    <i class="material-icons md-18 col-red v-a">more_vert</i>   اطلاعات محل سکونت
                </div>
                <div class="body">
                    <form name="contactFrom">
                        <!--<h2 class="card-inside-title">اطلاعات فرد</h2>-->
                        <div class="row clearfix">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control" required ng-model="provinceID" ng-change="SelectProvince()">
                                            <option value="">-- انتخاب کنید --</option>
                                            <option ng-value="province.ID" ng-repeat="province in provinces">
                                                {{province.Name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <select class="form-control" required ng-model="countyID">
                                            <option value="">-- انتخاب کنید --</option>
                                            <option ng-value="county.ID" ng-repeat="county in counties">
                                                {{county.Name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" required class="form-control" ng-model="phone">
                                        <label class="form-label">تلفن</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" required class="form-control" ng-model="postalCode">
                                        <label class="form-label">کدپستی</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" required class="form-control" ng-model="address">
                                        <label class="form-label">آدرس</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-block btn-info waves-effect" type="submit" ng-click="contactFrom.$valid && ModifyWorkshopLocation()">ثبت تغییرات</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
