﻿@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html ng-app="isaap">
<head>
    <title>سامانه تایید صلاحیت کارشناسان ایمنی و حفاظت فنی</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1000, initial-scale=1, maximum-scale=1, minimum-scale=.1">
    <!--no cache for this fellow-->
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <!--end-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/Resources/images/favicon.png" sizes="32x32" type="image/png">
    <link href="/Resources/plugins/persian-fonts/persian-fonts.css" rel="stylesheet" />
    <link href="/Resources/plugins/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="/Resources/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Resources/plugins/inspinia/animate.css" rel="stylesheet" />
    <link href="/Resources/plugins/inspinia/style.css" rel="stylesheet" />
    <link href="/Resources/plugins/persian-datepicker/css/persian-datepicker-0.4.5.min.css" rel="stylesheet" />
    <link href="/Resources/plugins/fileupload/jquery.fileupload.css" rel="stylesheet" />
    <link href="/Resources/plugins/toastr/toaster.min.css" rel="stylesheet" />
    <link href="/Resources/plugins/viewerjs/viewer.css" rel="stylesheet" />
    <link href="/Resources/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <!--Customization-->
    <link href="/Resources/styles/layout.css" rel="stylesheet" />
</head>
<body ng-controller="indexCtrl" class="rtls skin-2">
    <toaster-container></toaster-container>
    <div ui-view></div>
    <script src="/Resources/plugins/jquery/jquery-2.1.1.js"></script>
    <script src="/Resources/plugins/jquery/jquery-ui-1.10.4.min.js"></script>
    <script src="/Resources/plugins/bootstrap/js/bootstrap.rtl.min.js"></script>
    <script src="/Resources/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/Resources/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/Resources/plugins/pace/pace.min.js"></script>
    <script src="/Resources/plugins/inspinia/inspinia.js"></script>
    <script src="/Resources/plugins/chartJs/Chart.min.js"></script>
    <!--Not Inspinia-->
    <script src="/Resources/plugins/persian-datepicker/persian-date.js"></script>
    <script src="/Resources/plugins/persian-datepicker/persian-datepicker-0.4.5.min.js"></script>
    <script src="/Resources/plugins/fileupload/jquery.fileupload.js"></script>
    <script src="/Resources/plugins/viewerjs/viewer.js"></script>
    <!-- Main Angular scripts-->
    <script src="/Resources/plugins/angularjs/angular.min.js"></script>
    <script src="/Resources/plugins/angularjs/angular-sanitize.js"></script>
    <script src="/Resources/plugins/oclazyload/ocLazyLoad.min.js"></script>
    <script src="/Resources/plugins/angularjs/angular-ui-router.min.js"></script>
    <script src="/Resources/plugins/bootstrap/js/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="/Resources/plugins/angular-idle/angular-idle.js"></script>
    <script src="/Resources/plugins/angularjs/angular-route.min.js"></script>
    <script src="/Resources/plugins/toastr/toaster.min.js"></script>
    <!-- Anglar App Script -->
    <script src="/Angular/app.js?v=1.6.7"></script>
    <script src="/Angular/config.js?v=1.6.7"></script>
    <script src="/Angular/services.js?v=1.6.7"></script>
    <script src="/Resources/plugins/inspinia/directives.js?v=1.6.7"></script>
    <script src="/Angular/directives.js?v=1.6.7"></script>
    <!--Controllers-->
    <script src="/Angular/controllers/indexCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/homeCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/profileCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/expert/infoCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/expert/experiencesCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/expert/certificationsCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/expert/attachmentsCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/expert/documentCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/expert/requestCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/expert/reportsCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/admin/clubsCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/admin/countyinspectorsCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/admin/usersCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/admin/systemlockCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/staff/mydocumentsCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/staff/bigreportCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/expert/licenseCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/analyzer/allDocumentsCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/staff/documentviewCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/staff/workingdocumentsCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/staff/waitingdocumentsCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/staff/donedocumentsCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/staff/oldreportCtrl.js?v=1.6.7"></script>
    <script src="/Angular/controllers/staff/expertreportsCtrl.js?v=1.6.7"></script>
</body>
</html>
