﻿<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12" ng-if="currentFlowChart">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>وضعیت کنونی کل پرونده های سامانه</h5>
                </div>
                <div class="ibox-content">
                    <canvas hossein-chartjs chartdata="currentFlowChart.chartdata" options="currentFlowChart.options" type="doughnut"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-6">
            <div class="ibox float-e-margins" ng-if="authorizedChart">
                <div class="ibox-title">
                    <h5>صلاحیت داده شده ها بر اساس تعداد کارگر</h5>
                </div>
                <div class="ibox-content">
                    <canvas hossein-chartjs chartdata="authorizedChart.chartdata" options="authorizedChart.options" type="doughnut"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox float-e-margins" ng-if="certificationChart">
                <div class="ibox-title">
                    <h5>دوره های آموزشی انتخاب شده</h5>
                </div>
                <div class="ibox-content">
                    <canvas hossein-chartjs chartdata="certificationChart.chartdata" options="certificationChart.options" type="bar"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins" ng-if="registerChart">
                <div class="ibox-title">
                    <h5>نمودار ثبت نام</h5>
                </div>
                <div class="ibox-content">
                    <canvas height="100" hossein-chartjs chartdata="registerChart.chartdata" options="registerChart.options" type="line"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
