﻿<div class="m-t-lg">
    <div class="input-group">
        <input type="text" placeholder="جستجو..." class="form-control" ng-model="filter.Phrase" ng-return="Search()"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-white" ng-click="Search()">جستجو</button>
        </span>
    </div>
    <div ng-if="filter.AppliedPhrase.length>0">
        <span class="badge badge-info">{{filter.AppliedPhrase}}&nbsp;<a class="text-danger" ng-click="EmptyFilter()">x</a></span>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-4" ng-repeat="document in documents.Data">
            <div class="contact-box">
                <div class="col-sm-4">
                    <div class="text-center">
                        <a ui-sref="staff.documentview({username: '{{document.UserName}}'})">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="/Api/File/GetImage?ID={{document.PhotoScan_Key}}&height=70&width=70">
                        </a>
                        <small class="m-t-xs font-bold">{{document.CurrentWorkShop.UnitName}}</small>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3><strong>{{document.FullName}}</strong></h3>
                    <p ng-if="document.CurrentFlow.Type==8">رد شده بار اول</p>
                    <p ng-if="document.CurrentFlow.Type==10">رد شده بار دوم</p>
                    <p ng-if="document.CurrentFlow.Type==2">پرونده ناقص</p>
                    <p ng-if="document.CurrentFlow.Type==3">در دست انجمن</p>
                    <p ng-if="document.CurrentFlow.Type==3">در دست انجمن</p>
                    <p ng-if="document.CurrentFlow.Type==4">در دست بازرس شهرستان</p>
                    <p ng-if="document.CurrentFlow.Type==5">در دست کانون</p>
                    <p ng-if="document.CurrentFlow.Type==7">دارای صلاحیت</p>
                    <p ng-if="document.CurrentFlow.Type==6">در دست بازرس استان</p>
                    <p ng-if="document.CurrentFlow.Type==9">در دست مدیر بازرسی استان</p>
                    <p ng-if="document.CurrentFlow.Type==11">در دست اداره کل بازرسی کشور</p>
                    <p><i class="fa fa-map-marker"></i> شاغل در {{document.WorkContact.County.Province.Name}}، {{document.WorkContact.County.Name}}</p>
                    <p><i class="fa fa-map-marker"></i>ساکن در{{document.HomeContact.County.Province.Name}}، {{document.HomeContact.County.Name}}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <uib-pagination ng-model="pagination.CurrentPage" ng-change="ChangePage()"
                        total-items="documents.Count"
                        max-size="10"
                        boundary-links="true">
        </uib-pagination>
    </div>
</div>