﻿<div class="wrapper wrapper-content" ng-if="document.CurrentFlow.Staff_ID==staff.Id">
    <div class="ibox-title">
        <h3>تصمیم گیری</h3>
    </div>
    <div class="ibox-content">
        <div>
            <textarea class="col-sm-12 m-b" style="height:100px;" placeholder="توضیحات" ng-model="decision.Description"></textarea>
        </div>
        <div>
            <div class="col-sm-9">
                <div class="row" ng-if="document.CurrentFlow.Type==6 || document.CurrentFlow.Type==9 || document.CurrentFlow.Type==11">
                    <a class="btn btn-success col-sm-4 m-l btn-sm" ng-click="Authorize()">
                        تایید صلاحیت مسئول فنی
                    </a>
                    <a class="btn btn-danger col-sm-4 m-l btn-sm" ng-click="Unauthorize()">
                        رد صلاحیت مسئول فنی
                    </a>
                </div>
                <div class="row m-t" ng-if="document.CurrentFlow.Type==3 || document.CurrentFlow.Type==4 || document.CurrentFlow.Type==5 || document.CurrentFlow.Type==6">
                    <a class="btn btn-success col-sm-4 m-l btn-sm" ng-click="Accept()" ng-if="document.CurrentFlow.Type!=6">
                        تایید صحت مدارک
                    </a>
                    <a class="btn btn-danger col-sm-4 m-l btn-sm" ng-click="Reject()">
                        رد صحت مدارک
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div ng-include="'Statics/Expert/overview.html'"></div>