﻿<div class="m-t-lg">
    <div class="input-group">
        <input type="text" placeholder="جستجو..." class="form-control" ng-model="filter.Phrase" ng-return="Search()" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-white" ng-click="Search()">جستجو</button>
        </span>
    </div>
    <div ng-if="filter.AppliedPhrase.length>0">
        <span class="badge badge-info">{{filter.AppliedPhrase}}&nbsp;<a class="text-danger" ng-click="EmptyFilter()">x</a></span>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4" ng-repeat="report in reports.Data">
            <div class="contact-box report-box" ng-class="{'report-accepted': report.IsAccepted}">
                <div class="col-sm-4">
                    <div class="text-center">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="/Api/File/GetImage?ID={{report.PhotoScan_Key}}&height=70&width=70">
                        <br/>
                        <small ng-if="report.IsAccepted">تایید شده</small>
                        <small ng-if="!report.IsAccepted">تایید نشده</small>    
                        <br />
                        <a class="btn btn-sm btn-primary" ng-click="OpenComments(report.Id)">
                            نظرات
                        </a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3 ng-if="report.ReportType==1">{{seasonFromIndex(report.SeasonData.Season)}} {{report.SeasonData.Year}}</h3>
                    <a href="/Api/File/GetReportFile?ID={{report.File_Key}}" class="report-download">
                       {{report.FileName}}
                    </a>                    
                    <p>{{report.FullName}}</p>
                    <p>کد گواهینامه: {{report.NezamCode}}</small>
                    <p>{{report.UnitName}}، {{report.WorkProvince}}، {{report.WorkCounty}}</p>
                    
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <uib-pagination ng-model="pagination.CurrentPage" ng-change="ChangePage()"
                        total-items="reports.Count"
                        max-size="10"
                        boundary-links="true">
        </uib-pagination>
    </div>
</div>
