﻿<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title">
            جستجو
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="row col-md-12 m-t">
                    <div class="col-md-4">
                        <label>نام کارشناس ایمنی</label>
                        <br />
                        <input type="text" ng-model="reportData.FullName" placeholder="نام و نام خانوادگی" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>همراه</label>
                        <br />
                        <input type="text" ng-model="reportData.Mobile" placeholder="همراه" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>وضعیت کنونی پرونده</label>
                        <br />
                        <select style="width:100%" ng-model="reportData.CurrentFlowType">
                            <option value="">همه موارد</option>
                            <option ng-value="3">در دست انجمن شهرستان</option>
                            <option ng-value="4">در دست بازرس شهرستان</option>
                            <option ng-value="5">در دست کانون استان</option>
                            <option ng-value="6">در دست اداره بازرسی استان</option>
                            <option ng-value="7">مورد صلاحیت قرار گرفته</option>
                            <option ng-value="8">رد اولیه بدون اعتراض</option>
                            <option ng-value="9">در دست مدیر کل استان</option>
                            <option ng-value="10">رد ثانویه بدون اعتراض</option>
                            <option ng-value="11">در دست اداره کل بازرسی کار</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-title">
            تاریخ ها
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="row col-md-12 m-t">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <label>تاریخ تولد از</label>
                            <input id="birthdayFrom" type="text" ng-model="reportData.PersianBirthdayFrom" placeholder="از" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>تا</label>
                            <input id="birthdayTo" type="text" ng-model="reportData.PersianBirthdayTo" placeholder="تا" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <label>تاریخ ثبت نام از</label>
                            <input id="registerDateFrom" type="text" ng-model="reportData.PersianRegisterDateFrom" placeholder="از" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>تا</label>
                            <input id="registerDateTo" type="text" ng-model="reportData.PersianRegisterDateTo" placeholder="تا" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 m-t">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <label>تاریخ آخرین وضعیت از</label>
                            <input id="currentFlowDateFrom" type="text" ng-model="reportData.PersianCurrentFlowDateFrom" placeholder="از" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>تا</label>
                            <input id="currentFlowDateTo" ng-model="reportData.PersianCurrentFlowDateTo" type="text" placeholder="تا" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-title" style="cursor:pointer;" ng-click="ToggleAdvancedSearch()">
            جستجوی پیشرفته
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" ng-if="ShowAdvancedSearch">
            <div class="row">
                <div class="row col-md-12 m-t">
                    <div class="col-md-4">
                        <label>کد ملی</label>
                        <br />
                        <input type="text" ng-model="reportData.NationalCode" placeholder="کد ملی" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>شماره شناسنامه</label>
                        <br />
                        <input type="text" ng-model="reportData.Shenasname" placeholder="شماره شناسنامه" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>محل تولد</label>
                        <br />
                        <input type="text" ng-model="reportData.PlaceOfBirth" placeholder="محل تولد" class="form-control">
                    </div>
                </div>
                <div class="row col-md-12 m-t">
                    <div class="col-md-3">
                        <label>جنسیت</label>
                        <br />
                        <select style="width:100%" ng-model="reportData.Gender">
                            <option value="">همه موارد</option>
                            <option ng-value="1">مرد</option>
                            <option ng-value="2">زن</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>وضعیت تاهل</label>
                        <br />
                        <select style="width:100%" ng-model="reportData.MaritalStatus">
                            <option value="">همه موارد</option>
                            <option ng-value="1">مجرد</option>
                            <option ng-value="2">متاهل</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>وضعیت سربازی</label>
                        <br />
                        <select style="width:100%" ng-model="reportData.MilitaryStatus">
                            <option value="">همه موارد</option>
                            <option ng-value="1">گذرانده</option>
                            <option ng-value="2">معافیت</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>تقاضا شرکت در المپیاد</label>
                        <br />
                        <select style="width:100%" ng-model="reportData.OlympiadRequest">
                            <option value="">همه موارد</option>
                            <option ng-value="true">دارد</option>
                            <option ng-value="false">ندارد</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-12 m-t">
                    <div class="col-md-4">
                        <label>رشته تحصیلی</label>
                        <br />
                        <select style="width:100%" ng-model="reportData.FieldOfStudyId">
                            <option value="">
                                --انتخاب کنید--
                            </option>
                            <option ng-repeat="field in fieldsOfStudy" ng-value="{{field.Id}}">
                                {{field.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>موضوع فعالیت کارگاه</label>
                        <br />
                        <select style="width:100%" ng-model="reportData.FieldOfActivityId">
                            <option value="">
                                --انتخاب کنید--
                            </option>
                            <option ng-value="activity.Id" ng-repeat="activity in fieldsOfActivity">
                                {{activity.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>نوع تولید</label>
                        <br />
                        <select style="width:100%" ng-model="reportData.ProductionTypeId">
                            <option value="">
                                --انتخاب کنید--
                            </option>
                            <option ng-value="type.Id" ng-repeat="type in productionTypes">
                                {{type.Name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-12 m-t">
                    <div class="col-md-3">
                        <label>استان محل سکونت</label>
                        <br />
                        <select ng-change="LoadHomeCounties()" style="width:100%" ng-model="reportData.HomeProvinceId">
                            <option value="">
                                --انتخاب کنید--
                            </option>
                            <option ng-repeat="province in provinces" ng-value="{{province.Id}}">
                                {{province.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>شهرستان محل سکونت</label>
                        <br />
                        <select style="width:100%" ng-model="reportData.HomeCountyId">
                            <option value="">
                                --انتخاب کنید--
                            </option>
                            <option ng-repeat="county in homeCounties" ng-value="{{county.Id}}">
                                {{county.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>استان محل اشتغال</label>
                        <br />
                        <select ng-change="LoadWorkCounties()" style="width:100%" ng-model="reportData.WorkProvinceId">
                            <option value="">
                                --انتخاب کنید--
                            </option>
                            <option ng-repeat="province in provinces" ng-value="{{province.Id}}">
                                {{province.Name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>شهرستان محل اشتغال</label>
                        <br />
                        <select style="width:100%" ng-model="reportData.WorkCountyId">
                            <option value="">
                                --انتخاب کنید--
                            </option>
                            <option ng-repeat="county in workCounties" ng-value="{{county.Id}}">
                                {{county.Name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-12 m-t">
                    <div class="col-md-4">
                        <label>نام شرکت</label>
                        <br />
                        <input type="text" ng-model="reportData.UnitName" placeholder="نام کارگاه" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>نام کارفرما</label>
                        <br />
                        <input type="text" ng-model="reportData.EmployerFullName" placeholder="نام مدیر عامل" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>شماره عضویت در انجمن</label>
                        <br />
                        <input type="text" ng-model="reportData.AssociationNumber" placeholder="شماره عضویت در انجمن" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="row col-md-12 m-t">
                    <div class="col-md-12 ">
                        <a class="btn btn-success" ng-click="GetResult()">نمایش اطلاعات</a>
                        <a class="btn btn-primary" href="/Api/Staff/GetMyExcelData" target="_blank">دریافت فایل اکسل</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox" ng-show="documents.Count">
        <div class="ibox-title">
            <h5>
                نتایج
            </h5>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>کارشناس ایمنی</th>
                        <th>شماره ملی</th>
                        <th>شماره شناسنامه</th>
                        <th>تاریخ تولد</th>
                        <th>همراه</th>
                        <th>کارفرما</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="document in documents.Data">
                        <td>{{$index + ((currentPage - 1) * pageSize) + 1}}
                        </td>
                        <td>
                            <a ui-sref="staff.documentview({username: '{{document.UserName}}'})" target="_blank">
                                {{document.FullName}}
                            </a>
                        </td>
                        <td>{{document.NationalCode}}</td>
                        <td>{{document.ShenasnameNo}}</td>
                        <td>{{document.PersianBirthDate}}</td>
                        <td>{{document.Mobile}}</td>
                        <td>{{document.CurrentWorkShop.EmployerName}}</td>
                    </tr>
                </tbody>
            </table>
            <uib-pagination ng-model="currentPage" ng-change="ChangePage()"
                        total-items="documents.Count"
                        max-size="10"
                        boundary-links="true">
            </uib-pagination>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#birthdayFrom").pDatepicker({ format: 'YYYY/MM/DD' });
        $("#birthdayTo").pDatepicker({ format: 'YYYY/MM/DD' });
        $("#registerDateFrom").pDatepicker({ format: 'YYYY/MM/DD' });
        $("#registerDateTo").pDatepicker({ format: 'YYYY/MM/DD' });
        $("#currentFlowDateFrom").pDatepicker({ format: 'YYYY/MM/DD' });
        $("#currentFlowDateTo").pDatepicker({ format: 'YYYY/MM/DD' });
    });
</script>


