﻿<li ng-class="{active: $state.includes('staff.mydocuments')}">
    <a ui-sref="staff.mydocuments">
        <i class="fa fa-list"></i>
        <span class="nav-label">پرونده های من</span>
    </a>
</li>
<li ng-class="{active: $state.includes('staff.workingdocuments')}">
    <a ui-sref="staff.workingdocuments">
        <i class="fa fa-list"></i>
        <span class="nav-label">پرونده های در حال بررسی</span>
    </a>
</li>
<li ng-class="{active: $state.includes('staff.waitingdocuments')}">
    <a ui-sref="staff.waitingdocuments">
        <i class="fa fa-list"></i>
        <span class="nav-label">پرونده های در دست فرد</span>
    </a>
</li>
<li ng-class="{active: $state.includes('staff.donedocuments')}">
    <a ui-sref="staff.donedocuments">
        <i class="fa fa-list"></i>
        <span class="nav-label">پرونده های تایید شده</span>
    </a>
</li>
<li ng-class="{active: $state.includes('staff.expertreports')}">
    <a ui-sref="staff.expertreports">
        <i class="fa fa-list"></i>
        <span class="nav-label">گزارش های ارسالی</span>
    </a>
</li>
<li ui-sref-active="active">
    <a>
        <i class="fa fa-user"></i>
        <span class="nav-label">گزارشات</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse">
        <li ng-class="{active: $state.includes('staff.bigreport')}">
            <a ui-sref="staff.bigreport">
                <i class="fa fa-user"></i>
                <span class="nav-label">گزارشات کارکرد سامانه</span>
            </a>
        </li>
    </ul>
    <ul class="nav nav-second-level collapse">
        <li ng-class="{active: $state.includes('staff.oldreport')}">
            <a ui-sref="staff.oldreport">
                <i class="fa fa-user"></i>
                <span class="nav-label">گزارشگیری قدیمی</span>
            </a>
        </li>
    </ul>    
</li>