﻿@font-face {
    font-family: "NazaninWeb";
    src: url("fonts/NazaninBold.eot") format("eot"), url("fonts/NazaninBold.woff") format("woff"), url("fonts/NAZANINB.ttf") format("truetype");
}
@font-face {
    font-family: 'YekanWeb';
    src: url("fonts/YekanWeb-Regular.eot");
    src: url("fonts/YekanWeb-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/YekanWeb-Regular.woff") format("woff"), url("fonts/YekanWeb-Regular.ttf") format("truetype"), url("fonts/YekanWeb-Regular.svg#YekanWeb-Regular") format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility
}
@font-face {
    font-family: 'YekanNumbersWeb';
    src: url("fonts/YekanNumbers-Regular.eot");
    src: url("fonts/YekanNumbers-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/YekanNumbers-Regular.woff") format("woff"), url("fonts/YekanNumbers-Regular.ttf") format("truetype"), url("fonts/YekanNumbers-Regular.svg#YekanNumbers-Regular") format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility
}
@font-face {
    font-family: 'MitraWeb';
    src: url("fonts/MitraWeb-Regular.eot");
    src: url("fonts/MitraWeb-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/MitraWeb-Regular.woff") format("woff"), url("fonts/MitraWeb-Regular.ttf") format("truetype"), url("fonts/MitraWeb-Regular.svg#MitraWeb-Regular") format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility
}
@font-face {
    font-family: 'MitraBoldWeb';
    src: url("fonts/MitraWeb-Bold.eot");
    src: url("fonts/MitraWeb-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/MitraWeb-Bold.woff") format("woff"), url("fonts/MitraWeb-Bold.ttf") format("truetype"), url("fonts/MitraWeb-Bold.svg#MitraWeb-Bold") format("svg");
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility
}
@font-face {
    font-family: 'NassimWeb';
    src: url("fonts/Nassim-Book.eot");
    src: url("fonts/Nassim-Book.eot?#iefix") format("embedded-opentype"), url("fonts/Nassim-Book.woff") format("woff"), url("fonts/Nassim-Book.ttf") format("truetype"), url("fonts/Nassim-Book.svg#Nassim-Book") format("svg");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility
}