﻿<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <h4 class="modal-title">نظرات بازرسان</h4>
    </div>
    <div class="modal-body" ng-show="comments.length>0">
        <div id="vertical-timeline" class="vertical-container dark-timeline">

            <div class="vertical-timeline-block" ng-repeat="comment in comments">
                <div class="vertical-timeline-icon red-bg" ng-if="!comment.IsAccepted">
                    <i class="fa fa-close"></i>
                </div>
                <div class="vertical-timeline-icon navy-bg" ng-if="comment.IsAccepted">
                    <i class="fa fa-check"></i>
                </div>
                <div class="vertical-timeline-content">
                    <p>
                        {{comment.Text}}
                    </p>
                    <span class="vertical-date">
                        {{comment.PersianDateCreated}} <br>
                        <small>{{comment.TimeCreated}}</small>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div ng-show="!isAccepted">
            <div class="form-group text-right">
                <label class="text-blue">
                    نتیجه بررسی توسط من
                </label>
                <div>
                    <textarea placeholder="نتیجه بررسی گزارش" ng-model="newComment" class="form-control"></textarea>
                </div>
            </div>
            <label class="text-red">
                در صورت تایید گزارش مدارک ثبت شده و قابل تغییر نخواهند بود
            </label>
        </div>
        <button type="button" class="btn btn-white" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-danger" ng-disabled="!newComment" ng-click="RejectReport()" ng-if="!isAccepted">رد گزارش</button>
        <button type="button" class="btn btn-primary" ng-click="AcceptReport()" ng-if="!isAccepted">تایید گزارش</button>
    </div>
</div>