﻿<li ng-class="{active: $state.includes('analyzer.documents')}">
    <a ui-sref="analyzer.documents">
        <i class="fa fa-list"></i>
        <span class="nav-label">پرونده ها</span>
    </a>
</li>