﻿@using Automation.UI.Models
@using Automation.UI.Models.StaffProfile
@model ProfileLayout
@{var childModel = (ApplicationProcess)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>تایید تطابق مدارک</h5>
                </div>
                <div class="ibox-content">
                    مدارک ارائه شده مورد تایید می باشند.
                    <button class="btn btn-primary pull-right" type="button" onclick="AcceptData()">
                        <i class="fa fa-check"></i>
                        &nbsp;تایید
                    </button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>رد تطابق مدارک</h5>
                </div>
                <div class="ibox-content">
                    مدارک ارائه شده تطابق ندارند.<br />
                    <textarea id="reasonOfRejection" placeholder="علت رد تطابق" class="col-sm-9 m-t"></textarea>
                    <button class="btn btn-danger pull-right m-t" type="button" onclick="RejectData()">
                        <i class="fa fa-remove"></i>
                        &nbsp;رد
                    </button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function AcceptData() {
        postData("/Staff/AcceptDataByAssociation", { Id: @childModel.Document.Id }, function (data) {
            RedirectTo("/Staff/Index");
        });
    }
    function RejectData(){
        postData("/Staff/RejectDataByAssociation", { Id: @childModel.Document.Id, reason: $("#reasonOfRejection").val() }, function (data) {
            RedirectTo("/Staff/Index");
        });
    }
</script>