﻿@using Automation.UI.Models
@using Automation.UI.Models.StaffProfile
@model ProfileLayout
@{var childModel = (MyDocuments)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>پرونده ها</h2>
        <ol class="breadcrumb">
            <li>
                <a>خانه</a>
            </li>
            <li class="active">
                <strong>پرونده ها</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @for (int i = 0; i < 3; i++)
    {
        <div class="col-sm-4">
            @for (int j = 0; i + j < childModel.Documents.Count; j += 3)
            {
                var thisDocument = childModel.Documents[i + j];
                <div class="ibox documentBox">
                    <div class="ibox-title">
                        <a href="/Staff/DocumentOverview?Id=@thisDocument.Id">
                            <h5>@thisDocument.FullName</h5>
                        </a>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>شماره ملی</h4>
                            </div>
                            <div class="col-lg-6">
                                @thisDocument.NationalCode
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>شماره شناسنامه</h4>
                            </div>
                            <div class="col-lg-6">
                                @thisDocument.ShenasnameNo
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>تاریخ تولد</h4>
                            </div>
                            <div class="col-lg-6">
                                @PersianDate.ConvertDate.ToFa(thisDocument.BirthDate.Value)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>نام پدر</h4>
                            </div>
                            <div class="col-lg-6">
                                @thisDocument.FatherName
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>وضعیت تاهل</h4>
                            </div>
                            <div class="col-lg-6">
                                @switch (thisDocument.MaritalStatus)
                                {
                                    case Automation.Model.Document.MaritalStates.Married:
                                        <span>متاهل</span>
                                        break;
                                    case Automation.Model.Document.MaritalStates.Single:
                                        <span>مجرد</span>
                                        break;
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h4>همراه</h4>
                            </div>
                            <div class="col-lg-6">
                                @thisDocument.Mobile
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
<div class="clearfix"></div>
