﻿@using Automation.UI.Models
@using Automation.UI.Models.StaffProfile
@model ProfileLayout
@{var childModel = (ApplicationProcess)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>تایید و صدور گواهینامه</h5>
                </div>
                <div class="ibox-content">
                    اطلاعات پرونده مورد تایید قرار گرفته و گواهی صادر گردد
                    <button class="btn btn-primary pull-right" type="button" onclick="AcceptDocument()">
                        <i class="fa fa-check"></i>
                        &nbsp;صدور
                    </button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>رد صلاحیت</h5>
                </div>
                <div class="ibox-content">
                    پرونده شرایط صدور گواهی را ندارد.<br />
                    <textarea id="reasonOfRejection" placeholder="علت رد صلاحیت" class="col-sm-9 m-t"></textarea>
                    <button class="btn btn-danger pull-right m-t" type="button" onclick="RejectDocument()">
                        <i class="fa fa-remove"></i>
                        &nbsp;رد
                    </button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function AcceptDocument() {
        postData("/Staff/AcceptDocumentByInspectionOffice", { Id: @childModel.Document.Id }, function (data) {
            RedirectTo("/Staff/Index");
        });
    }
    function RejectDocument(){
        postData("/Staff/RejectDocumentByInspectionOffice", { Id: @childModel.Document.Id, reason: $("#reasonOfRejection").val() }, function (data) {
            RedirectTo("/Staff/Index");
        });
    }
</script>