﻿@using Automation.Model
@using Automation.UI.Models
@using Automation.UI.Models.Report
@model ProfileLayout
@{var childModel = (ReportFilter)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title">
            <h5>
                فیلتر ها
            </h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <form action="/Staff/Reports" method="get">
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>رشته تحصیلی</label>
                            <br />
                            <select name="FieldOfStudy">
                                <option value="">انتخاب نمایید</option>
                                @foreach (var field in childModel.FieldsOfStudy)
                                {
                                    <option value="@field.Id" @(childModel.FieldOfStudy == field.Id ? "selected" : "")>
                                        @field.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-4">
                            <label>وضعیت سربازی</label>
                            <br />
                            <input type="radio" name="MilitaryService" value="" @(childModel.MilitaryService==null?"checked":"") /> همه موارد
                            <br />
                            <input type="radio" name="MilitaryService" value="1" @(childModel.MilitaryService == Document.MilitaryServiceStates.Passed?"checked":"")/> گذرانده
                            <br />
                            <input type="radio" name="MilitaryService" value="2" @(childModel.MilitaryService== Document.MilitaryServiceStates.Exempted?"checked":"")/> معافیت
                        </div>
                        <div class="col-lg-4">
                            <label>وضعیت تاهل</label>
                            <br />
                            <input type="radio" name="MaritalStates" value="" @(childModel.MaritalStates==null?"checked":"") /> همه موارد
                            <br />
                            <input type="radio" name="MaritalStates" value="1" @(childModel.MaritalStates==Document.MaritalStates.Single?"checked":"")/> مجرد
                            <br />
                            <input type="radio" name="MaritalStates" value="2" @(childModel.MaritalStates==Document.MaritalStates.Married?"checked":"")/> متاهل
                        </div>
                        <div class="col-lg-4">
                            <label>جنسیت</label>
                            <br />
                            <input type="radio" name="Gender" value="" @(childModel.Gender==null?"checked":"") /> همه موارد
                            <br />
                            <input type="radio" name="Gender" value="1" @(childModel.Gender==Document.GenderType.Male?"checked":"") /> مرد
                            <br />
                            <input type="radio" name="Gender" value="2" @(childModel.Gender==Document.GenderType.Female?"checked":"") /> زن
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-8">
                            <label>وضعیت کنونی پرونده</label>
                            <table>
                                <tr>
                                    <td>
                                        <input type="radio" name="CurrentFlowType" value="" @(childModel.CurrentFlowType==null?"checked":"") /> همه موارد
                                    </td>
                                    <td>
                                        <input type="radio" name="CurrentFlowType" value="3" @(childModel.CurrentFlowType==Flow.FlowType.SentToAssociation?"checked":"")/>در دست انجمن شهرستان
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="CurrentFlowType" value="4" @(childModel.CurrentFlowType==Flow.FlowType.SentToCountyInspector?"checked":"")/>در دست بازرس شهرستان
                                    </td>
                                    <td>
                                        <input type="radio" name="CurrentFlowType" value="5" @(childModel.CurrentFlowType==Flow.FlowType.SentToClub?"checked":"")/>در دست کانون استان
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="CurrentFlowType" value="6" @(childModel.CurrentFlowType==Flow.FlowType.SentToProvinceInspector?"checked":"")/>در دست اداره بازرسی استان
                                    </td>
                                    <td>
                                        <input type="radio" name="CurrentFlowType" value="7" @(childModel.CurrentFlowType==Flow.FlowType.Authorized?"checked":"")/>مورد صلاحیت قرار گرفته
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="CurrentFlowType" value="8" @(childModel.CurrentFlowType==Flow.FlowType.RejectedOnce?"checked":"")/>رد اولیه بدون اعتراض
                                    </td>
                                    <td>
                                        <input type="radio" name="CurrentFlowType" value="9" @(childModel.CurrentFlowType==Flow.FlowType.SentToProvinceManager?"checked":"")/>در دست مدیر کل استان
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="CurrentFlowType" value="10" @(childModel.CurrentFlowType==Flow.FlowType.RejectedTwice?"checked":"")/>رد ثانویه بدون اعتراض
                                    </td>
                                    <td>
                                        <input type="radio" name="CurrentFlowType" value="11" @(childModel.CurrentFlowType==Flow.FlowType.SentToInspectionOffice?"checked":"")/>در دست اداره کل بازرسی کار
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-4">
                            <label>نام کارشناس ایمنی</label>
                            <input type="text" name="FullName" placeholder="نام و نام خانوادگی" class="form-control" value="@childModel.FullName">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-4">
                            <label>شماره شناسنامه</label>
                            <input type="text" name="ShenasnameNo" placeholder="شماره شناسنامه" class="form-control" value="@childModel.ShenasnameNo">
                        </div>
                        <div class="col-lg-4">
                            <label>کد ملی</label>
                            <input type="text" name="NationalCode" placeholder="کد ملی" class="form-control" value="@childModel.NationalCode">
                        </div>
                        <div class="col-lg-4">
                            <label>محل تولد</label>
                            <input type="text" name="PlaceOfBirth" placeholder="محل تولد" class="form-control" value="@childModel.PlaceOfBirth">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-3">
                            <label>تولد از</label>
                            <input id="birthdayFrom" type="text" name="BirthDateFrom" placeholder="تولد از" class="form-control">
                        </div>
                        <div class="col-lg-3">
                            <label>تولد تا</label>
                            <input id="birthdayTo" type="text" name="BirthDateTo" placeholder="تولد تا" class="form-control">
                        </div>
                        <div class="col-lg-3">
                            <label>از</label>
                            <input id="dateFrom" type="text" name="From" placeholder="از" class="form-control">
                        </div>
                        <div class="col-lg-3">
                            <label>تا</label>
                            <input id="dateTo" type="text" name="To" placeholder="تا" class="form-control">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-8">
                            <label>شماره عضویت در انجمن</label>
                            <input type="text" name="AssociationNo" placeholder="شماره عضویت در انجمن" class="form-control" value="@childModel.AssociationNo">
                        </div>
                        <div class="col-lg-4">
                            <label>همراه</label>
                            <input type="text" name="Mobile" placeholder="همراه" class="form-control" value="@childModel.Mobile">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-3">
                            <label>استان محل سکونت</label>
                            <select class="form-control" name="HomeProvince" onchange="fillCounties($(this).val(), 'homeCountySelect');">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                @foreach (var province in childModel.Provinces)
                                {
                                    <option value="@province.Id">
                                        @province.Name
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>شهرستان محل سکونت</label>
                            <select class="form-control" name="HomeCounty" id="homeCountySelect">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>استان محل اشتغال</label>
                            <select class="form-control" name="WorkProvince" onchange="fillCounties($(this).val(), 'workCountySelect');">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                @foreach (var province in childModel.Provinces)
                                {
                                    <option value="@province.Id">
                                        @province.Name
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>شهرستان محل اشتغال</label>
                            <select class="form-control" name="WorkCounty" id="workCountySelect">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-12">
                            <label>رشته فعالیت</label>
                            <br />
                            <select name="FieldOfActivity">
                                <option value="">انتخاب نمایید</option>
                                @foreach (var field in childModel.FieldsOfActivity)
                                {
                                    <option value="@field.Id" @(childModel.FieldOfActivity == field.Id ? "selected" : "")>
                                        @field.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>نام شرکت</label>
                            <input type="text" name="WorkshopName" placeholder="نام کارگاه" class="form-control" value="@childModel.WorkshopName">
                        </div>
                        <div class="col-lg-6">
                            <label>نام کارفرما</label>
                            <input type="text" name="EmployerName" placeholder="نام مدیر عامل" class="form-control" value="@childModel.EmployerName">
                        </div>
                    </div>
                    @*<div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>نام بازرس شهرستان</label>
                            <input type="text" name="InspectorName" placeholder="نام بازرس شهرستان" class="form-control" value="@childModel.InspectorName">
                        </div>
                    </div>*@
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-12 ">
                            <input type="submit" class="btn btn-success" value="اعمال" />
                            <a class="btn btn-primary" href="/Staff/GetNumericalExcel" target="_blank" >گزارش اکسل تعداد</a>
                            <a class="btn btn-primary" href="/Staff/GetWholeExcel" target="_blank">گزارش اکسل کلی</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="ibox">
        <div class="ibox-title">
            <h5>
                نتایج
            </h5>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr>
                            <th>کارشناس ایمنی</th>
                            <th>شماره ملی</th>
                            <th>شماره شناسنامه</th>
                            <th>تاریخ تولد</th>
                            <th>همراه</th>
                            <th>کارفرما</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var result in childModel.Results)
                        {
                            <tr>
                                <td>
                                    <a href="~/Staff/DocumentOverview?Id=@result.Id" target="_blank">
                                        @result.FullName
                                    </a>
                                </td>
                                <td>@result.NationalCode</td>
                                <td>@result.ShenasnameNo</td>
                                <td>@PersianDate.ConvertDate.ToFa(result.BirthDate.Value)</td>
                                <td>@result.Mobile</td>
                                <td>@result.CurrentWorkShop.EmployerName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#birthdayFrom").pDatepicker({ format: 'YYYY/MM/DD' });
        $("#birthdayTo").pDatepicker({ format: 'YYYY/MM/DD' });
        $("#dateFrom").pDatepicker({ format: 'YYYY/MM/DD' });
        $("#dateTo").pDatepicker({ format: 'YYYY/MM/DD' });
        setTimeout("SetDate('birthdayFrom','@childModel.BirthDateFrom')", 1000);
        setTimeout("SetDate('birthdayTo','@childModel.BirthDateTo')", 1000);
        setTimeout("SetDate('dateFrom','@childModel.From')", 1000);
        setTimeout("SetDate('dateTo','@childModel.To')", 1000);
        $('.dataTables-example').dataTable({
            responsive: true,
            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "/Resources/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
            }
        });
    });
    function SetDate(elem, val) {
        $("#" + elem).val(val);
    }
    function fillCounties(provinceID, countySelectID) {
        var $select = $('#' + countySelectID);
        $select.find('option.dynamic').remove();
        if (provinceID != "") {
            postData("/System/GetAllCounties", { provinceID: provinceID }, function (data) {
                data = JSON.parse(data);
                $.each(data, function (id, county) {
                    $select.append('<option class="dynamic" value=' + county.ID + '>' + county.Name + '</option>');
                });
            });
        }
    }
</script>


