﻿
<div class="card">
    <div class="header bg-grey">
        اطلاعات پروانه
    </div>
    <div class="body">
        <div class="col-lg-4 col-md-6">
            <strong>نام:</strong>
            {{data.Expert.FirstName}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>نام خانوادگی:</strong>
            {{data.Expert.LastName}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>نام کاربری اصلی:</strong>
            {{data.Expert.Username}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>کدملی:</strong>
            {{data.Expert.NationalCode}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>تاریخ تولد:</strong>
            {{data.Expert.PersianBirthDate}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>نام پدر:</strong>
            {{data.Expert.FatherName}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>شماره شناسنامه:</strong>
            {{data.Expert.ShenasnameNo}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>شماره همراه:</strong>
            {{data.Expert.Mobile}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>ایمیل:</strong>
            {{data.Expert.Email}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>جنسیت:</strong>
            <span ng-if="data.Expert.Gender==1">
                مرد
            </span>
            <span ng-if="data.Expert.Gender==2">
                زن
            </span>
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>وضعیت تاهل:</strong>
            <span ng-if="data.Expert.MaritalStatus==1">
                مجرد
            </span>
            <span ng-if="data.Expert.MaritalStatus==2">
                متاهل
            </span>
        </div>
        <div class="col-lg-4 col-md-6" ng-if="data.Expert.Gender==1">
            <strong>وضعیت سربازی:</strong>
            <span ng-if="data.Expert.MilitaryStatus==1">
                گذرانده
            </span>
            <span ng-if="data.Expert.MilitaryStatus==2">
                معاف
            </span>
        </div>
        <div class="col-lg-4 col-md-6" ng-if="data.Expert.Gender==1 && data.Expert.MilitaryStatus==2">
            <strong>علت معافیت:</strong>
            {{data.Expert.ReasonOfExemption}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>محل تولد:</strong>
            {{data.Expert.PlaceOfBirth}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>شهرستان محل سکونت:</strong>
            {{data.Expert.HomeProvince}},&nbsp;{{data.Expert.HomeCounty}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>کدپستی محل سکونت:</strong>
            {{data.Expert.HomePostalCode}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>تلفن محل سکونت:</strong>
            {{data.Expert.HomePhone}}
        </div>
        <div class="col-sm-12">
            <strong>آدرس محل سکونت:</strong>
            {{data.Expert.HomeAddress}}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="header bg-grey">
        پروانه شماره {{data.License.LicenseId}}
    </div>
    <div class="body">
        <div class="col-lg-4 col-md-6">
            <strong>تاریخ درخواست به مسئول ایمنی:</strong>
            {{data.License.PersianDateCreated}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>تاریخ شروع به فعالیت:</strong>
            <span ng-if="data.License.PersianStartDate">
                {{data.License.PersianStartDate}}
            </span>
            <span ng-if="!data.License.PersianStartDate">
                مشخص نشده
            </span>
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>تاریخ پایان فعالیت:</strong>
            <span ng-if="data.License.PersianEndDate">
                {{data.License.PersianEndDate}}
            </span>
            <span ng-if="!data.License.PersianEndDate">
                مشخص نشده
            </span>
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>نام کاربری پروانه:</strong>
            <span ng-if="data.License.Username">
                {{data.License.Username}}
            </span>
            <span ng-if="!data.License.Username">
                مشخص نشده
            </span>
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>شناسه شرکت:</strong>
            {{data.License.Company.CompanyCode}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>نام واحد/کارگاه:</strong>
            {{data.License.Company.UnitName}}
        </div>
        <div class="col-lg-4 col-md-6" ng-if="data.License.Company.SocialSecurityCode">
            <strong>کد تامین اجتماعی:</strong>
            {{data.License.Company.SocialSecurityCode}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>نام کارفرما:</strong>
            {{data.License.Company.CEOFirstName}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>نام خانوادگی کارفرما:</strong>
            {{data.License.Company.CEOLastName}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>نوع تولید:</strong>
            {{data.License.Company.ProductionType}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>حوزه فعالیت:</strong>
            {{data.License.Company.FieldOfActivity}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>درجه خطر:</strong>
            <span ng-if="data.License.Company.FieldOfActivityDangerLevel==0">
                نامشخص
            </span>
            <span ng-if="data.License.Company.FieldOfActivityDangerLevel==1">
                کم خطر
            </span>
            <span ng-if="data.License.Company.FieldOfActivityDangerLevel==2">
                خطر متوسط
            </span>
            <span ng-if="data.License.Company.FieldOfActivityDangerLevel==3">
                پر خطر
            </span>
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>تعداد کارگران مرد:</strong>
            {{data.License.Company.MaleWorkersNo}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>تعداد کارگران زن:</strong>
            {{data.License.Company.FemaleWorkersNo}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>تعداد کارگران صبح:</strong>
            {{data.License.Company.MorningWorkersNo}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>تعداد کارگران عصر:</strong>
            {{data.License.Company.EveningWorkersNo}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>تعداد کارگران شب:</strong>
            {{data.License.Company.NightWorkersNo}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>تعداد مسئولین ایمنی:</strong>
            {{data.License.Company.SafetyWorkersNo}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>وسعت کارگاه:</strong>
            {{data.License.Company.WorkshopSize}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>شهرستان محل کارگاه:</strong>
            {{data.License.Company.Province}},&nbsp;{{data.License.Company.County}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>کدپستی کارگاه:</strong>
            {{data.License.Company.PostalCode}}
        </div>
        <div class="col-lg-4 col-md-6">
            <strong>تلفن کارگاه:</strong>
            {{data.License.Company.Phone}}
        </div>
        <div class="col-sm-12">
            <strong>آدرس کارگاه:</strong>
            {{data.License.Company.Address}}
        </div>
        <div class="clearfix"></div>
    </div>
</div>

