﻿


<div class="card">
    <div class="header">
        <h2>
            <i class="material-icons v-a">more_vert</i>گزارشهای من
        </h2>
    </div>
    
    <div class="body">
        <div class="row clearfix">
            <div class="col-sm-10">
                <select class="form-control p-t-0" ng-model="modalType">
                    <option value="">-- انتخاب کنید --</option>
                    <option ng-value="1">مشخصات عمومی کارگاه</option>
                    <option ng-value="2">کمیته حفاظت فنی و بهداشت کار</option>
                    <option ng-value="3">مدیریت ریسک: شناسایی خطر، ارزیابی ریسک و تهیه برنامه های پاسخگویی و کنترل خطرات</option>
                    <option ng-value="4">نظارت بر فرآیند انجام کار و شرایط کار کارگران</option>
                    <option ng-value="5">ثبت آمار حوادث ناشی از کار اتفاق افتاده در دوره ارزیابی بر اساس دفتر موضوع تبصره ماده 95 قانون کار</option>
                    <option ng-value="6">آموزش ایمنی (آموزشهای برگزار شده در دوره ارزیابی)</option>
                    <option ng-value="7">وسایل حفاظت فردی</option>
                    <option ng-value="8">دستورالعملهای ایمنی و حفاظت فنی</option>
                    <option ng-value="9">ایمنی پیمانکاران</option>
                    <option ng-value="10">سیستم صدور مجوز و معاینات پزشکی قبل از استخدام</option>
                    <option ng-value="11">گزارش پیگیری اخذ گواهینامه ایمنی وسایل و تجهیزات کارگاهی</option>
                </select>
            </div>
            <div class="col-sm-2">
                <button class="btn  btn-info " type="submit" ng-click="OpenAddModal()"><i class="f-16 material-icons m-l-5">add_circle</i>افزودن</button>
            </div>
        </div>
    </div>
</div>


