﻿@model Automation.Model.Document
@{
    Layout = null;
}
<html>
<head>
    <link href="~/Resources/plugins/persian-fonts/persian-fonts.css" rel="stylesheet" />
    <style type="text/css">
        html, body {
            margin: 0;
            font-family: "NazaninWeb", "YekanNumbersWeb";
        }

        .A4Page {
            width: 21cm;
            height: 29.7cm;
            padding: 1cm;
        }

        .License {
            height: 100%;
            width: 100%;
            /*border: 1px solid black;*/
            direction: rtl;
        }

            .License .Detail {
                vertical-align: top;
                width: 4cm;
                padding-top: 5mm;
            }

            .License .Header {
                height: 1px;
            }

            .License .Image {
                margin: 3mm;
                padding: 1mm;
                /*border: 1px solid black;*/
            }
            .License .Signature {     
                display: table;
                padding-left: 20mm;
                text-align: center;
                padding-top: 10mm;
                font-size: 6mm;
                font-weight: bold;
            }
            .License .EmployerTitle{
                font-weight:bold;
                font-size:7mm;
                margin: 3mm;
                padding-right:4mm;
            }
            .License .Text{    
                font-size: 6mm;
                text-align: justify;
                padding: 5mm 9mm;
            }
            .License .Logo{
                font-size:5mm;
            }
    </style>
</head>
<body>
    <div class="A4Page">
        <table class="License">
            <tr class="Header">
                <td style="width:1px;">
                    <img src="/File/GetImage?Id=@Model.PhotoScan.Id&width=150&height=200" class="Image" />
                </td>
                <td align="center" class="Logo">
                    <img src="~/Resources/images/allah.png" style="width:15mm" />
                    <br />
                    جمهوری اسلامی ایران
                    <br />
                    وزارت تعاون، کار و رفاه اجتماعی
                    <br />
                    <strong>
                        اداره کل تعاون، کار و رفاه اجتماعی استان @Model.WorkContact.County.Province.Name
                        <br />
                        "نامه تاییدیه صلاحیت - فرم شماره 3"
                    </strong>
                </td>
                <td class="Detail">
                    <strong>
                        تاریخ:&nbsp;@PersianDate.ConvertDate.ToFa(Model.CurrentFlow.DateCreated)
                    </strong>
                    <br />
                    <strong>
                        شماره:&nbsp;@Model.Id
                    </strong>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="EmployerTitle">
                    @switch (Model.CurrentWorkShop.EmployerGender)
                    {
                        case Automation.Model.Document.GenderType.Male:
                            Write("جناب آقای ");
                            break;
                        case Automation.Model.Document.GenderType.Female:
                            Write("سرکار خانم ");
                            break;
                    }
                    @Model.CurrentWorkShop.EmployerName
                    <br />
                    مدیر عامل محترم شرکت @Model.CurrentWorkShop.UnitName
                    <br />
                    با سلام
                </td>
            </tr>
            <tr>
                <td colspan="3" class="Text">
                    احتراماً به آگاهی میرساند در اجرای ماده 3 آیین نامه بکارگیری مسئولین ایمنی در کارگاه ها مصوب 1394/01/31 شورای عالی حفاظت فنی و بهداشت کار، صلاحیت
                    @switch (Model.Gender)
                    {
                        case Automation.Model.Document.GenderType.Male:
                            Write("آقای");
                            break;
                        case Automation.Model.Document.GenderType.Female:
                            Write("خانم");
                            break;
                    }
                    @Model.FullName
                    برای احراز سمت مسئول ایمنی تایید میگردد. لذا از تاریخ صدور این تاییدیه ایشان میتوانند به مدت 2 سال بعنوان مسئول ایمنی در کارگاه
                    @Model.CurrentWorkShop.UnitName
                    فعالیت نماید. ضمناً وفق تبصره 2 ماده 3 آیین نامه، تمدید صلاحیت نامبرده منوط به بررسی و تایید عملکرد کاری خواهد بود.
                    <br />
                    خواهشمند است ترتیبی اتخاذ نمایید تا ضمن رعایت مفاد آیین نامه فوق الذکر، همکاری لازم در جهت انجام وظایف با ایشان صورت گیرد.
                    <br />
                </td>
            </tr>
            <tr>
                <td align="left" colspan="3">
                    <div class="Signature">
                        @Model.WorkContact.County.Province.ProvinceInspectors.Single().HeadFullName
                        <br />
                        رئیس اداره بازرسی استان @Model.WorkContact.County.Province.Name
                    </div>
                </td>
            </tr>
            <tr>
                <td style="height:100%; text-align:center; font-size:7mm;" colspan="3">
                    @if (Automation.UI.Models.ApplicationUser.FromClaimsIdentity(User).Type != Automation.Model.User.UserType.ProvinceInspector)
                    {
                        Write("لطفاً جهت اخذ اصل گواهینامه به اداره بازرسی کار استان مراجعه نمایید.");
                    }
                </td>
            </tr>
        </table>
    </div>
</body>
</html>