﻿<div class="wrapper wrapper-content">
    <div class="row" ng-if="document.AcademicInfoCompleted.IsComplete &&
                            document.BasicAttachmentsCompleted.IsComplete &&
                            document.BasicInfoCompleted.IsComplete &&
                            document.CertificationAttachmentsCompleted.IsComplete &&
                            document.CertificationCompleted.IsComplete &&
                            document.ContactInfoCompleted.IsComplete &&
                            document.WorkshopAttachmentsCompleted.IsComplete">
        <div class="ibox">
            <div class="ibox-content">
                <h2>
                    پرونده شما تکمیل گردیده و آماده ارسال می باشد
                    <a ui-sref="expert.document" class="btn btn-success btn-lg">ارسال پرونده</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>پیوست های پایه</h5>
                    <div class="ibox-tools">
                        <div class="ibox-tools">
                            <span class="label label-primary" ng-if="document.BasicAttachmentsCompleted.IsComplete">انجام شده</span>
                            <span class="label label-danger" ng-if="!document.BasicAttachmentsCompleted.IsComplete">{{document.BasicAttachmentsCompleted.Message}}</span>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <h5>
                        تصویر شخص
                    </h5>
                    <div ng-if="document.PhotoScan_Key">
                        <table class="inline">
                            <tr>
                                <td>
                                    <img viewerjs src="/Api/File/GetImage?ID={{document.PhotoScan_Key}}&height=100&width=100" url="/Api/File/GetImage?ID={{document.PhotoScan_Key}}" alt="تصویر شخص" role="button" class="img-circle">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a class="text-danger" ng-click="RemovePhotoScan();">حذف</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hossein-file-upload action-url="/Api/Expert/ChangePhotoScan" title="انتخاب تصویر" success="GetDocument()"></hossein-file-upload>
                </div>
                <div class="ibox-content">
                    <h5>
                        شناسنامه
                    </h5>
                    <div>
                        <table class="inline" ng-repeat="scan in document.ShenasnameScans">
                            <tr>
                                <td>
                                    <img viewerjs src="/Api/File/GetImage?ID={{scan.Key}}&height=100&width=70" url="/Api/File/GetImage?ID={{scan.Key}}" alt="تصویر شناسنامه" role="button" class="img-circle">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a class="text-danger" ng-click="RemoveShenasnameScan(scan)">حذف</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hossein-file-upload action-url="/Api/Expert/AddShenasnameScan" title="اضافه کردن" success="GetDocument()"></hossein-file-upload>
                </div>
                <div class="ibox-content">
                    <h5>
                        کارت ملی
                    </h5>
                    <div>
                        <table class="inline" ng-repeat="scan in document.NationalCardScans">
                            <tr>
                                <td>
                                    <img viewerjs src="/Api/File/GetImage?ID={{scan.Key}}&height=100&width=70" url="/Api/File/GetImage?ID={{scan.Key}}" alt="تصویر کارت ملی" role="button" class="img-circle">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a class="text-danger" ng-click="RemoveNationalCardScan(scan)">حذف</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hossein-file-upload action-url="/Api/Expert/AddNationalCardScan" title="اضافه کردن" success="GetDocument()"></hossein-file-upload>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>پیوست های مدارک</h5>
                    <div class="ibox-tools">
                        <span class="label label-primary" ng-if="document.CertificationAttachmentsCompleted.IsComplete">انجام شده</span>
                        <span class="label label-danger" ng-if="!document.CertificationAttachmentsCompleted.IsComplete">{{document.CertificationAttachmentsCompleted.Message}}</span>
                    </div>
                </div>
                <!--HighSchool-->
                <div class="ibox-content" ng-if="document.HighSchoolCertification">
                    <h5>
                        تصویر مدرک دیپلم
                    </h5>
                    <div>
                        <table class="inline" ng-if="document.HighSchoolCertification.ScanFile_Key">
                            <tr>
                                <td>
                                    <img viewerjs src="/Api/File/GetImage?ID={{document.HighSchoolCertification.ScanFile_Key}}&height=100&width=70" url="/Api/File/GetImage?ID={{document.HighSchoolCertification.ScanFile_Key}}" alt="تصویر مدرک دیپلم" role="button" class="img-circle">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a class="text-danger" ng-click="RemoveHighSchoolScan()">حذف</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hossein-file-upload action-url="/Api/Expert/ChangeHighSchoolScan" title="انتخاب تصویر" success="GetDocument()"></hossein-file-upload>
                </div>
                <!--Diploma-->
                <div class="ibox-content" ng-if="document.DiplomaCertification">
                    <h5>
                        تصویر مدرک کاردانی
                    </h5>
                    <div>
                        <table class="inline" ng-if="document.DiplomaCertification.ScanFile_Key">
                            <tr>
                                <td>
                                    <img viewerjs src="/Api/File/GetImage?ID={{document.DiplomaCertification.ScanFile_Key}}&height=100&width=70" url="/Api/File/GetImage?ID={{document.DiplomaCertification.ScanFile_Key}}" alt="تصویر مدرک کاردانی" role="button" class="img-circle">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a class="text-danger" ng-click="RemoveDiplomaScan()">حذف</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hossein-file-upload action-url="/Api/Expert/ChangeDiplomaScan" title="انتخاب تصویر" success="GetDocument()"></hossein-file-upload>
                </div>
                <!--Bachelors-->
                <div class="ibox-content" ng-if="document.BachelorsCertification">
                    <h5>
                        تصویر مدرک کارشناسی
                    </h5>
                    <div>
                        <table class="inline" ng-if="document.BachelorsCertification.ScanFile_Key">
                            <tr>
                                <td>
                                    <img viewerjs src="/Api/File/GetImage?ID={{document.BachelorsCertification.ScanFile_Key}}&height=100&width=70" url="/Api/File/GetImage?ID={{document.BachelorsCertification.ScanFile_Key}}" alt="تصویر مدرک کارشناسی" role="button" class="img-circle">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a class="text-danger" ng-click="RemoveBachelorScan()">حذف</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hossein-file-upload action-url="/Api/Expert/ChangeBachelorScan" title="انتخاب تصویر" success="GetDocument()"></hossein-file-upload>
                </div>
                <!--Masters-->
                <div class="ibox-content" ng-if="document.MastersCertification">
                    <h5>
                        تصویر مدرک کارشناسی ارشد
                    </h5>
                    <div>
                        <table class="inline" ng-if="document.MastersCertification.ScanFile_Key">
                            <tr>
                                <td>
                                    <img viewerjs src="/Api/File/GetImage?ID={{document.MastersCertification.ScanFile_Key}}&height=100&width=70" url="/Api/File/GetImage?ID={{document.MastersCertification.ScanFile_Key}}" alt="تصویر مدرک کارشناسی ارشد" role="button" class="img-circle">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a class="text-danger" ng-click="RemoveMasterScan()">حذف</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hossein-file-upload action-url="/Api/Expert/ChangeMasterScan" title="انتخاب تصویر" success="GetDocument()"></hossein-file-upload>
                </div>
                <!--PhD-->
                <div class="ibox-content" ng-if="document.PhDCertification">
                    <h5>
                        تصویر مدرک دکترا
                    </h5>
                    <div>
                        <table class="inline" ng-if="document.PhDCertification.ScanFile_Key">
                            <tr>
                                <td>
                                    <img viewerjs src="/Api/File/GetImage?ID={{document.PhDCertification.ScanFile_Key}}&height=100&width=70" url="/Api/File/GetImage?ID={{document.PhDCertification.ScanFile_Key}}" alt="تصویر مدرک دکترا" role="button" class="img-circle">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a class="text-danger" ng-click="RemovePhdScan()">حذف</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hossein-file-upload action-url="/Api/Expert/ChangePhDScan" title="انتخاب تصویر" success="GetDocument()"></hossein-file-upload>
                </div>
                <!--Certifications-->
                <div class="ibox-content" ng-repeat="certification in document.SafetyCertifications">
                    <h5>
                        تصویر مدرک&nbsp;
                        <span ng-if="certification.CourseType==1">
                            دوره 40 ساعته
                        </span>
                        <span ng-if="certification.CourseType==2">
                            دوره شناسایی خطرات و ارزیابی ریسک 16 ساعته
                        </span>
                        <span ng-if="certification.CourseType==3">
                            {{certification.OtherCourseName}}
                        </span>
                    </h5>
                    <div>
                        <table class="inline" ng-if="certification.CertificationScan_Key">
                            <tr>
                                <td>
                                    <img viewerjs src="/Api/File/GetImage?ID={{certification.CertificationScan_Key}}&height=100&width=70" url="/Api/File/GetImage?ID={{certification.CertificationScan_Key}}" alt="تصویر مدرک ایمنی" role="button" class="img-circle">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a class="text-danger" ng-click="RemoveCertificationScan(certification)">حذف</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hossein-file-upload data="{{certification.Id}}" action-url="/Api/Expert/ChangeCertificationScan" title="انتخاب تصویر" success="GetDocument()"></hossein-file-upload>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>پیوست های کارگاه فعلی</h5>
                    <div class="ibox-tools">
                        <span class="label label-primary" ng-if="document.WorkshopAttachmentsCompleted.IsComplete">انجام شده</span>
                        <span class="label label-danger" ng-if="!document.WorkshopAttachmentsCompleted.IsComplete">{{document.WorkshopAttachmentsCompleted.Message}}</span>
                    </div>
                </div>
                <div class="ibox-content">
                    <h5>
                        تصاویر قرارداد (کلیه صفحات)
                    </h5>
                    <div>
                        <table class="inline" ng-repeat="scan in document.CurrentWorkShop.ContractScans">
                            <tr>
                                <td>
                                    <img viewerjs src="/Api/File/GetImage?ID={{scan.Key}}&height=100&width=70" url="/Api/File/GetImage?ID={{scan.Key}}" alt="تصویر قرارداد" role="button" class="img-circle">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a class="text-danger" ng-click="RemoveContractScan(scan)">حذف</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hossein-file-upload action-url="/Api/Expert/AddContractScan" title="اضافه کردن" success="GetDocument()"></hossein-file-upload>
                    <div ng-if="document.CurrentWorkShop.TechnicalProtectionCommittee==true">
                        <h5>
                            تصاویر کمیته حفاظت فنی (کلیه صفحات)
                        </h5>
                        <div>
                            <table class="inline" ng-repeat="scan in document.CurrentWorkShop.TechnicalProtectionCommitteeScans">
                                <tr>
                                    <td>
                                        <img viewerjs src="/Api/File/GetImage?ID={{scan.Key}}&height=100&width=70" url="/Api/File/GetImage?ID={{scan.Key}}" alt="تصویر کمیته حفاظت فنی" role="button" class="img-circle">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <a class="text-danger" ng-click="RemoveTPCScan(scan)">حذف</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <hossein-file-upload action-url="/Api/Expert/AddTPCScan" title="اضافه کردن" success="GetDocument()"></hossein-file-upload>
                    </div>
                </div>
                <div class="ibox-content">
                    <h5>
                        تصویر سوابق بیمه
                    </h5>
                    <div>
                        <table class="inline" ng-repeat="scan in document.InsuranceRecordScans">
                            <tr>
                                <td>
                                    <img viewerjs src="/Api/File/GetImage?ID={{scan.Key}}&height=100&width=70" url="/Api/File/GetImage?ID={{scan.Key}}" alt="تصویر سوابق بیمه" role="button" class="img-circle">
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a class="text-danger" ng-click="RemoveInsuranceScan(scan)">حذف</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hossein-file-upload action-url="/Api/Expert/AddInsuranceScan" title="اضافه کردن" success="GetDocument()"></hossein-file-upload>
                </div>
            </div>
        </div>
    </div>
</div>