﻿<div class="wrapper wrapper-content">
    <div class="row" ng-if="document.AcademicInfoCompleted.IsComplete &&
                            document.BasicAttachmentsCompleted.IsComplete &&
                            document.BasicInfoCompleted.IsComplete &&
                            document.CertificationAttachmentsCompleted.IsComplete &&
                            document.CertificationCompleted.IsComplete &&
                            document.ContactInfoCompleted.IsComplete &&
                            document.WorkshopAttachmentsCompleted.IsComplete">
        <div class="ibox">
            <div class="ibox-content">
                <h2>
                    پرونده شما تکمیل گردیده و آماده ارسال می باشد
                    <a ui-sref="expert.document" class="btn btn-success btn-lg">ارسال پرونده</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>دوره های آموزشی طی شده در زمینه ایمنی</h5>
                    <div class="ibox-tools">
                        <span class="label label-primary" ng-if="document.CertificationCompleted.IsComplete">انجام شده</span>
                        <span class="label label-danger" ng-if="!document.CertificationCompleted.IsComplete">{{document.CertificationCompleted.Message}}</span>
                    </div>
                </div>
                <div class="ibox-content">
                    مراجع مورد تایید آموزش
                    <span class="text-red">
                        مرکز تحقیقات و تعلیمات
                    </span>
                    ،
                    <span class="text-red">
                        بازرسان کار
                    </span>
                    ،
                    <span class="text-red">
                        مشاوران
                    </span>
                    و
                    <span class="text-red">
                        موسسات و شرکتهای ذیصلاح مورد تایید مرکز تحقیقات و تعلیمات حفاظت فنی و بهداشت کار
                    </span>
                    میباشند
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        نام دوره
                                    </th>
                                    <th>
                                        مدت برگزاری دوره
                                    </th>
                                    <th>
                                        تاریخ برگزاری دوره
                                    </th>
                                    <th>
                                        مرجع صدور گواهینامه
                                    </th>
                                    <th>
                                        توضیحات
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="certification in document.SafetyCertifications">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <span ng-if="certification.CourseType==1">
                                            دوره آموزش عمومی ایمنی
                                        </span>
                                        <span ng-if="certification.CourseType==2">
                                            دوره شناسایی خطر و ارزیابی ریسک
                                        </span>
                                        <span ng-if="certification.CourseType==3">
                                            {{certification.OtherCourseName}}
                                        </span>
                                    </td>
                                    <td>
                                        <span ng-if="certification.CourseType==1">
                                            40
                                        </span>
                                        <span ng-if="certification.CourseType==2">
                                            16
                                        </span>
                                        <span ng-if="certification.CourseType==3">
                                            {{certification.OtherDurationInHours}}
                                        </span>
                                    </td>
                                    <td>
                                        {{certification.PersianDateTaken}}
                                    </td>
                                    <td>
                                        {{certification.IssuerNumber}}
                                    </td>
                                    <td>
                                        {{certification.Description}}
                                    </td>
                                    <td>
                                        <input type="button" class="btn btn-danger" value="حذف" ng-click="RemoveCertification(certification)" />
                                        <input type="button" class="btn btn-primary" value="ویرایش" ng-click="EditCertification(certification)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content text-red" ng-if="document.Requires40HourseSafetyCertification">
                    توجه: بر اساس مدارک تحصیلی، جهت ارسال پرونده و دریافت صلاحیت شما نیازمند به گذراندن دوره "آموزش عمومی ایمنی" هستید
                </div>
                <div class="ibox-content text-red" ng-if="document.Requires16HourseSafetyCertification">
                    توجه: بر اساس مدارک تحصیلی، جهت ارسال پرونده و دریافت صلاحیت شما نیازمند به گذراندن دوره "شناسایی خطر و ارزیابی ریسک" هستید
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" ng-click="OpenInsertCertificationModal()">
                        اضافه کردن
                    </button>
                </div>                
            </div>
        </div>
    </div>
</div>