﻿<div ng-if="document.AcademicInfoCompleted.IsComplete &&
            document.BasicAttachmentsCompleted.IsComplete &&
            document.BasicInfoCompleted.IsComplete &&
            document.CertificationAttachmentsCompleted.IsComplete &&
            document.CertificationCompleted.IsComplete &&
            document.ContactInfoCompleted.IsComplete &&
            document.WorkshopAttachmentsCompleted.IsComplete">
    <div class="wrapper wrapper-content animated fadeInRight" ng-if="document.CurrentFlow.Type == 2">
        <div class="ibox-title">
            <i class="fa fa-bookmark text-success m-l"></i>
            تعهد نامه
        </div>
        <div class="ibox-content">
            <div class="p-xs text-justify">
                اینجانب
                <span class="text-red">
                    {{document.FullName}}
                </span>
                متعهد میگردم صحت تمامی مدارک، مستندات و اطلاعات ارائه شده جهت اخذ تاییدیه صلاحیت بکارگیری کارشناسان ایمنی و حفاظت فنی، مبتنی بر واقعیت بوده و چنانچه در هر مرحله خلاف واقعیت ثابت شود بلافاصله تایید صلاحیت از طرف مرجع صادر کننده باطل میگردد.
                همچنین خود را ملزم به رعایت مفاد آیین نامه کمیته حفاظت فنی و بهداشت کار در کارگاه ها نموده و ضمن رعایت کلیه موارد ابلاغی از طرف واحد بازرسی کار آن اداره، عملکرد خود را به صورت ادواری جهت بررسی و اعلام نظر ارسال نمایم.
            </div>
            <a class="btn btn-primary pull-right" ng-click="SignAgreement()">تایید و ارسال</a>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="wrapper wrapper-content" ng-if="document.CurrentFlow.Type == 8 || document.CurrentFlow.Type == 10" style="padding-bottom:0">
        <div class="ibox" style="margin-bottom:0">
            <div class="ibox-title">
                <h5>اعلام اعتراض</h5>
            </div>
            <div class="ibox-content">
                <span class="text-red">
                    توجه داشته باشید که فقط 15 روز برای ثبت اعتراض زمان دارید
                </span>
                <br />
                <br />
                <span ng-if="document.CurrentFlow.Type == 8">
                    اینجانب به نظر اداره بازرسی استان اعتراض داشته و علاقمند به ثبت اعتراض خویش می باشم.
                </span>
                <span ng-if="document.CurrentFlow.Type == 10">
                    اینجانب به نظر مدیر بازرسی استان اعتراض داشته و علاقمند به ثبت اعتراض خویش می باشم.
                </span>
                <br />
                <textarea placeholder="علت اعتراض (الزامی)" class="col-sm-12 m-t" style="height:80px;" ng-model="objection.Reason"></textarea>
                <br />
                تصاویر ضمیمه (الزامی)
                <div>
                    <table class="inline" ng-repeat="scan in document.ObjectionAttachments">
                        <tr>
                            <td>
                                <img viewerjs src="/Api/File/GetImage?ID={{scan.Key}}&height=100&width=70" url="/Api/File/GetImage?ID={{scan.Key}}" alt="تصویر ضمیمه" role="button" class="img-circle">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                <a class="text-danger" ng-click="RemoveObjectionScan(scan)">حذف</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <hossein-file-upload action-url="/Api/Expert/AddObjectionScan" title="اضافه کردن" success="GetDocument()"></hossein-file-upload>
                <a class="btn btn-primary pull-right" ng-if="document.CurrentFlow.Type == 8 && document.ObjectionAttachments.length > 0 && objection.Reason.length > 0" ng-click="ObjectifyOnce()">ثبت اعتراض اول</a>
                <a class="btn btn-primary pull-right" ng-if="document.CurrentFlow.Type == 10 && document.ObjectionAttachments.length > 0 && objection.Reason.length > 0" ng-click="ObjectifyTwice()">ثبت اعتراض دوم</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div ng-if="!(document.AcademicInfoCompleted.IsComplete &&
            document.BasicAttachmentsCompleted.IsComplete &&
            document.BasicInfoCompleted.IsComplete &&
            document.CertificationAttachmentsCompleted.IsComplete &&
            document.CertificationCompleted.IsComplete &&
            document.ContactInfoCompleted.IsComplete &&
            document.WorkshopAttachmentsCompleted.IsComplete)">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox">
            <div class="ibox-title">
                <h5>با سلام</h5>
            </div>
            <div class="ibox-content">
                لطفاً جهت ارسال پرونده و یا ثبت اعتراض، ابتدا پرونده خود را کامل نمایید
            </div>
        </div>
    </div>
</div>

<div ng-include="'Statics/Expert/overview.html'"></div>