﻿<li ui-sref-active="active" ng-hide="profileData.CurrentFlow.Type!=2">
    <a>
        <i class="fa fa-user"></i>
        <span class="nav-label">اطلاعات پرونده</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level collapse">
        <li ng-class="{active: $state.includes('expert.info')}">
            <a ui-sref="expert.info">
                <i class="fa fa-user"></i>
                <span class="nav-label">1- مشخصات فرد</span>
                <span class="pull-right label label-primary" ng-if="profileData.BasicInfoCompleted.IsComplete && 
                                                                    profileData.AcademicInfoCompleted.IsComplete &&
                                                                    profileData.ContactInfoCompleted.IsComplete">کامل</span>
                <span class="pull-right label label-warning" ng-if="!(profileData.BasicInfoCompleted.IsComplete && 
                                                                    profileData.AcademicInfoCompleted.IsComplete &&
                                                                    profileData.ContactInfoCompleted.IsComplete)">نا تمام</span>
            </a>
        </li>
        <li ng-class="{active: $state.includes('expert.experiences')}">
            <a ui-sref="expert.experiences">
                <i class="fa fa-file-text"></i>
                <span class="nav-label">2- سوابق کاری</span>
            </a>
        </li>
        <li ng-class="{active: $state.includes('expert.certifications')}">
            <a ui-sref="expert.certifications">
                <i class="fa fa-certificate"></i>
                <span class="nav-label">3- دوره های آموزشی</span>
                <span class="pull-right label label-primary" ng-if="profileData.CertificationCompleted.IsComplete">کامل</span>
                <span class="pull-right label label-warning" ng-if="!profileData.CertificationCompleted.IsComplete">نا تمام</span>
            </a>
        </li>
        <li ng-class="{active: $state.includes('expert.attachments')}">
            <a ui-sref="expert.attachments">
                <i class="fa fa-file"></i>
                <span class="nav-label">4- پیوست ها</span>
                <span class="pull-right label label-primary" ng-if="profileData.BasicAttachmentsCompleted.IsComplete &&
                                                                    profileData.CertificationAttachmentsCompleted.IsComplete &&
                                                                    profileData.WorkshopAttachmentsCompleted.IsComplete">کامل</span>
                <span class="pull-right label label-warning" ng-if="!(profileData.BasicAttachmentsCompleted.IsComplete &&
                                                                    profileData.CertificationAttachmentsCompleted.IsComplete &&
                                                                    profileData.WorkshopAttachmentsCompleted.IsComplete)">نا تمام</span>
            </a>
        </li>
    </ul>
</li>
<li ng-class="{active: $state.includes('expert.request')}" ng-hide="profileData.CurrentFlow.Type!=1">
    <a ui-sref="expert.request">
        <i class="fa fa-list"></i>
        <span class="nav-label">اطلاعات کارفرما</span>
    </a>
</li>
<li ng-class="{active: $state.includes('expert.document')}">
    <a ui-sref="expert.document">
        <i class="fa fa-list"></i>
        <span class="nav-label">وضعیت پرونده</span>
    </a>
</li>
<li ng-class="{active: $state.includes('expert.reports')}" ng-hide="profileData.CurrentFlow.Type!=7">
    <a ui-sref="expert.reports">
        <i class="fa fa-list"></i>
        <span class="nav-label">گزارشات من</span>
    </a>
</li>




