﻿<div class="wrapper wrapper-content">
    <div class="row" ng-if="document.AcademicInfoCompleted.IsComplete &&
                            document.BasicAttachmentsCompleted.IsComplete &&
                            document.BasicInfoCompleted.IsComplete &&
                            document.CertificationAttachmentsCompleted.IsComplete &&
                            document.CertificationCompleted.IsComplete &&
                            document.ContactInfoCompleted.IsComplete &&
                            document.WorkshopAttachmentsCompleted.IsComplete">
        <div class="ibox">
            <div class="ibox-content">
                <h2>
                    پرونده شما تکمیل گردیده و آماده ارسال می باشد
                    <a ui-sref="expert.document" class="btn btn-success btn-lg">ارسال پرونده</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>سوابق کاری</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        نام واحد
                                    </th>
                                    <th>
                                        نام و نام خانوادگی مدیر عامل
                                    </th>
                                    <th>
                                        تاریخ از
                                    </th>
                                    <th>
                                        تاریخ تا
                                    </th>
                                    <th>
                                        سمت و عنوان شغلی
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="experience in document.WorkExperiences">
                                    <th>{{$index+1}}</th>
                                    <td>
                                        {{experience.WorkshopName}}
                                    </td>
                                    <td>
                                        {{experience.EmployerName}}
                                    </td>
                                    <td>
                                        {{experience.PersianDateFrom}}
                                    </td>
                                    <td>
                                        {{experience.PersianDateTo}}
                                    </td>
                                    <td>
                                        {{experience.Description}}
                                    </td>
                                    <td>
                                        <input type="button" class="btn btn-danger" value="حذف" ng-click="RemoveExperience(experience)" />
                                        <input type="button" class="btn btn-primary" value="ویرایش" ng-click="EditExperience(experience)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" ng-click="OpenInsertExperienceModal()">
                        اضافه کردن
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>