﻿<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" ng-if="document.AcademicInfoCompleted.IsComplete &&
                            document.BasicAttachmentsCompleted.IsComplete &&
                            document.BasicInfoCompleted.IsComplete &&
                            document.CertificationAttachmentsCompleted.IsComplete &&
                            document.CertificationCompleted.IsComplete &&
                            document.ContactInfoCompleted.IsComplete &&
                            document.WorkshopAttachmentsCompleted.IsComplete">
        <div class="ibox">
            <div class="ibox-content">
                <h2>
                    پرونده شما تکمیل گردیده و آماده ارسال می باشد
                    <a ui-sref="expert.document" class="btn btn-success btn-lg">ارسال پرونده</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h5>مشخصات اولیه</h5>
                <div class="ibox-tools">
                    <span class="label label-primary" ng-if="document.BasicInfoCompleted.IsComplete">انجام شده</span>
                    <span class="label label-danger" ng-if="!document.BasicInfoCompleted.IsComplete">{{document.BasicInfoCompleted.Message}}</span>
                </div>
            </div>
            <div class="ibox-content">
                <form name="basicInfo">
                    <div class="row col-lg-12">
                        <div class="col-lg-6">
                            <label>نام</label>
                            <input type="text" placeholder="نام" class="form-control" required ng-model="document.FirstName">
                        </div>
                        <div class="col-lg-6">
                            <label>نام خانوادگی</label>
                            <input type="text" placeholder="نام خانوادگی" class="form-control" required ng-model="document.LastName">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>نام پدر</label>
                            <input type="text" name="fatherName" placeholder="نام پدر" class="form-control" required ng-model="document.FatherName">
                        </div>
                        <div class="col-lg-6">
                            <label>جنسیت</label>
                            <br />
                            <input type="radio" required name="gender" ng-value="1" ng-model="document.Gender" /> مرد
                            <input type="radio" required name="gender" ng-value="2" ng-model="document.Gender" /> زن
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>شماره شناسنامه</label>
                            <input type="text" placeholder="شماره شناسنامه" class="form-control number" required ng-model="document.ShenasnameNo">
                        </div>
                        <div class="col-lg-6">
                            <label>کد ملی</label>
                            <input type="text" placeholder="کد ملی" class="form-control number" required minlength="10" maxlength="10" ng-model="document.NationalCode">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>تاریخ تولد</label>
                            <input type="text" placeholder="تاریخ تولد" class="form-control text-left" required id="birthDateInput" ng-model="document.PersianBirthDate">
                        </div>
                        <div class="col-lg-6">
                            <label>محل تولد</label>
                            <input type="text" placeholder="محل تولد" class="form-control" required ng-model="document.PlaceOfBirth">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>وضعیت تاهل</label>
                            <br />
                            <input type="radio" required name="maritalStatus" ng-value="1" ng-model="document.MaritalStatus" /> مجرد
                            <input type="radio" required name="maritalStatus" ng-value="2" ng-model="document.MaritalStatus" /> متاهل
                        </div>
                        <div class="col-lg-6" ng-if="document.Gender==1">
                            <label>وضعیت سربازی</label>
                            <br />
                            <input type="radio" required name="militaryServiceStates" ng-value="1" ng-model="document.MilitaryStatus" />گذرانده
                            <input type="radio" required name="militaryServiceStates" ng-value="2" ng-model="document.MilitaryStatus" />معافیت
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t" ng-if="document.MilitaryStatus==2">
                        <div class="col-lg-12">
                            <label>علت معافیت</label>
                            <input type="text" placeholder="علت معافیت" required class="form-control" ng-model="document.ReasonOfExemption">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>شماره عضویت در انجمن</label>
                            <input type="text" placeholder="(اختیاری)" class="form-control" ng-model="document.AssociationMembershipNo">
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
                <small class="text-red pull-right" ng-show="basicInfo.$invalid">لطفاً تمامی فیلدهای مورد نیاز را بدرستی پر کنید</small>
                <br />
                <button ng-disabled="basicInfo.$invalid" type="button" class="btn btn-primary pull-right" ng-click="!basicInfo.$invalid && ModifyBasicInfo()">ثبت تغیرات</button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>مدارک تحصیلی</h5>
                <div class="ibox-tools">
                    <span class="label label-primary" ng-if="document.AcademicInfoCompleted.IsComplete">انجام شده</span>
                    <span class="label label-danger" ng-if="!document.AcademicInfoCompleted.IsComplete">{{document.AcademicInfoCompleted.Message}}</span>
                </div>
            </div>
            <div class="ibox-content">
                <table class="col-lg-12 table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                مقطع
                            </th>
                            <th class="col-lg-6">
                                رشته
                            </th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            دیپلم فنی
                        </td>
                        <td>
                            <select style="width:100%" required ng-model="document.HighSchoolCertification.FieldOfStudy_ID">
                                <option value="">--بدون مدرک دیپلم فنی--</option>
                                <option ng-repeat="field in fieldsOfStudy" ng-value="{{field.Id}}">
                                    {{field.Name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            کاردانی
                        </td>
                        <td>
                            <select style="width:100%" required ng-model="document.DiplomaCertification.FieldOfStudy_ID">
                                <option value="">--بدون مدرک کاردانی--</option>
                                <option ng-repeat="field in fieldsOfStudy" ng-value="{{field.Id}}">
                                    {{field.Name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            کارشناسی
                        </td>
                        <td>
                            <select style="width:100%" required ng-model="document.BachelorsCertification.FieldOfStudy_ID">
                                <option value="">--بدون مدرک کارشناسی--</option>
                                <option ng-repeat="field in fieldsOfStudy" ng-value="{{field.Id}}">
                                    {{field.Name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            کارشناسی ارشد
                        </td>
                        <td>
                            <select style="width:100%" required ng-model="document.MastersCertification.FieldOfStudy_ID">
                                <option value="">--بدون مدرک کارشناسی ارشد--</option>
                                <option ng-repeat="field in fieldsOfStudy" ng-value="{{field.Id}}">
                                    {{field.Name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            دکترا
                        </td>
                        <td>
                            <select style="width:100%" required ng-model="document.PhDCertification.FieldOfStudy_ID">
                                <option value="">--بدون مدرک دکترا--</option>
                                <option ng-repeat="field in fieldsOfStudy" ng-value="{{field.Id}}">
                                    {{field.Name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div class="clearfix"></div>
                <small class="text-red pull-right" ng-show="document.HighSchoolCertification.FieldOfStudy_ID==null &&
                                                            document.DiplomaCertification.FieldOfStudy_ID==null &&
                                                            document.BachelorsCertification.FieldOfStudy_ID==null &&
                                                            document.MastersCertification.FieldOfStudy_ID==null &&
                                                            document.PhDCertification.FieldOfStudy_ID==null">لطفاً یکی از موارد را انتخاب کنید</small>
                <br />
                <button type="button" class="btn btn-primary pull-right" ng-disabled="document.HighSchoolCertification.FieldOfStudy_ID==null &&
                                                                                        document.DiplomaCertification.FieldOfStudy_ID==null &&
                                                                                        document.BachelorsCertification.FieldOfStudy_ID==null &&
                                                                                        document.MastersCertification.FieldOfStudy_ID==null &&
                                                                                        document.PhDCertification.FieldOfStudy_ID==null" 
                                                                            ng-click="(document.HighSchoolCertification.FieldOfStudy_ID!=null ||
                                                                                        document.DiplomaCertification.FieldOfStudy_ID!=null ||
                                                                                        document.BachelorsCertification.FieldOfStudy_ID!=null ||
                                                                                        document.MastersCertification.FieldOfStudy_ID!=null ||
                                                                                        document.PhDCertification.FieldOfStudy_ID!=null) && ModifyAcademicInfo()">
                    ثبت تغیرات
                </button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>مشخصات تماس</h5>
                <div class="ibox-tools">
                    <span class="label label-primary" ng-if="document.ContactInfoCompleted.IsComplete">انجام شده</span>
                    <span class="label label-danger" ng-if="!document.ContactInfoCompleted.IsComplete">{{document.ContactInfoCompleted.Message}}</span>
                </div>
            </div>
            <div class="ibox-content">
                <form name="contactInfo">
                    <div class="row col-lg-12">
                        <div class="col-lg-6">
                            <label>تلفن همراه</label>
                            <input type="text" placeholder="تلفن همراه" class="form-control number" minlength="11" maxlength="11" required ng-model="document.Mobile">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>استان محل سکونت</label>
                            <select class="form-control" required ng-model="document.HomeContact.County.Province_ID" ng-change="LoadHomeCounties()">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                <option ng-repeat="province in provinces" ng-value="{{province.Id}}">
                                    {{province.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label>شهرستان محل سکونت</label>
                            <select class="form-control" required ng-model="document.HomeContact.County.Id">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                <option ng-repeat="county in homeCounties" ng-value="{{county.Id}}">
                                    {{county.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-12">
                            <label>آدرس محل سکونت</label>
                            <textarea placeholder="آدرس محل سکونت" class="form-control" required ng-model="document.HomeContact.Address"></textarea>
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>کدپستی محل سکونت</label>
                            <input type="text" placeholder="کدپستی محل سکونت" class="form-control number" minlength="7" maxlength="10" required ng-model="document.HomeContact.PostalCode">
                        </div>
                        <div class="col-lg-6">
                            <label>تلفن محل سکونت</label>
                            <input type="text" placeholder="تلفن محل سکونت" class="form-control number" required minlength="7" maxlength="10" ng-model="document.HomeContact.Phone">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>استان اشتغال فعلی</label>
                            <select class="form-control" required ng-model="document.WorkContact.County.Province_ID" ng-change="LoadWorkCounties()">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                <option ng-repeat="province in provinces" ng-value="{{province.Id}}">
                                    {{province.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label>شهرستان اشتغال فعلی</label>
                            <select class="form-control" required ng-model="document.WorkContact.County.Id">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                <option ng-repeat="county in workCounties" ng-value="{{county.Id}}">
                                    {{county.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-12">
                            <label>آدرس اشتغال فعلی</label>
                            <textarea placeholder="آدرس اشتغال فعلی" class="form-control" required ng-model="document.WorkContact.Address"></textarea>
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>کدپستی اشتغال فعلی</label>
                            <input type="text" placeholder="کدپستی اشتغال فعلی" class="form-control number" minlength="7" maxlength="10" required ng-model="document.WorkContact.PostalCode">
                        </div>
                        <div class="col-lg-6">
                            <label>تلفن اشتغال فعلی</label>
                            <input type="text" placeholder="تلفن اشتغال فعلی" class="form-control number" required minlength="7" maxlength="10" ng-model="document.WorkContact.Phone">
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
                <small class="text-red pull-right" ng-show="contactInfo.$invalid">لطفاً تمامی فیلدهای مورد نیاز را بدرستی پر کنید</small>
                <br />
                <button type="button" class="btn btn-primary pull-right" ng-disabled="contactInfo.$invalid" ng-click="!contactInfo.$invalid && ModifyContactInfo()">ثبت تغیرات</button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>مشخصات کارفرما</h5>
            </div>
            <div class="ibox-content">
                <div class="row col-lg-12">
                    <div class="col-lg-6">
                        <label>نام و نام خانوادگی مدیر عامل</label>
                        <input type="text" class="form-control" ng-model="document.CurrentWorkShop.EmployerName" disabled="disabled">
                    </div>
                    <div class="col-lg-6">
                        <label>شماره تلفن</label>
                        <input type="text" class="form-control" ng-model="document.CurrentWorkShop.WorkshopPhone" disabled="disabled">
                    </div>
                    <div class="col-lg-12">
                        <label>آدرس کارگاه</label>
                        <input type="text" class="form-control" ng-model="document.CurrentWorkShop.WorkshopAddress" disabled="disabled">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
    $("#birthDateInput").pDatepicker({ format: 'YYYY/MM/DD' });
</script>
