﻿<style>
    body {
        background-color: white;
    }

    @page {
        size: 297mm 210mm;
        margin: 0cm;
    }

    .A4Box {
        overflow:hidden;
        position: relative;
        width: 29.6cm;
        height: 20.9cm;
        border: 1px solid;
        page-break-after: always;
        page-break-inside: avoid;
    }

    .profile-img {
        position: absolute;
        height: 3.7cm;
        width: 3cm;
        right: 2.7cm;
        top: 1.4cm;
        border: .5mm solid;
    }

    .sarbarg {
        position: absolute;
        left: 4.1cm;
        top: 0.8cm;
        line-height: 1cm;
        font-family: "MitraBoldWeb",'NazaninWeb';
    }

    .title {
        width: 17.2cm;
        right: 6cm;
        top: 1.6cm;
        position: absolute;
        text-align: center;
        height: 5.5cm;
    }

        .title img {
            width: 3.5cm;
            height: auto;
        }

        .title .office-title {
            margin-top: 0.5cm;
            font-size: 6.5mm;
            font-family: "MitraBoldWeb";
        }

        .title .page-title {
            margin-top: 0.5cm;
            font-size: 5.3mm;
            font-family: "MitraBoldWeb";
        }

    .main-text {
        width: 24.3cm;
        right: 2.6cm;
        top: 7.3cm;
        position: absolute;
        font-family: "MitraWeb",'NazaninWeb';
        font-size: 4.9mm;
        line-height: 12.2mm;
        text-align: justify;
    }

        .main-text .signature {
            margin-top: 1cm;
            width: 9cm;
            margin-right: 11.8cm;
            text-align: center;
            font-family: "MitraBoldWeb",'NazaninWeb';
            font-size: 4.7mm;
            line-height: 11mm;
            /*font-weight: bold;*/
        }

        .main-text .address {
            /* margin-top: -50px; */
            font-family: "MitraBoldWeb",'NazaninWeb';
            font-size: 4.6mm;
            /*font-weight: bold;*/
        }

    .back {
        position: absolute;
        top: 2.3cm;
        width: 29.5cm;
    }
    .back-title {
        text-align: center;
        font-family: "MitraBoldWeb",'NazaninWeb';
        font-size: 5mm;
        /*font-weight: bold;*/
    }

    .back-content {
        margin-right: 2.6cm;
        width: 24.2cm;
        margin-top: 1.2cm;
        font-family: "MitraWeb",'NazaninWeb';
        font-size: 5.5mm;
        line-height: 10.7mm;
        text-align: justify;
    }



    @media print {
        .A4Box {
            border: 0;
        }
    }
</style>
<div class="A4Box">
    <!--<img src="/Resource/1.PNG" style="width:29.6cm; height:20.9cm; position:absolute; z-index:-1" />-->
    <img class="profile-img" src="/Api/File/GetImage?ID={{data.PhotoId}}&height=400&width=300" />
    <div class="sarbarg">
        تاریخ:&nbsp;{{data.PersianDateAuthorized}}
        <br />
        شماره:&nbsp;{{data.NezamCode}}
    </div>
    <div class="title">
        <img src="/Resources/images/vezaratLogo.jpg" />
        <div class="office-title">
            اداره کل تعاون، کار و رفاه اجتماعی استان&nbsp;{{data.CompanyProvince}}
        </div>
        <div class="page-title">
            تاییدیه صلاحیت کارشناس ایمنی و حفاظت فنی
        </div>
    </div>
    <div class="main-text">
        <div>
            در اجرای تبصره (1) ماده (93) قانون کار جمهوری اسلامی ایران، بدینوسیله صلاحیت
            <strong ng-if="data.Gender==1">آقای</strong><strong ng-if="data.Gender==2">خانم</strong>&nbsp;<strong>{{data.FullName}}</strong>
            (صاحب عکس فوق)، دارای مدرک تحصیلی
            <strong ng-if="data.MaxEducation.DegreeLevel==1">دیپلم</strong><strong ng-if="data.MaxEducation.DegreeLevel==2">فوق دیپلم</strong><strong ng-if="data.MaxEducation.DegreeLevel==3">کارشناسی</strong><strong ng-if="data.MaxEducation.DegreeLevel==4">کارشناسی ارشد</strong><strong ng-if="data.MaxEducation.DegreeLevel==5">دکترا</strong>&nbsp;<strong>{{data.MaxEducation.EducationField}}</strong>
            برای احراز سمت مسئول ایمنی و حفاظت فنی در شرکت/کارگاه/پروژه
            <strong>{{data.CompanyName}}</strong>
            با موضوع فعالیت
            <strong>{{data.FieldOfActivity}}</strong>
            و حداکثر
            <strong>{{data.TotalNumberOfWorkers}}</strong>
            نفر، به نشانی:
            <strong>{{data.CompanyFullAddress}}</strong>
            تایید میگردد. لذا، از تاریخ صدور این تاییدیه، فرد یاد شده می تواند به مدت <strong>1 سال</strong> در سمت ذکر شده فعالیت نماید. بدیهی است تمدید این صلاحیت منوط به بررسی و تایید عملکرد وفق شرح وظایف تعریف شده در آیین نامه کمیته حفاظت فنی و بهداشت کار خواهد بود.
        </div>
        <div class="signature">
            رئیس اداره بازرسی کار استان&nbsp;{{data.CompanyProvince}}
            <br />
            {{data.ProvinceChiefFullName}}
        </div>
        <!--<div class="address"> DONT HAVE THEM NOW
            {{data.ProvinceOfficeAddress}}
            <br />
            تلفن:&nbsp;{{data.ProvinceOfficePhone}}
        </div>-->
    </div>
</div>