﻿<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row m-b" ng-if="document.CurrentFlow.Type == 7 && !isExpert">
        <div class="col-md-12">
            <div class="ibox-content text-center">
                <table>
                    <tr>
                        <td>
                            <a href="#/License/{{document.UserName}}" class="btn btn-primary btn-lg" target="_blank">مشاهده گواهینامه</a>
                        </td>
                        <td>
                            <h3 class="m-r">
                                کد گواهینامه: {{document.NezamCode}}
                            </h3>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-5">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>اطلاعات پایه</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>نام و نام خانوادگی:</dt>
                                <dd>{{document.FullName}}</dd>
                                <dt>نام پدر:</dt>
                                <dd>{{document.FatherName}}</dd>
                                <dt>جنسیت:</dt>
                                <dd ng-if="document.Gender==1">مرد</dd>
                                <dd ng-if="document.Gender==2">زن</dd>
                                <dt>شماره شناسنامه:</dt>
                                <dd>{{document.ShenasnameNo}}</dd>
                                <dt>کد ملی:</dt>
                                <dd>{{document.NationalCode}}</dd>
                                <dt>تاریخ تولد:</dt>
                                <dd>{{document.PersianBirthDate}}</dd>
                                <dt>محل تولد:</dt>
                                <dd>{{document.PlaceOfBirth}}</dd>
                            </dl>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>تلفن همراه:</dt>
                                <dd>{{document.Mobile}}</dd>
                                <dt>وضعیت تاهل:</dt>
                                <dd ng-if="document.MaritalStatus==1">مجرد</dd>
                                <dd ng-if="document.MaritalStatus==2">متاهل</dd>
                                <dt>وضعیت سربازی:</dt>
                                <dd ng-if="document.MilitaryStatus==1">گذرانده</dd>
                                <dd ng-if="document.MilitaryStatus==2">معاف</dd>
                                <dt ng-if="document.MilitaryStatus==2">علت معافیت:</dt>
                                <dd ng-if="document.MilitaryStatus==2">{{document.ReasonOfExemption}}</dd>
                                <dt ng-if="document.AssociationMembershipNo">شماره عضویت در انجمن:</dt>
                                <dd ng-if="document.AssociationMembershipNo">{{document.AssociationMembershipNo}}</dd>
                                <dt>تصویر شخص</dt>
                                <dd>
                                    <a onclick="$(this).children().click()" ng-if="document.PhotoScan_Key">
                                        تصویر
                                        <img src="" url="/Api/File/GetImage?ID={{document.PhotoScan_Key}}" alt="تصویر شخص" role="button" viewerjs style="display:none;">
                                    </a>
                                </dd>
                                <dt>تصاویر شناسنامه</dt>
                                <dd>
                                    <a ng-repeat="attachment in document.ShenasnameScans" onclick="$(this).children().click()">
                                        تصویر {{$index+1}},
                                        <img src="" url="/Api/File/GetImage?ID={{attachment.Key}}" alt="تصویر شناسنامه" role="button" viewerjs style="display:none;">
                                    </a>
                                </dd>
                                <dt>تصاویر کارت ملی</dt>
                                <dd>
                                    <a ng-repeat="attachment in document.NationalCardScans" onclick="$(this).children().click()">
                                        تصویر {{$index+1}},
                                        <img src="" url="/Api/File/GetImage?ID={{attachment.Key}}" alt="تصویر کارت ملی" role="button" viewerjs style="display:none;">
                                    </a>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-12">
                            <dl class="dl-horizontal">
                                <dt ng-if="document.HighSchoolCertification">مدرک دیپلم:</dt>
                                <dd ng-if="document.HighSchoolCertification">
                                    {{document.HighSchoolCertification.FieldOfStudy.Name}}،&nbsp;
                                    <a onclick="$(this).children().click()" ng-if="document.HighSchoolCertification.ScanFile_Key">
                                        تصویر
                                        <img src="" url="/Api/File/GetImage?ID={{document.HighSchoolCertification.ScanFile_Key}}" alt="تصویر مدرک دیپلم" role="button" viewerjs style="display:none;">
                                    </a>
                                </dd>
                                <dt ng-if="document.DiplomaCertification">مدرک کاردانی:</dt>
                                <dd ng-if="document.DiplomaCertification">
                                    {{document.DiplomaCertification.FieldOfStudy.Name}}،&nbsp;
                                    <a onclick="$(this).children().click()" ng-if="document.DiplomaCertification.ScanFile_Key">
                                        تصویر
                                        <img src="" url="/Api/File/GetImage?ID={{document.DiplomaCertification.ScanFile_Key}}" alt="تصویر مدرک کاردانی" role="button" viewerjs style="display:none;">
                                    </a>
                                </dd>
                                <dt ng-if="document.BachelorsCertification">مدرک کارشناسی:</dt>
                                <dd ng-if="document.BachelorsCertification">
                                    {{document.BachelorsCertification.FieldOfStudy.Name}}،&nbsp;
                                    <a onclick="$(this).children().click()" ng-if="document.BachelorsCertification.ScanFile_Key">
                                        تصویر
                                        <img src="" url="/Api/File/GetImage?ID={{document.BachelorsCertification.ScanFile_Key}}" alt="تصویر مدرک کارشناسی" role="button" viewerjs style="display:none;">
                                    </a>
                                </dd>
                                <dt ng-if="document.MastersCertification">مدرک کارشناسی ارشد:</dt>
                                <dd ng-if="document.MastersCertification">
                                    {{document.MastersCertification.FieldOfStudy.Name}}،&nbsp;
                                    <a onclick="$(this).children().click()" ng-if="document.MastersCertification.ScanFile_Key">
                                        تصویر
                                        <img src="" url="/Api/File/GetImage?ID={{document.MastersCertification.ScanFile_Key}}" alt="تصویر مدرک کارشناسی ارشد" role="button" viewerjs style="display:none;">
                                    </a>
                                </dd>
                                <dt ng-if="document.PhDCertification">مدرک دکترا:</dt>
                                <dd ng-if="document.PhDCertification">
                                    {{document.PhDCertification.FieldOfStudy.Name}}،&nbsp;
                                    <a onclick="$(this).children().click()" ng-if="document.PhDCertification.ScanFile_Key">
                                        تصویر
                                        <img src="" url="/Api/File/GetImage?ID={{document.PhDCertification.ScanFile_Key}}" alt="تصویر مدرک دکترا" role="button" viewerjs style="display:none;">
                                    </a>
                                </dd>
                                <dt>ایمیل:</dt>
                                <dd>{{document.Email}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>آدرس</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <h5>محل سکونت</h5>
                            <dl class="dl-horizontal">
                                <dt>استان:</dt>
                                <dd>{{document.HomeContact.County.Province.Name}}</dd>
                                <dt>شهرستان:</dt>
                                <dd>{{document.HomeContact.County.Name}}</dd>
                                <dt>آدرس:</dt>
                                <dd>{{document.HomeContact.Address}}</dd>
                                <dt>کدپستی:</dt>
                                <dd>{{document.HomeContact.PostalCode}}</dd>
                                <dt>تلفن:</dt>
                                <dd>{{document.HomeContact.Phone}}</dd>
                            </dl>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <h5>محل اشتغال فعلی</h5>
                            <dl class="dl-horizontal">
                                <dt>استان:</dt>
                                <dd>{{document.WorkContact.County.Province.Name}}</dd>
                                <dt>شهرستان:</dt>
                                <dd>{{document.WorkContact.County.Name}}</dd>
                                <dt>آدرس اشتغال فعلی:</dt>
                                <dd>{{document.WorkContact.Address}}</dd>
                                <dt>کدپستی:</dt>
                                <dd>{{document.WorkContact.PostalCode}}</dd>
                                <dt>تلفن:</dt>
                                <dd>{{document.WorkContact.Phone}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>اطلاعات کارگاه</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>نام واحد/شرکت:</dt>
                                <dd>{{document.CurrentWorkShop.UnitName}}</dd>
                                <dt>تاریخ استخدام:</dt>
                                <dd>{{document.CurrentWorkShop.PersianDateFrom}}</dd>
                                <dt>نام و نام خانوادگی مدیر عامل:</dt>
                                <dd>{{document.CurrentWorkShop.EmployerName}}</dd>
                                <dt>موضوع فعالیت کارگاه:</dt>
                                <dd>{{document.CurrentWorkShop.FieldOfActivity.Name}}</dd>
                                <dt>نعداد کارگران شیفت صبح:</dt>
                                <dd>{{document.CurrentWorkShop.MorningWorkersNo}}</dd>
                                <dt>نعداد کارگران شیفت عصر:</dt>
                                <dd>{{document.CurrentWorkShop.EveningWorkersNo}}</dd>
                                <dt>نعداد کارگران شیفت شب:</dt>
                                <dd>{{document.CurrentWorkShop.NightWorkersNo}}</dd>
                                <dt>وسعت کارگاه<small>(متر مربع)</small></dt>
                                <dd>{{document.CurrentWorkShop.WorkshopSize}}</dd>
                                <dt>شماره تلفن</dt>
                                <dd>{{document.CurrentWorkShop.WorkshopPhone}}</dd>
                                <dt ng-if="document.InsuranceRecordScans.length>0">تصاویر سوابق بیمه</dt>
                                <dd ng-if="document.InsuranceRecordScans.length>0">
                                    <a ng-repeat="attachment in document.InsuranceRecordScans" onclick="$(this).children().click()">
                                        تصویر {{$index+1}},
                                        <img src="" url="/Api/File/GetImage?ID={{attachment.Key}}" alt="تصویر سابقه بیمه" role="button" viewerjs style="display:none;">
                                    </a>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>کد تامین اجتماعی کارگاه:</dt>
                                <dd>{{document.CurrentWorkShop.SocialSecurityCode}}</dd>
                                <dt>نوع تولید:</dt>
                                <dd>{{document.CurrentWorkShop.ProductionType.Name}}</dd>
                                <dt>تعداد کارگران مرد:</dt>
                                <dd>{{document.CurrentWorkShop.MaleWorkersNo}}</dd>
                                <dt>تعداد کارگران زن:</dt>
                                <dd>{{document.CurrentWorkShop.FemaleWorkersNo}}</dd>
                                <dt>تعداد کارشناسان ایمنی و حفاظت فنی:</dt>
                                <dd>{{document.CurrentWorkShop.SafetyWorkersNo}}</dd>
                                <dt ng-if="document.CurrentWorkShop.TechnicalProtectionCommittee==true">کمیته حفاظت فنی:</dt>
                                <dd ng-if="document.CurrentWorkShop.TechnicalProtectionCommittee==true">
                                    <a ng-repeat="attachment in document.CurrentWorkShop.TechnicalProtectionCommitteeScans" onclick="$(this).children().click()">
                                        تصویر {{$index+1}},
                                        <img src="" url="/Api/File/GetImage?ID={{attachment.Key}}" alt="تصویر کمیته حفاظت فنی" role="button" viewerjs style="display:none;">
                                    </a>
                                </dd>
                                <dt>کدپستی کارگاه</dt>
                                <dd>{{document.CurrentWorkShop.WorkshopPostalCode}}</dd>
                                <dt>تصاویر قرارداد</dt>
                                <dd>
                                    <a ng-repeat="attachment in document.CurrentWorkShop.ContractScans" onclick="$(this).children().click()">
                                        تصویر {{$index+1}},
                                        <img src="" url="/Api/File/GetImage?ID={{attachment.Key}}" alt="تصویر قرارداد" role="button" viewerjs style="display:none;">
                                    </a>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-12">
                            <dl class="dl-horizontal">
                                <dt>آدرس کارگاه</dt>
                                <dd>{{document.CurrentWorkShop.WorkshopAddress}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-7">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>سایر پرونده های ثبت شده با این کدملی</h5>
                </div>
                <div>
                    <div class="ibox-content scrollable-other-documents">
                        <strong ng-if="document.OtherDocuments.length==0">پرونده دیگری با این کدملی یافت نشد</strong>
                        <table ng-if="document.OtherDocuments.length>0" class="table table-striped vertical-align">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>تصویر</th>
                                    <th>نام و نام خانوادگی</th>
                                    <th>نام واحد</th>
                                    <th>نام کاربری</th>
                                    <th>وضعیت پرونده</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="other in document.OtherDocuments">
                                    <td>{{$index + 1}}</td>
                                    <td>
                                        <img alt="image" class="img-circle" src="/Api/File/GetImage?ID={{other.PhotoScan_Key}}&height=25&width=25">
                                    </td>
                                    <td>{{other.FullName}}</td>
                                    <td>{{other.CurrentWorkShop.UnitName}}</td>
                                    <td class="text-navy" ng-if="other.UserName">
                                        <a ui-sref="staff.documentview({username: '{{other.UserName}}'})" target="_blank">
                                            {{other.UserName}}
                                        </a>
                                    </td>
                                    <td ng-if="!other.UserName">پنهان</td>
                                    <td>
                                        <span ng-if="!other.DeactivationDate">
                                            <span ng-if="other.CurrentFlow.Type==7">
                                                گواهی صادر گردید
                                            </span>
                                            <span ng-if="other.CurrentFlow.Type==1">
                                                نزد کارفرما
                                            </span>
                                            <span ng-if="other.CurrentFlow.Type==2">
                                                نزد کارشناس ایمنی
                                            </span>
                                            <span ng-if="other.CurrentFlow.Type==8">
                                                بار اول رد صلاحیت
                                            </span>
                                            <span ng-if="other.CurrentFlow.Type==10">
                                                بار دوم رد صلاحیت
                                            </span>
                                            <span ng-if="other.CurrentFlow.Type==3">
                                                نزد انجمن شهرستان
                                            </span>
                                            <span ng-if="other.CurrentFlow.Type==5">
                                                نزد کانون استان
                                            </span>
                                            <span ng-if="other.CurrentFlow.Type==4">
                                                نزد اداره بازرسی شهرستان
                                            </span>
                                            <span ng-if="other.CurrentFlow.Type==11">
                                                نزد اداره کل بازرسی کار
                                            </span>
                                            <span ng-if="other.CurrentFlow.Type==6">
                                                نزد اداره بازرسی استان
                                            </span>
                                            <span ng-if="other.CurrentFlow.Type==9">
                                                نزد مدیر کل استان
                                            </span>
                                        </span>
                                        <span ng-if="other.DeactivationDate" class="text-danger">
                                            در {{other.PersianDeactivationDate}} غیرفعال شده
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>سوابق پرونده</h5>
                </div>
                <div>
                    <div class="ibox-content scrollable-history">
                        <div id="vertical-timeline" class="vertical-container dark-timeline">
                            <div class="vertical-timeline-block" ng-repeat="thisFlow in document.Flows">
                                <div class="vertical-timeline-icon white-bg warning-border" ng-if="[1,2,3,4,5,6,9,11].includes(thisFlow.Type)">
                                    <strong>
                                        {{document.Flows.length-$index}}
                                    </strong>
                                </div>
                                <div class="vertical-timeline-icon navy-bg" ng-if="thisFlow.Type==7">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="vertical-timeline-icon red-bg" ng-if="thisFlow.Type==8 || thisFlow.Type==10">
                                    <i class="fa fa-exclamation"></i>
                                </div>
                                <div class="vertical-timeline-content">
                                    <h2>
                                        <strong class="timeline-title" ng-if="thisFlow.Type==7">
                                            گواهی صادر گردید
                                        </strong>
                                        <strong class="timeline-title" ng-if="thisFlow.Type==1">
                                            پرونده تشکیل شد و به کارفرما ارجاع داده شد
                                        </strong>
                                        <strong class="timeline-title" ng-if="thisFlow.Type==2">
                                            پرونده به کارشناس ایمنی و حفاظت فنی ارجاع داده شد
                                        </strong>
                                        <strong class="timeline-title" ng-if="thisFlow.Type==8">
                                            پرونده برای بار اول رد صلاحیت گردید
                                        </strong>
                                        <strong class="timeline-title" ng-if="thisFlow.Type==10">
                                            پرونده برای بار دوم رد صلاحیت گردید
                                        </strong>
                                        <strong class="timeline-title" ng-if="thisFlow.Type==3">
                                            پرونده به انجمن شهرستان مربوطه ارجاع داده شد
                                        </strong>
                                        <strong class="timeline-title" ng-if="thisFlow.Type==5">
                                            پرونده به کانون استان مربوطه ارجاع داده شد
                                        </strong>
                                        <strong class="timeline-title" ng-if="thisFlow.Type==4">
                                            پرونده به اداره بازرسی شهرستان مربوطه ارجاع داده شد
                                        </strong>
                                        <strong class="timeline-title" ng-if="thisFlow.Type==11">
                                            پرونده به اداره کل بازرسی کار ارجاع داده شد
                                        </strong>
                                        <strong class="timeline-title" ng-if="thisFlow.Type==6">
                                            پرونده به اداره بازرسی استان مربوطه ارجاع داده شد
                                        </strong>
                                        <strong class="timeline-title" ng-if="thisFlow.Type==9">
                                            پرونده به مدیر کل استان مربوطه ارجاع داده شد
                                        </strong>
                                    </h2>
                                    <p ng-if="thisFlow.Description.length>0" class="text-red">
                                        {{thisFlow.Description}}
                                    </p>
                                    <a ng-repeat="attachment in thisFlow.Attachments" onclick="$(this).children().click()" class="btn btn-xs btn-success m-l-sm">
                                        ضمیمه {{$index+1}}
                                        <img src="" url="/Api/File/GetImage?ID={{attachment.Key}}" alt="تصویر ضمیمه" role="button" viewerjs style="display:none;">
                                    </a>
                                    <span class="vertical-date">
                                        <small><i class="fa fa-calendar"></i>{{thisFlow.PersianDateCreated}}&nbsp;&nbsp;<i class="fa fa-clock-o"></i>{{thisFlow.TimeCreated}}</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>دوره های آموزش ایمنی</h5>
                </div>
                <div>
                    <div class="ibox-content">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        نام دوره
                                    </th>
                                    <th>
                                        مدت برگزاری دوره
                                    </th>
                                    <th>
                                        تاریخ برگزاری دوره
                                    </th>
                                    <th>
                                        مرجع صدور گواهینامه
                                    </th>
                                    <th>
                                        توضیحات
                                    </th>
                                    <th>
                                        تصویر
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="certification in document.SafetyCertifications">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        <span ng-if="certification.CourseType==1">
                                            دوره آموزش عمومی ایمنی
                                        </span>
                                        <span ng-if="certification.CourseType==2">
                                            دوره شناسایی خطر و ارزیابی ریسک
                                        </span>
                                        <span ng-if="certification.CourseType==3">
                                            {{certification.OtherCourseName}}
                                        </span>
                                    </td>
                                    <td>
                                        <span ng-if="certification.CourseType==1">
                                            40
                                        </span>
                                        <span ng-if="certification.CourseType==2">
                                            16
                                        </span>
                                        <span ng-if="certification.CourseType==3">
                                            {{certification.OtherDurationInHours}}
                                        </span>
                                    </td>
                                    <td>
                                        {{certification.PersianDateTaken}}
                                    </td>
                                    <td>
                                        {{certification.IssuerNumber}}
                                    </td>
                                    <td>
                                        {{certification.Description}}
                                    </td>
                                    <td>
                                        <a onclick="$(this).children().click()" ng-if="certification.CertificationScan_Key">
                                            تصویر
                                            <img src="" url="/Api/File/GetImage?ID={{certification.CertificationScan_Key}}" alt="تصویر مدرک ایمنی" role="button" viewerjs style="display:none;">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>سوابق کاری</h5>
                </div>
                <div>
                    <div class="ibox-content">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        نام واحد
                                    </th>
                                    <th>
                                        نام و نام خانوادگی مدیر عامل
                                    </th>
                                    <th>
                                        تاریخ از
                                    </th>
                                    <th>
                                        تاریخ تا
                                    </th>
                                    <th>
                                        سمت و عنوان شغلی
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="experience in document.WorkExperiences">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        {{experience.WorkshopName}}
                                    </td>
                                    <td>
                                        {{experience.EmployerName}}
                                    </td>
                                    <td>
                                        {{experience.PersianDateFrom}}
                                    </td>
                                    <td>
                                        {{experience.PersianDateTo}}
                                    </td>
                                    <td>
                                        {{experience.Description}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
