﻿<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>گزارشات من</h2>
    </div>
</div>


<div class="wrapper wrapper-content fadeInRight">
    <div class="ibox col-lg-10" ng-repeat="availableSeason in availableSeasons">
        <div class="ibox-title">
            <h3>
                گزارش
                {{seasonFromIndex(availableSeason.Season)}}
                {{availableSeason.Year}}
            </h3>
        </div>
        <div class="ibox-content">
            <div ng-class="{'col-md-4': availableSeason.Comments.length>0}">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>فایل گزارش</h5>
                    </div>
                    <div class="ibox-content">
                        <h4>
                            وضعیت:&nbsp;
                            <span class="text-danger" ng-if="!availableSeason.IsVisible && !availableSeason.IsAccepted">
                                تایید نشده
                            </span>
                            <span class="text-success" ng-if="availableSeason.IsAccepted">
                                تایید شده
                            </span>
                            <span class="text-primary" ng-if="availableSeason.IsVisible && !availableSeason.IsAccepted">
                                در حال بررسی
                            </span>
                        </h4>
                        <h4 ng-if="!availableSeason.IsAccepted">
                            مهلت آپلود:&nbsp;
                            <span class="text-danger" ng-if="availableSeason.dayDifference>120">
                                پایان یافته است
                            </span>
                            <span class="text-danger" ng-if="availableSeason.dayDifference<90">
                                بعد از اتمام فصل
                            </span>
                            <span class="text-danger" ng-if="availableSeason.dayDifference>=90 && availableSeason.dayDifference<=120">
                                {{30-availableSeason.dayDifference+90}} روز باقی مانده است
                            </span>
                        </h4>
                        <h4 class="text-danger" ng-if="!availableSeason.ReportID || !availableSeason.ReportFileName">
                            هیچ فایلی آپلود نشده است
                        </h4>
                        <div ng-if="availableSeason.ReportID && availableSeason.ReportFileName">
                            <a href="/Api/File/GetReportFile?ID={{availableSeason.ReportFileKey}}">
                                <h4 class="text-wrap number english">
                                    {{availableSeason.ReportFileName}}
                                </h4>
                            </a>
                        </div>
                        <hossein-file-upload ng-if="!availableSeason.IsVisible && availableSeason.dayDifference>=90 && availableSeason.dayDifference<=120" data="{{availableSeason}}" action-url="/Api/ExpertNew/UpdateSeasonalReport" title="{{(availableSeason.ReportFileName?'تغییر':'آپلود')}} فایل" success="initiate()"></hossein-file-upload>
                    </div>
                    <div class="ibox-content" ng-if="availableSeason.ReportID && availableSeason.ReportFileName && !availableSeason.IsAccepted">
                        <a ng-if="!availableSeason.IsVisible" class="btn btn-sm btn-danger" ng-click="removeReport(availableSeason.ReportID);">حذف</a>
                        <a ng-if="!availableSeason.IsVisible" class="btn btn-sm btn-success" ng-click="ToggleReportVisibility(availableSeason.ReportID);">ارسال به بازرسان</a>
                        <a ng-if="availableSeason.IsVisible" class="btn btn-sm btn-danger" ng-click="ToggleReportVisibility(availableSeason.ReportID);">بازگردادن به من</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8" ng-if="availableSeason.Comments.length>0">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>نظرات و مشاهدات</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="comment in availableSeason.Comments">
                                <p ng-class="{'text-blue': comment.IsAccepted, 'text-red':!comment.IsAccepted}">{{comment.Text}}</p>
                                <small class="block text-muted text-left number"><i class="fa fa-clock-o"></i>{{comment.PersianDateCreated}} {{comment.TimeCreated}}</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>