﻿<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <form role="form" name="sendRequestForm">
                <div class="ibox-title">
                    <i class="fa fa-pencil text-success m-l"></i>
                    نامه درخواست
                </div>
                <div class="ibox-content form-inline">
                    <div class="p-xs text-justify">
                        احتراماً در اجرای آیین نامه کمیته حفاظت فنی و بهداشت کار در کارگاه ها مصوب 1394/01/31  شورای عالی حفاظت فنی، این واحد ضمن ارائه اطلاعات ذیل در نظر دارد
                        &nbsp;
                        <input type="radio" required name="gender" ng-value="1" ng-model="document.Gender" /> آقا
                        &nbsp;
                        <input type="radio" required name="gender" ng-value="2" ng-model="document.Gender" /> خانم
                        &nbsp;
                        <input type="text" required placeholder="نام" class="form-control" ng-model="document.FirstName" />
                        <input type="text" required placeholder="نام خانوادگی" class="form-control" ng-model="document.LastName" />
                        &nbsp;
                        را بعنوان کارشناس ایمنی و حفاظت فنی همکاری نماید. خواهشمند است دستور فرمایید نسبت به بررسی صلاحیت و صدور تاییدیه برای نامبرده اقدام و از نتیجه این واحد را مطلع نمایید. ضمناً این مجموعه متعهد میگردد در صورت قطع همکاری با کارشناس ایمنی و حفاظت فنی به هر علت مراتب را به اداره کار مربوطه اعلام نموده و نسبت به معرفی فرد جایگزین اقدام نماید.
                    </div>
                </div>
                <div class="ibox-title m-t">
                    اطلاعات کارگاه
                </div>
                <div class="ibox-content">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label>نام واحد/شرکت</label>
                            <input type="text" placeholder="نام واحد/شرکت" class="form-control" ng-model="document.CurrentWorkShop.UnitName" required>
                        </div>
                        <div class="col-sm-6">
                            <label>کد تامین اجتماعی کارگاه(اختیاری)</label>
                            <input type="number" placeholder="کد تامین اجتماعی کارگاه" class="form-control" ng-model="document.CurrentWorkShop.SocialSecurityCode">
                        </div>
                    </div>
                   <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label>تاریخ استخدام</label>
                            <input type="text" placeholder="تاریخ از" class="form-control" id="modalDateFrom" required ng-model="document.CurrentWorkShop.PersianDateFrom">
                        </div>
                        <div class="col-sm-6">
                            <label>ایمیل</label>
                            <input type="email" placeholder="ایمیل" class="form-control"  ng-model="document.Email" required>
                        </div>
                    </div> 
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label>نام و نام خانوادگی مدیر عامل</label>
                            <input type="text" placeholder="نام و نام خانوادگی مدیر عامل" class="form-control" ng-model="document.CurrentWorkShop.EmployerName" required>
                        </div>
                        <div class="col-sm-6">
                            <label>جنسیت مدیر عامل</label>
                            <br />
                            <input type="radio" required name="employerGender" ng-value="1" ng-model="document.CurrentWorkShop.EmployerGender" /> آقا
                            <input type="radio" required name="employerGender" ng-value="2" ng-model="document.CurrentWorkShop.EmployerGender" /> خانم
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label>موضوع فعالیت کارگاه</label>
                            <select class="form-control" required ng-model="document.CurrentWorkShop.FieldOfActivity.Id">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                <option ng-value="activity.Id" ng-repeat="activity in fieldsOfActivity">
                                    {{activity.Name}}
                                </option>                                
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label>نوع تولید</label>
                            <select class="form-control" required ng-model="document.CurrentWorkShop.ProductionType.Id">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                <option ng-value="type.Id" ng-repeat="type in productionTypes">
                                    {{type.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label>تعداد کارگران مرد</label>
                            <input type="number" placeholder="تعداد" class="form-control" ng-model="document.CurrentWorkShop.MaleWorkersNo" required>
                        </div>
                        <div class="col-sm-4">
                            <label>تعداد کارگران زن</label>
                            <input type="number" placeholder="تعداد" class="form-control" ng-model="document.CurrentWorkShop.FemaleWorkersNo" required>
                        </div>
                        <div class="col-sm-4">
                            <label>تعداد کارشناسان ایمنی و حفاظت فنی</label>
                            <input type="number" placeholder="تعداد" class="form-control" ng-model="document.CurrentWorkShop.SafetyWorkersNo" required>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label>نعداد کارگران شیفت صبح</label>
                            <input type="number" placeholder="نعداد" class="form-control" ng-model="document.CurrentWorkShop.MorningWorkersNo" required>
                        </div>
                        <div class="col-sm-4">
                            <label>نعداد کارگران شیفت عصر</label>
                            <input type="number" placeholder="نعداد" class="form-control" ng-model="document.CurrentWorkShop.EveningWorkersNo" required>
                        </div>
                        <div class="col-sm-4">
                            <label>نعداد کارگران شیفت شب</label>
                            <input type="number" placeholder="نعداد" class="form-control" ng-model="document.CurrentWorkShop.NightWorkersNo" required>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label>وسعت کارگاه<small>(متر مربع)</small></label>
                            <input type="number" placeholder="وسعت کارگاه" class="form-control" ng-model="document.CurrentWorkShop.WorkshopSize" required>
                        </div>
                        <div class="col-sm-6">
                            <label>کمیته حفاظت فنی</label>
                            <br />
                            <input type="radio" ng-value="true" name="technicalProtectionCommittee" required ng-model="document.CurrentWorkShop.TechnicalProtectionCommittee" />&nbsp;دارد
                            &nbsp;
                            <input type="radio" ng-value="false" name="technicalProtectionCommittee" required ng-model="document.CurrentWorkShop.TechnicalProtectionCommittee" ng-click="ShowTechnicalProtectionAlert()" />&nbsp;ندارد
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label>شماره تلفن</label>
                            <input type="text" placeholder="شماره تلفن" class="form-control" required ng-model="document.CurrentWorkShop.WorkshopPhone" />
                        </div>
                        <div class="col-sm-6">
                            <label>کدپستی کارگاه</label>
                            <input type="text" placeholder="کدپستی کارگاه" class="form-control" required ng-model="document.CurrentWorkShop.WorkshopPostalCode" />
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-12">
                            <label>آدرس کارگاه</label>
                            <input type="text" placeholder="آدرس کارگاه" class="form-control" required ng-model="document.CurrentWorkShop.WorkshopAddress" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
            <div class="ibox-title m-t m-b">
                <small class="text-red pull-right" ng-show="sendRequestForm.$invalid">لطفاً تمامی فیلدهای مورد نیاز را بدرستی پر کنید</small>
                <br />
                <a class="btn btn-primary pull-right" ng-click="!sendRequestForm.$invalid && SendRequest()" ng-disabled="sendRequestForm.$invalid">تایید و ارسال</a>
                <div class="clearfix"></div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#modalDateFrom').pDatepicker({ format: 'YYYY/MM/DD' });
                });
            </script>
        </div>
    </div>
</div>