﻿@using Automation.Model
@model Automation.Model.Document
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    @if (Model.CurrentFlow.Type == Flow.FlowType.Authorized)
    {
        <div class="row m-b">
            <div class="col-md-12">
                <div class="ibox-content text-center">
                    <table>
                        <tr>
                            <td>
                                <a href="/License?Id=@Model.Id" class="btn btn-primary btn-lg" target="_blank">مشاهده گواهینامه</a>
                            </td>
                            <td>
                                <h3 class="m-r">
                                    کد گواهینامه: @Model.NezamCode
                                </h3>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>سوابق پرونده</h5>
                </div>
                <div>
                    <div class="ibox-content">
                        @foreach (var thisFlow in Model.Flows.OrderByDescending(f => f.DateCreated))
                        {
                            <div class="timeline-item">
                                <div class="row">
                                    <div class="col-xs-3 date">
                                        <i class="fa fa-envelope"></i>
                                        @PersianDate.ConvertDate.ToFa(thisFlow.DateCreated)
                                        <br>
                                        <small class="text-navy">@thisFlow.DateCreated.ToString("hh:mm")</small>
                                    </div>
                                    <div class="col-xs-7 content">
                                        <p class="m-b-xs">
                                            <strong class="timeline-title @((thisFlow.Type==Flow.FlowType.RejectedOnce || thisFlow.Type==Flow.FlowType.RejectedTwice)?"timeline-alert":"") @(thisFlow.Type==Flow.FlowType.Authorized?"timeline-success":"")">
                                                @switch (thisFlow.Type)
                                                {
                                                    case Flow.FlowType.Authorized:
                                                        Write("گواهی صادر گردید");
                                                        break;
                                                    case Flow.FlowType.Created:
                                                        Write("پرونده تشکیل گردید");
                                                        break;
                                                    case Flow.FlowType.NotCompleted:
                                                        Write("درخواست پرونده تکمیل گردید");
                                                        break;
                                                    case Flow.FlowType.RejectedOnce:
                                                        Write("پرونده برای بار اول رد صلاحیت گردید");
                                                        break;
                                                    case Flow.FlowType.RejectedTwice:
                                                        Write("پرونده برای بار دوم رد صلاحیت گردید");
                                                        break;
                                                    case Flow.FlowType.SentToAssociation:
                                                        Write("پرونده به انجمن شهرستان " + (((Association)thisFlow.Staff).County.Name) + " ارجاع داده شد");
                                                        break;
                                                    case Flow.FlowType.SentToClub:
                                                        Write("پرونده به کانون استان " + (((Club)thisFlow.Staff).Province.Name) + " ارجاع داده شد");
                                                        break;
                                                    case Flow.FlowType.SentToCountyInspector:
                                                        Write("پرونده به اداره بازرسی شهرستان " + (((CountyInspector)thisFlow.Staff).County.Name) + " ارجاع داده شد");
                                                        break;
                                                    case Flow.FlowType.SentToInspectionOffice:
                                                        Write("پرونده به اداره کل بازرسی کار ارجاع داده شد");
                                                        break;
                                                    case Flow.FlowType.SentToProvinceInspector:
                                                        Write("پرونده به اداره بازرسی استان " + (((ProvinceInspector)thisFlow.Staff).Province.Name) + " ارجاع داده شد");
                                                        break;
                                                    case Flow.FlowType.SentToProvinceManager:
                                                        Write("پرونده به مدیر کل استان " + (((ProvinceManager)thisFlow.Staff).Province.Name) + " ارجاع داده شد");
                                                        break;
                                                }
                                            </strong>
                                        </p>
                                        <small>
                                            @thisFlow.Description
                                            @if (thisFlow == Model.CurrentFlow && (thisFlow.Type == Flow.FlowType.RejectedOnce || thisFlow.Type == Flow.FlowType.RejectedTwice))
                                            {
                                                <br />
                                                Write("توجه داشته باشید که فقط 15 روز برای ثبت اعتراض زمان دارید");
                                            }
                                            @for (int i = 0; i < thisFlow.Attachments.Count; i++)
                                            {
                                                <br />
                                                <a href="/File/GetImage?ID=@thisFlow.Attachments[i].Id" title="تصویر ضمیمه" data-gallery>ضمیمه @(i + 1)</a>
                                            }
                                        </small>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>اطلاعات پرونده</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <dl class="dl-horizontal">
                                <dt>نام و نام خانوادگی:</dt>
                                <dd>@Model.FullName</dd>
                                <dt>نام پدر:</dt>
                                <dd>@Model.FatherName</dd>
                                <dt>جنسیت:</dt>
                                <dd>@(Model.Gender == Document.GenderType.Female ? "زن" : "مرد")</dd>
                                <dt>شماره شناسنامه:</dt>
                                <dd>@Model.ShenasnameNo</dd>
                                <dt>کد ملی:</dt>
                                <dd>@Model.NationalCode</dd>
                                <dt>تاریخ تولد:</dt>
                                <dd>@PersianDate.ConvertDate.ToFa(Model.BirthDate.Value)</dd>
                                <dt>محل تولد:</dt>
                                <dd>@Model.PlaceOfBirth</dd>
                            </dl>
                        </div>
                        <div class="col-lg-6">
                            <dl class="dl-horizontal">
                                <dt>تلفن همراه:</dt>
                                <dd>@Model.Mobile</dd>
                                <dt>وضعیت تاهل:</dt>
                                <dd>@(Model.MaritalStatus == Document.MaritalStates.Married ? "متاهل" : "مجرد")</dd>
                                <dt>وضعیت سربازی:</dt>
                                <dd>@(Model.MilitaryStatus == Document.MilitaryServiceStates.Passed ? "گذرانده" : "معاف")</dd>
                                @if (Model.MilitaryStatus == Document.MilitaryServiceStates.Exempted)
                                {
                                    <dt>علت معافیت:</dt>
                                    <dd>@Model.ReasonOfExemption</dd>
                                }
                                @if (!string.IsNullOrEmpty(Model.AssociationMembershipNo))
                                {
                                    <dt>شماره عضویت در انجمن:</dt>
                                    <dd>@Model.AssociationMembershipNo</dd>
                                }
                                <dt>تصویر شخص</dt>
                                <dd>
                                    <a href="/File/GetImage?ID=@Model.PhotoScan.Id" title="تصویر شخص" data-gallery>تصویر</a>
                                </dd>
                                <dt>تصاویر شناسنامه</dt>
                                <dd>
                                    @for (int j = 0; j < Model.ShenasnameScans.Count; j++)
                                    {
                                        <a href="/File/GetImage?ID=@Model.ShenasnameScans[j].Id" title="تصویر شناسنامه" data-gallery>تصویر@(j + 1)</a>
                                        Write("، ");
                                    }
                                </dd>
                                <dt>تصاویر کارت ملی</dt>
                                <dd>
                                    @for (int j = 0; j < Model.NationalCardScans.Count; j++)
                                    {
                                        <a href="/File/GetImage?ID=@Model.NationalCardScans[j].Id" title="تصویر کارت ملی" data-gallery>تصویر@(j + 1)</a>
                                        Write("، ");
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                @if (Model.DiplomaCertification != null)
                                {
                                    <dt>مدرک کاردانی:</dt>
                                    <dd>
                                        @Model.DiplomaCertification.FieldOfStudy.Name
                                        ،&nbsp;
                                        <a href="/File/GetImage?ID=@Model.DiplomaCertification.ScanFile.Id" title="تصویر مدرک کاردانی" data-gallery>تصویر</a>
                                    </dd>
                                }
                                @if (Model.BachelorsCertification != null)
                                {
                                    <dt>مدرک کارشناسی:</dt>
                                    <dd>
                                        @Model.BachelorsCertification.FieldOfStudy.Name
                                        ،&nbsp;
                                        <a href="/File/GetImage?ID=@Model.BachelorsCertification.ScanFile.Id" title="تصویر مدرک کارشناسی" data-gallery>تصویر</a>
                                    </dd>
                                }
                                @if (Model.MastersCertification != null)
                                {
                                    <dt>مدرک کارشناسی ارشد:</dt>
                                    <dd>
                                        @Model.MastersCertification.FieldOfStudy.Name
                                        ،&nbsp;
                                        <a href="/File/GetImage?ID=@Model.MastersCertification.ScanFile.Id" title="تصویر مدرک کارشناسی ارشد" data-gallery>تصویر</a>
                                    </dd>
                                }
                                @if (Model.PhDCertification != null)
                                {
                                    <dt>مدرک دکترا:</dt>
                                    <dd>
                                        @Model.PhDCertification.FieldOfStudy.Name
                                        ،&nbsp;
                                        <a href="/File/GetImage?ID=@Model.PhDCertification.ScanFile.Id" title="تصویر مدرک دکترا" data-gallery>تصویر</a>
                                    </dd>
                                }
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5>محل سکونت</h5>
                            <dl class="dl-horizontal">
                                <dt>استان:</dt>
                                <dd>@Model.HomeContact.County.Province.Name</dd>
                                <dt>شهرستان:</dt>
                                <dd>@Model.HomeContact.County.Name</dd>
                                <dt>آدرس:</dt>
                                <dd>@Model.HomeContact.Address</dd>
                                <dt>کدپستی:</dt>
                                <dd>@Model.HomeContact.PostalCode</dd>
                                <dt>تلفن:</dt>
                                <dd>@Model.HomeContact.Phone</dd>
                            </dl>
                        </div>
                        <div class="col-lg-6">
                            <h5>محل اشتغال فعلی</h5>
                            <dl class="dl-horizontal">
                                <dt>استان:</dt>
                                <dd>@Model.WorkContact.County.Province.Name</dd>
                                <dt>شهرستان:</dt>
                                <dd>@Model.WorkContact.County.Name</dd>
                                <dt>آدرس اشتغال فعلی:</dt>
                                <dd>@Model.WorkContact.Address</dd>
                                <dt>کدپستی:</dt>
                                <dd>@Model.WorkContact.PostalCode</dd>
                                <dt>تلفن:</dt>
                                <dd>@Model.WorkContact.Phone</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>اطلاعات کارگاه</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <dl class="dl-horizontal">
                                <dt>نام واحد:</dt>
                                <dd>@Model.CurrentWorkShop.UnitName</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>تاریخ استخدام:</dt>
                                <dd>@PersianDate.ConvertDate.ToFa(Model.CurrentWorkShop.DateFrom)</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>نام و نام خانوادگی مدیر عامل:</dt>
                                <dd>@Model.CurrentWorkShop.EmployerName</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>موضوع فعالیت کارگاه:</dt>
                                <dd>@Model.CurrentWorkShop.FieldOfActivity.Name</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>نعداد کارگران شیفت صبح:</dt>
                                <dd>@Model.CurrentWorkShop.MorningWorkersNo</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>نعداد کارگران شیفت عصر:</dt>
                                <dd>@Model.CurrentWorkShop.EveningWorkersNo</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>نعداد کارگران شیفت شب:</dt>
                                <dd>@Model.CurrentWorkShop.NightWorkersNo</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>وسعت کارگاه<small>(متر مربع)</small></dt>
                                <dd>@Model.CurrentWorkShop.WorkshopSize</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>شماره تلفن</dt>
                                <dd>@Model.CurrentWorkShop.WorkshopPhone</dd>
                            </dl>
                            @if (Model.InsuranceRecordScans.Count > 0)
                            {
                                <dl class="dl-horizontal">
                                    <dt>تصاویر سوابق بیمه</dt>
                                    <dd>
                                        @for (int j = 0; j < Model.InsuranceRecordScans.Count; j++)
                                        {
                                            <a href="/File/GetImage?ID=@Model.InsuranceRecordScans[j].Id" title="تصویر سابقه بیمه" data-gallery>تصویر@(j + 1)</a>
                                            Write("، ");
                                        }
                                    </dd>
                                </dl>
                            }
                        </div>
                        <div class="col-lg-6">
                            <dl class="dl-horizontal">
                                <dt>کد تامین اجتماعی کارگاه:</dt>
                                <dd>@Model.CurrentWorkShop.SocialSecurityCode</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>ایمیل:</dt>
                                <dd>@Model.CurrentWorkShop.Email</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>نوع تولید:</dt>
                                <dd>@Model.CurrentWorkShop.ProductionType.Name</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>تعداد کارگران مرد:</dt>
                                <dd>@Model.CurrentWorkShop.MaleWorkersNo</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>تعداد کارگران زن:</dt>
                                <dd>@Model.CurrentWorkShop.FemaleWorkersNo</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>تعداد مسئولین ایمنی:</dt>
                                <dd>@Model.CurrentWorkShop.SafetyWorkersNo</dd>
                            </dl>
                            @if (Model.CurrentWorkShop.TechnicalProtectionCommittee)
                            {
                                <dl class="dl-horizontal">
                                    <dt>کمیته حفاظت فنی:</dt>
                                    <dd>
                                        @for (int i = 0; i < Model.CurrentWorkShop.TechnicalProtectionCommitteeScans.Count; i++)
                                        {
                                            var scan = Model.CurrentWorkShop.TechnicalProtectionCommitteeScans[i];
                                            <a href="/File/GetImage?ID=@scan.Id" title="تصویر کمیته حفاظت فنی" data-gallery>تصویر @(i + 1)</a>
                                        }
                                    </dd>
                                </dl>
                            }
                            <dl class="dl-horizontal">
                                <dt>کدپستی کارگاه</dt>
                                <dd>@Model.CurrentWorkShop.WorkshopPostalCode</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>تصاویر قرارداد</dt>
                                <dd>
                                    @for (int i = 0; i < Model.CurrentWorkShop.ContractScans.Count; i++)
                                    {
                                        var scan = Model.CurrentWorkShop.ContractScans[i];
                                        <a href="/File/GetImage?ID=@scan.Id" title="تصویر قرارداد" data-gallery>تصویر @(i + 1)</a>
                                    }
                                </dd>
                            </dl>
                        </div>
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>آدرس کارگاه</dt>
                                <dd>@Model.CurrentWorkShop.WorkshopAddress</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>دوره های آموزش ایمنی</h5>
                </div>
                <div>
                    <div class="ibox-content">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        نام دوره
                                    </th>
                                    <th>
                                        مدت برگزاری دوره
                                    </th>
                                    <th>
                                        تاریخ برگزاری دوره
                                    </th>
                                    <th>
                                        مرجع صدور گواهینامه
                                    </th>
                                    <th>
                                        توضیحات
                                    </th>
                                    <th>
                                        تصویر
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.SafetyCertifications.Count; i++)
                                {
                                    var certification = Model.SafetyCertifications[i];
                                    <tr>
                                        <td>
                                            @(i + 1)
                                        </td>
                                        <td>
                                            @switch (certification.CourseType)
                                            {
                                                case Automation.Model.Document.SafetyCertification.Type.ForthyHours:
                                                    Write("دوره آموزش عمومی ایمنی");
                                                    break;
                                                case Automation.Model.Document.SafetyCertification.Type.SixteenHours:
                                                    Write("دوره شناسایی خطر و ارزیابی ریسک");
                                                    break;
                                                case Automation.Model.Document.SafetyCertification.Type.Others:
                                                    Write(certification.OtherCourseName);
                                                    break;
                                            }
                                        </td>
                                        <td>
                                            @switch (certification.CourseType)
                                            {
                                                case Automation.Model.Document.SafetyCertification.Type.ForthyHours:
                                                    Write("40");
                                                    break;
                                                case Automation.Model.Document.SafetyCertification.Type.SixteenHours:
                                                    Write("16");
                                                    break;
                                                case Automation.Model.Document.SafetyCertification.Type.Others:
                                                    Write(certification.OtherDurationInHours);
                                                    break;
                                            }
                                        </td>
                                        <td>
                                            @PersianDate.ConvertDate.ToFa(certification.DateTaken)
                                        </td>
                                        <td>
                                            @certification.IssuerNumber
                                        </td>
                                        <td>
                                            @certification.Description
                                        </td>
                                        <td>
                                            <a href="/File/GetImage?ID=@certification.CertificationScan.Id" title="تصویر مدرک ایمنی" data-gallery>تصویر</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>سوابق کاری</h5>
                </div>
                <div>
                    <div class="ibox-content">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        نام واحد
                                    </th>
                                    <th>
                                        نام و نام خانوادگی مدیر عامل
                                    </th>
                                    <th>
                                        تاریخ از
                                    </th>
                                    <th>
                                        تاریخ تا
                                    </th>
                                    <th>
                                        سمت و عنوان شغلی
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.WorkExperiences.Count; i++)
                                {
                                    var experience = Model.WorkExperiences[i];
                                    <tr>
                                        <td>
                                            @(i + 1)
                                        </td>
                                        <td>
                                            @experience.WorkshopName
                                        </td>
                                        <td>
                                            @experience.EmployerName
                                        </td>
                                        <td>
                                            @PersianDate.ConvertDate.ToFa(experience.DateFrom)
                                        </td>
                                        <td>
                                            @PersianDate.ConvertDate.ToFa(experience.DateTo)
                                        </td>
                                        <td>
                                            @experience.Description
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Reports.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>گزارشات آپلود شده</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        تاریخ ارسال
                                    </th>
                                    <th>
                                        تاریخ گزارش
                                    </th>
                                    <th>
                                        فایل گزارش
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Reports.Count; i++)
                                {
                                    var report = Model.Reports[i];
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>@PersianDate.ConvertDate.ToFa(report.DateCreated)</td>
                                        <td>@PersianDate.ConvertDate.ToFa(report.Date)</td>
                                        <td>
                                            <a href="/File/GetFile?ID=@report.File.Id" title="دانلود">دانلود</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
