﻿<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <h4 class="modal-title">دوره آموزشی در زمینه ایمنی</h4>
    </div>
    <div class="modal-body">
        <form name="certificationInfo">
            <div class="form-group col-sm-12">
                <div class="col-sm-6">
                    <label>نوع دوره</label>
                    <select required ng-model="certification.CourseType">
                        <option value="">
                            --انتخاب کنید--
                        </option>
                        <option ng-value="1">
                            دوره آموزش عمومی ایمنی 40 ساعته یا گواهی آزمون ادواری از مرکز تحقیقات
                        </option>
                        <option ng-value="2">
                            دوره شناسایی خطر و ارزیابی ریسک 16 ساعته
                        </option>
                        <option ng-value="3">
                            سایر دوره ها
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12" ng-if="certification.CourseType==3">
                <div class="col-sm-6">
                    <label>نام دوره</label>
                    <input type="text" placeholder="نام دوره" class="form-control" required ng-model="certification.OtherCourseName">
                </div>
                <div class="col-sm-6">
                    <label>مدت برگزاری دوره<small>(ساعت)</small></label>
                    <input type="number" placeholder="مدت برگزاری دوره" class="form-control number" required ng-model="certification.OtherDurationInHours">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-6">
                    <label>تاریخ برگزای دوره</label>
                    <input type="text" placeholder="تاریخ برگزای دوره" class="form-control text-left" id="modalDateTakenInString" required ng-model="certification.PersianDateTaken">
                </div>
                <div class="col-sm-6">
                    <label>مرجع صدور گواهینامه</label>
                    <input type="text" placeholder="مرجع صدور گواهینامه" class="form-control text-left" required ng-model="certification.IssuerNumber">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <label>توضیحات</label>
                    <input type="text" placeholder="توضیحات" class="form-control text-left" ng-model="certification.Description">
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="modal-footer">
        <small class="text-red pull-right" ng-show="certificationInfo.$invalid">لطفاً تمامی فیلدهای مورد نیاز را بدرستی پر کنید</small>
        <br />
        <button type="button" class="btn btn-white" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-primary" ng-click="!certificationInfo.$invalid && AddOrEditCertification()" ng-disabled="certificationInfo.$invalid">اضافه کردن</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#modalDateTakenInString").pDatepicker({ format: 'YYYY/MM/DD' });
    });
</script>