﻿<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="Close()">
            <span aria-hidden="true">×</span>
            <span class="sr-only">بستن</span>
        </button>
        <h4 class="modal-title">سابقه کاری</h4>
    </div>
    <div class="modal-body">
        <form name="experienceInfo">
            <div class="form-group col-sm-12">
                <div class="col-sm-6">
                    <label>نام واحد</label>
                    <input type="text" placeholder="نام واحد" class="form-control" required ng-model="experience.WorkshopName">
                </div>
                <div class="col-sm-6">
                    <label>نام و نام خانوادگی مدیر عامل</label>
                    <input type="text" placeholder="نام و نام خانوادگی مدیر عامل" class="form-control" required ng-model="experience.EmployerName">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-6">
                    <label>تاریخ از</label>
                    <input type="text" placeholder="تاریخ از" class="form-control" required ng-model="experience.PersianDateFrom" id="modalDateFrom">
                </div>
                <div class="col-sm-6">
                    <label>تاریخ تا</label>
                    <input type="text" placeholder="تاریخ تا" class="form-control" required ng-model="experience.PersianDateTo" id="modalDateTo">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <label>سمت و عنوان شغلی</label>
                    <input type="text" placeholder="سمت و عنوان شغلی" class="form-control" ng-model="experience.Description">
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="modal-footer">
        <small class="text-red pull-right" ng-show="experienceInfo.$invalid">لطفاً تمامی فیلدهای مورد نیاز را بدرستی پر کنید</small>
        <br />
        <button type="button" class="btn btn-white" ng-click="Close()">بستن</button>
        <button type="button" class="btn btn-primary" ng-click="!experienceInfo.$invalid && AddOrEditWorkExperience()" ng-disabled="experienceInfo.$invalid">ثبت</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#modalDateFrom').pDatepicker({ format: 'YYYY/MM/DD' });
        $('#modalDateTo').pDatepicker({ format: 'YYYY/MM/DD' });
    });
</script>