﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <h4 class="modal-title">تغییر گذرواژه برای کاربر</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div>
            <label>نام کاربری مورد نظر</label>
            <input type="text" placeholder="نام کاربری" class="form-control" ng-model="username">
        </div>
    </div>
    <div class="form-group">
        <div>
            <label>گذرواژه جدید</label>
            <input type="password" placeholder="گذرواژه جدید" class="form-control" ng-model="newPassword">
        </div>
    </div>
    <div class="form-group">
        <div>
            <label>تکرار گذرواژه جدید</label>
            <input type="password" placeholder="تکرار گذرواژه جدید" class="form-control" ng-model="newPasswordCopy">
        </div>
    </div>
    <div class="form-group">
        <div>
            <label>گذرواژه مدیریت</label>
            <input type="password" placeholder="گذرواژه مدیریت" class="form-control" ng-model="adminPassword">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="Close()">بستن</button>
    <button type="button" class="btn btn-primary" ng-click="ChangePassword()">تغییر</button>
</div>