﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <h4 class="modal-title">
        تغییر نام شهرستان
    </h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div>
            <label>نام شهرستان</label>
            <input type="text" placeholder="نام شهرستان" class="form-control" ng-model="name">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="Close()">بستن</button>
    <button type="button" class="btn btn-primary" ng-click="ChangeName()">تغییر</button>
</div>