﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <h4 ng-if="type=='chairman'" class="modal-title">
        تغییر نام رئیس اداره بازرسی کار استان
    </h4>
    <h4 ng-if="type=='head'" class="modal-title">
        تغییر نام بازرس کار مسئول تایید صلاحیت
    </h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div>
            <label ng-if="type=='chairman'">رئیس اداره بازرسی کار استان</label>
            <label ng-if="type=='head'">بازرس کار مسئول تایید صلاحیت</label>
            <input type="text" placeholder="نام و نام خانوادگی" class="form-control" ng-model="name">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="Close()">بستن</button>
    <button type="button" class="btn btn-primary" ng-click="ChangeName()">تغییر</button>
</div>