﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <h4 class="modal-title">غیرفعالسازی کاربر</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div>
            <label class="text-red">
                دقت داشته باشید که در صورت غیرفعالسازی این کاربر تمامی پرونده های موجود در دست وی به مراتب بالاتر ارسال خواهند شد. لطفاً در اینجا علت این اقدام را جهت ذکر در پرونده ها اعلام نمایید.
            </label>
            <textarea placeholder="علت غیرفعالسازی" ng-model="description" class="form-control"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="Close()">بستن</button>
    <button type="button" class="btn btn-primary" ng-disabled="!description" ng-click="description && DeactivateClub()">انجام عملیات</button>
</div>