﻿<!--
public string ;
public double ;
public DateTime ;
public string ;
public string Description;-->

<div class="modal-header">
    <button type="button" class="close" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <strong class="modal-title">{{title}}</strong>
</div>
<div class="modal-body">
    <form name="certificationFrom">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-line">
                        <select class="form-control" ng-model="fieldOfCertificationId">
                            <option value="">سایر</option>
                            <option ng-value="fieldOfCertification.ID" ng-repeat="fieldOfCertification in fieldOfCertifications">
                                {{fieldOfCertification.Name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div ng-show="!fieldOfCertificationId">
                <div class="col-md-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" ng-model="otherCourseName">
                            <label class="form-label">نام دوره</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" ng-model="otherDurationInHours">
                            <label class="form-label">مدت دوره (به ساعت)</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="issuerName">
                        <label class="form-label">مرجع صدور گواهینامه</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="persianDateTaken" id="datetaken">
                        <label class="form-label">تاریخ برگزای دوره</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="description">
                        <label class="form-label">توضیحات</label>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-block btn-info waves-effect" type="submit" ng-click="certificationFrom.$valid && AddOrEditSafetyCertification()">ثبت تغییرات</button>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datetaken').pDatepicker({ format: 'YYYY/MM/DD' });
    });
</script>