﻿<div class="modal-header">
    <button type="button" class="close" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <strong class="modal-title">ساخت نام کاربری برای پروانه شماره {{licenseId}}</strong>
</div>
<div class="modal-body">
    <form name="passwordFrom">
        <div class="form-group">
            <div class="form-line">
                <input type="text" class="form-control" ng-model="username">
                <label class="form-label">نام کاربری</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-line">
                <input type="password" class="form-control" ng-model="password">
                <label class="form-label">گذرواژه</label>
            </div>
        </div>
        <div class="form-group">
            <div class="form-line">
                <input type="password" class="form-control" ng-model="passwordAgain">
                <label class="form-label">تکرار گذرواژه</label>
            </div>
        </div>
        <button class="btn btn-block btn-info waves-effect" type="submit" ng-click="passwordFrom.$valid && CreateLicenseUser()">ایجاد نام کاربری</button>
    </form>
</div>