﻿<div class="modal-header">
    <button type="button" class="close" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <strong class="modal-title">{{title}}</strong>
</div>
<div class="modal-body">
    <form name="educationFrom">
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <select class="form-control" required ng-model="degreeLevelID">
                            <option value="">-- انتخاب کنید --</option>
                            <option ng-value="1">
                                دیپلم
                            </option>
                            <option ng-value="2">
                                فوق دیپلم
                            </option>
                            <option ng-value="3">
                                کارشناسی
                            </option>
                            <option ng-value="4">
                                کارشناسی ارشد
                            </option>
                            <option ng-value="5">
                                دکترا
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-line">
                        <select class="form-control" required ng-model="fieldOfEducationID">
                            <option value="">-- انتخاب کنید --</option>
                            <option ng-value="fieldOfEducation.ID" ng-repeat="fieldOfEducation in fieldOfEducations">
                                {{fieldOfEducation.Name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-block btn-info waves-effect" type="submit" ng-click="educationFrom.$valid && AddOrEditEducation()">ثبت تغییرات</button>
    </form>
</div>