﻿<!--
    ExperienceID;
    DateFrom;
    DateTo;
    WorkshopName;
    EmployerName;
    Description;
-->

<div class="modal-header">
    <button type="button" class="close" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <strong class="modal-title">{{title}}</strong>
</div>
<div class="modal-body">
    <form name="experienceFrom">
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="workshopName">
                        <label class="form-label">نام واحد/کارگاه</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="employerName">
                        <label class="form-label">نام کارفرما</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="persianDateFrom" id="persianDateFrom">
                        <label class="form-label">شروع فعالیت</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="persianDateTo" id="persianDateTo">
                        <label class="form-label">پایان فعالیت</label>
                    </div>
                </div>
            </div>            
            <div class="col-md-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="form-control" ng-model="description">
                        <label class="form-label">توضیحات</label>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-block btn-info waves-effect" type="submit" ng-click="experienceFrom.$valid && AddOrEditWorkExperience()">ثبت تغییرات</button>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#persianDateFrom').pDatepicker({ format: 'YYYY/MM/DD' });
        $('#persianDateTo').pDatepicker({ format: 'YYYY/MM/DD' });
    });
</script>