﻿<div class="modal-header">
    <button type="button" class="close" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <strong class="modal-title">روند پروانه</strong>
</div>
<div class="modal-body">
    <div class="modal-lic">
        <ul class="timeline timeline-horizontal">
            <li class="timeline-item" ng-repeat="flow in flows">
                <div class="timeline-badge primary" ng-if="flow.Type==2">{{$index+1}}</div>
                <div class="timeline-badge warning" ng-if="flow.Type==3 || flow.Type==4 || flow.Type==5 || flow.Type==6 ||flow.Type==9 || flow.Type==11">{{$index+1}}</div>
                <div class="timeline-badge success" ng-if="flow.Type==7">{{$index+1}}</div>
                <div class="timeline-badge danger" ng-if="flow.Type==8  || flow.Type==10 || flow.Type==12">{{$index+1}}</div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <strong class="timeline-title">{{GetFlowType(flow.Type)}}</strong>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{flow.PersianDateCreated}}</small></p>
                    </div>
                    <div class="timeline-body">
                        <small class="col-red">{{flow.Description}}</small>
                        <div ng-if="flow.AttachmentIds.length>0">
                            ضمیمه:
                            <img viewerjs class="m-l-5" ng-repeat="attachmentId in flow.AttachmentIds" src="/Api/Expert/GetImage?ID={{attachmentId}}&height=20&width=20" url="/Api/Expert/GetImage?ID={{attachmentId}}" alt="ضمیمه پرونده" role="button">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="Close()">بستن</button>
</div>