﻿<div class="modal-header">
    <button type="button" class="close" ng-click="Close()">
        <span aria-hidden="true">×</span>
        <span class="sr-only">بستن</span>
    </button>
    <strong class="modal-title">ثبت اعتراض</strong>
</div>
<div class="modal-body">
    <div class="col-xs-12">
        <textarea class="col-xs-12 m-b-10" placeholder="توضیحات" ng-model="description"></textarea>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-12">
        <div class="image-box m-t-10" ng-repeat="pictureId in attachmentIds">
            <img viewerjs src="/Api/Expert/GetImage?ID={{pictureId}}&height=57&width=57" url="/Api/Expert/GetImage?ID={{pictureId}}" alt="تصویر ضمیمه اعتراض" role="button">
            <br />
            <button class="btn btn-danger btn-xs" ng-click="RemoveObjectionAttachment(pictureId)">
                <i class="material-icons md-15">delete_forever</i>
                <span>حذف</span>
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-3 m-t-10">
        <hossein-file-upload action-url="/Api/Expert/AddObjectionAttachment" data="{{licenseId}}" title="اضافه کردن ضمیمه" success="LoadAttachments()"></hossein-file-upload>
    </div>
    <div class="col-sm-2 m-t-10">
        <a class="btn btn-success" ng-click="Objectify()">
            ثبت اعتراض
        </a>
    </div>
    <div class="col-sm-2 m-t-10">
        <a class="btn btn-danger" ng-click="Close()">
            انصراف
        </a>
    </div>
    <div class="clearfix"></div>
</div>

