﻿<!--<li ng-class="{active: $state.includes('admin.associations')}">
    <a ui-sref="admin.associations">
        <i class="fa fa-list"></i>
        <span class="nav-label">انجمن ها</span>
    </a>
</li>
<li ng-class="{active: $state.includes('admin.fieldsofstudy')}">
    <a ui-sref="admin.fieldsofstudy">
        <i class="fa fa-list"></i>
        <span class="nav-label">رشته ها</span>
    </a>
</li>
<li ng-class="{active: $state.includes('admin.fieldsofactivity')}">
    <a ui-sref="admin.fieldsofactivity">
        <i class="fa fa-list"></i>
        <span class="nav-label">فعالیت ها</span>
    </a>
</li>
<li ng-class="{active: $state.includes('admin.requirementrules')}">
    <a ui-sref="admin.requirementrules">
        <i class="fa fa-list"></i>
        <span class="nav-label">مقدار نیازمندی</span>
    </a>
</li>
<li ng-class="{active: $state.includes('admin.productiontypes')}">
    <a ui-sref="admin.productiontypes">
        <i class="fa fa-list"></i>
        <span class="nav-label">انواع تولید</span>
    </a>
</li>
<li ng-class="{active: $state.includes('admin.systemlock')}">
    <a ui-sref="admin.systemlock">
        <i class="fa fa-list"></i>
        <span class="nav-label">قفل سیستم</span>
    </a>
</li>
<li ng-class="{active: $state.includes('admin.documents')}">
    <a ui-sref="admin.users">
        <i class="fa fa-list"></i>
        <span class="nav-label">پرونده ها</span>
    </a>
</li>
-->
<li ng-class="{active: $state.includes('admin.clubs')}">
    <a ui-sref="admin.clubs">
        <i class="fa fa-list"></i>
        <span class="nav-label">کانون ها</span>
    </a>
</li>
<li ng-class="{active: $state.includes('admin.countyinspectors')}">
    <a ui-sref="admin.countyinspectors">
        <i class="fa fa-list"></i>
        <span class="nav-label">بازرسان شهرستان</span>
    </a>
</li>
<li ng-class="{active: $state.includes('admin.users')}">
    <a ui-sref="admin.users">
        <i class="fa fa-list"></i>
        <span class="nav-label">کاربران</span>
    </a>
</li>