﻿<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>لیست کانون ها</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        استان
                                    </th>
                                    <th>
                                        رئیس اداره بازرسی کار استان
                                    </th>
                                    <th>
                                        بازرس کار مسئول تایید صلاحیت
                                    </th>
                                    <th>
                                        نام کاربری
                                    </th>
                                    <th>
                                        گذرواژه
                                    </th>
                                    <th>
                                        وضعیت
                                    </th>
                                    <th>
                                        تعداد پرونده
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="province in provinces">
                                    <th>{{$index+1}}</th>
                                    <td>
                                        {{province.Name}}
                                    </td>
                                    <td>
                                        <a class="btn btn-xs btn-info" ng-click="OpenChangeProvinceChairmanModal(province.ID, province.ChairmanFullName)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        {{province.ChairmanFullName}}
                                    </td>
                                    <td>
                                        <a class="btn btn-xs btn-info" ng-click="OpenChangeProvinceHeadModal(province.ID,province.HeadFullName)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        {{province.HeadFullName}}
                                    </td>
                                    <td>
                                        {{province.Club ? province.Club.Username:""}}
                                    </td>
                                    <td>
                                        {{province.Club ? (province.Club.Password=="unknown"?"نامشخص":province.Club.Password):""}}
                                    </td>
                                    <td>
                                        {{province.Club ? (province.Club.Activated?"فعال":"غیرفعال"): "بدون کانون"}}
                                    </td>
                                    <td>
                                        {{province.Club ? province.Club.CurrentDocuments:0}}
                                    </td>
                                    <td>
                                        <input type="button" class="btn btn-success" ng-if="!province.Club" ng-click="test()" value="ایجاد کانون" />
                                        <input type="button" class="btn btn-danger" ng-if="province.Club && province.Club.Activated" value="غیرفعالسازی" ng-click="OpenDeactivationModal(province.Club.ID)" />
                                        <input type="button" class="btn btn-primary" ng-if="province.Club && !province.Club.Activated" value="فعالسازی" ng-click="ActivateClub(province.Club.ID)" />
                                        <input type="button" class="btn btn-default" ng-if="province.Club" value="تغییر گذرواژه" ng-click="OpenChangePasswordModal(province.Club.Username)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>