﻿<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>لیست بازرس شهرستان ها</h5>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" ng-click="OpenAddCountyModal()">
                        اضافه کردن
                    </button>    
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        استان
                                    </th>
                                    <th>
                                        شهرستان
                                    </th>
                                    <th>
                                        نام کاربری
                                    </th>
                                    <th>
                                        گذرواژه
                                    </th>
                                    <th>
                                        وضعیت
                                    </th>
                                    <th>
                                        تعداد پرونده
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="countyInspector in countyInspectors">
                                    <th>{{$index+1}}</th>
                                    <td>
                                        {{countyInspector.ProvinceName}}
                                    </td>
                                    <td>
                                        <a class="btn btn-xs btn-info" ng-click="OpenChangeCountyNameModal(countyInspector.ID, countyInspector.Name)">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        {{countyInspector.Name}}
                                    </td>
                                    <td>
                                        {{countyInspector.CountyInspector && countyInspector.CountyInspector.Username}}
                                    </td>
                                    <td>
                                        {{countyInspector.CountyInspector && (countyInspector.CountyInspector.Password=="unknown"?"نامشخص":countyInspector.CountyInspector.Password)}}
                                    </td>
                                    <td>
                                        {{countyInspector.CountyInspector?(countyInspector.CountyInspector.Activated?"فعال":"غیرفعال"):"بدون بازرس"}}
                                    </td>
                                    <td>
                                        {{countyInspector.CountyInspector && countyInspector.CountyInspector.CurrentDocuments}}
                                    </td>
                                    <td>
                                        <input type="button" class="btn btn-success" ng-if="!countyInspector.CountyInspector" value="اضافه کردن" ng-click="OpenAddCountyInspectorModal(countyInspector.ID, countyInspector.ProvinceName, countyInspector.Name)" />
                                        <input type="button" class="btn btn-danger" ng-if="countyInspector.CountyInspector && countyInspector.CountyInspector.Activated" value="غیرفعالسازی" ng-click="OpenDeactivationModal(countyInspector.CountyInspector.ID)" />
                                        <input type="button" class="btn btn-primary" ng-if="countyInspector.CountyInspector && !countyInspector.CountyInspector.Activated" value="فعالسازی" ng-click="ActivateCountyInspector(countyInspector.CountyInspector.ID)" />
                                        <input type="button" class="btn btn-default" ng-if="countyInspector.CountyInspector" value="تغییر گذرواژه" ng-click="OpenChangePasswordModal(countyInspector.CountyInspector.Username)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>