﻿<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>اطلاعات کاربران</h5>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" ng-click="OpenChangeOthersPasswordModal()">
                         تغییر گذرواژه کاربران
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>