﻿<style>
    body {
        background-color: white;
    }

    @page {
        size: 297mm 210mm;
        margin: 0cm;
    }

    .A4Box {
        overflow:hidden;
        position: relative;
        width: 29.6cm;
        height: 20.9cm;
        border: 1px solid;
        page-break-after: always;
        page-break-inside: avoid;
    }

    .profile-img {
        position: absolute;
        height: 3.7cm;
        width: 3cm;
        right: 2.7cm;
        top: 1.4cm;
        border: .5mm solid;
    }

    .sarbarg {
        position: absolute;
        left: 4.1cm;
        top: 0.8cm;
        line-height: 1cm;
        font-family: "MitraBoldWeb",'YekanNumbersWeb';
    }

    .title {
        width: 17.2cm;
        right: 6cm;
        top: 1.6cm;
        position: absolute;
        text-align: center;
        height: 5.5cm;
    }

        .title img {
            width: 3.5cm;
            height: auto;
        }

        .title .office-title {
            margin-top: 0.5cm;
            font-size: 6.5mm;
            font-family: "MitraBoldWeb";
        }

        .title .page-title {
            margin-top: 0.5cm;
            font-size: 5.3mm;
            font-family: "MitraBoldWeb";
        }

    .main-text {
        width: 24.3cm;
        right: 2.6cm;
        top: 7.3cm;
        position: absolute;
        font-family: "MitraWeb",'YekanNumbersWeb';
        font-size: 4.9mm;
        line-height: 12.2mm;
        text-align: justify;
    }

        .main-text .signature {
            width: 9cm;
            margin-right: 11.8cm;
            text-align: center;
            font-family: "MitraBoldWeb",'YekanNumbersWeb';
            font-size: 4.7mm;
            line-height: 11mm;
            /*font-weight: bold;*/
        }

        .main-text .address {
            /* margin-top: -50px; */
            font-family: "MitraBoldWeb",'YekanNumbersWeb';
            font-size: 4.6mm;
            /*font-weight: bold;*/
        }

    .back {
        position: absolute;
        top: 2.3cm;
        width: 29.5cm;
    } 
    .back-title {
        
        text-align: center;
        font-family: "MitraBoldWeb",'YekanNumbersWeb';
        font-size: 5mm;
        /*font-weight: bold;*/
    }

    .back-content {
        margin-right: 2.6cm;
        width: 24.2cm;
        margin-top: 1.2cm;
        font-family: "MitraWeb",'YekanNumbersWeb';
        font-size: 5.5mm;
        line-height: 10.7mm;
        text-align: justify;
    }



    @media print {
        .A4Box {
            border: 0;
        }
    }
</style>
<div class="A4Box">
    <!--<img src="/Resource/1.PNG" style="width:29.6cm; height:20.9cm; position:absolute; z-index:-1" />-->
    <img class="profile-img" src="/Api/Expert/GetImage?ID={{data.PhotoId}}&height=400&width=300" />
    <div class="sarbarg">
        تاریخ:&nbsp;{{data.PersianDateAuthorized}}
        <br />
        شماره:&nbsp;{{data.LicenseId}}
    </div>
    <div class="title">
        <img src="/Resource/images/vezaratLogo.jpg" />
        <div class="office-title">
            اداره کل تعاون، کار و رفاه اجتماعی استان&nbsp;{{data.CompanyProvince}}
        </div>
        <div class="page-title">
            تاییدیه صلاحیت مسئول ایمنی
        </div>
    </div>
    <div class="main-text">
        <div>
            در اجرای مواد (1) و (3) آیین نامه بکارگیری مسئول ایمنی در کارگاه ها مصوب 1394/1/31 شورای عالی حفاظت فنی، بدینوسیله صلاحیت&nbsp;<strong ng-if="data.Gender==1">آقای</strong><strong ng-if="data.Gender==2">خانم</strong>&nbsp;<strong>{{data.FullName}}</strong>&nbsp;(صاحب عکس فوق)، دارای مدرک تحصیلی&nbsp;<strong ng-if="data.MaxEducation.DegreeLevel==1">دیپلم</strong><strong ng-if="data.MaxEducation.DegreeLevel==2">فوق دیپلم</strong><strong ng-if="data.MaxEducation.DegreeLevel==3">کارشناسی</strong><strong ng-if="data.MaxEducation.DegreeLevel==4">کارشناسی ارشد</strong><strong ng-if="data.MaxEducation.DegreeLevel==5">دکترا</strong>&nbsp;<strong>{{data.MaxEducation.EducationField}}</strong>&nbsp;برای احراز سمت مسئول ایمنی در شرکت/کارگاه/پروژه&nbsp;<strong>{{data.CompanyName}}</strong>&nbsp;با موضوع فعالیت&nbsp;<strong>{{data.FieldOfActivity}}</strong>&nbsp;و حداکثر&nbsp;<strong>{{data.TotalNumberOfWorkers}}</strong>&nbsp;نفر به نشانی&nbsp;<strong>{{data.CompanyFullAddress}}</strong>&nbsp;تایید میگردد. لذا، از تاریخ صدور این تاییدیه، فرد یاد شده می تواند به مدت <strong>2 سال</strong> در سمت ذکر شده فعالیت نماید. بدیهی است تمدید این صلاحیت منوط به بررسی و تایید عملکرد وفق شرح وظایف تعریف شده در آیین نامه مذکور خواهد بود.
        </div>
        <div class="signature">
            رئیس اداره بازرسی کار استان&nbsp;{{data.CompanyProvince}}
            <br />
            {{data.ProvinceChiefFullName}}
        </div>
        <div class="address">
            {{data.ProvinceOfficeAddress}}
            <br />
            تلفن:&nbsp;{{data.ProvinceOfficePhone}}
        </div>
    </div>
</div>
<div class="A4Box">
    <!--<img src="/Resource/2.PNG" style="width:29.6cm; height:20.9cm; position:absolute; z-index:-1" />-->
    <div class="back">
        <div class="back-title">
            مواردی مستخرج از آیین نامه بکارگیری مسئولین ایمنی در کارگاهها مصوب 31/01/1394
        </div>
        <div class="back-content">
            <strong>1. </strong>این تائیدیه، فقط برای فعالیت در کارگاه مشخص شده معتبر بوده و برای فعالیت در سایر کارگاهها باید تائیدیه مجدد اخذ گردد.
            <br />
            <strong>2. </strong>تمدید مجدد این تاییدیه، با بررسی عملکرد مطابق با شرح وظایف اعلام شده، طی کردن دوره های آموزشی مورد نیاز و بازرسی از وضعیت ایمنی کارگاه انجام خواهد شد.
            <br />
            <strong>3. </strong>تعیین اولویت جذب (بر اساس نوع رشته تحصیلی، سابقه کار)، نحوه و ساعات حضورمسئول/مسئولان ایمنی در کارگاه ها، بر اساس وسعت کارگاه، تعداد کارگران شاغل، نوع فعالیت و مخاطرات موجود در کارگاه مطابق دستورالعملهای صادره توسط اداره کل بازرسی کار می باشد.
            <br />
            <strong>4. </strong>مسئول ایمنی موظف به گذراندن دورههای آموزش عمومی و بازآموزی تخصصی مورد نیاز اعلام شده توسط اداره بازرسی کار خواهد بود.
            <br />
            <strong>5. </strong>پرداخت هزینههای مربوط به دورههای آموزشی و بازآموزی مورد نیاز مسئول ایمنی شاغل در کارگاه، به عهده کارفرما میباشد.
            <br />
            <strong>6. </strong>گزارش عملکرد مسئول ایمنی براساس شرح وظایف اعلام شده، باید در پایان هر فصل، به واحد بازرسی کار محل ارسال شود.
            <br />
            <strong>7. </strong>در صورت قطع رابطه کاری مسئول ایمنی با کارگاه، ضروری است مراتب به واحد بازرسی کار اعلام و بلافاصله نسبت به جایگزینی فرد واجد شرایط اقدام گردد، به طوری که تحت هیچ شرایط کارگاه بدون مسئول ایمنی نباشد.
            <br />
            <strong>8. </strong>فرد تائید صلاحیت شده نمیتواند همزمان به عنوان مسئول بهداشت حرفهای کمیته حفاظت فنی و بهداشت کارکارگاه فعالیت نماید.
        </div>
    </div>    
</div>