﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a><i class="material-icons ">people</i>مشاهده پرونده</a></li>
        <li><a>{{data.Expert.FirstName}}&nbsp;{{data.Expert.LastName}}</a></li>
    </ol>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="col-lg-4 col-md-6">
                        <strong>نام:</strong>
                        {{data.Expert.FirstName}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>نام خانوادگی:</strong>
                        {{data.Expert.LastName}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>نام کاربری اصلی:</strong>
                        {{data.Expert.Username}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>کدملی:</strong>
                        {{data.Expert.NationalCode}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>تاریخ تولد:</strong>
                        {{data.Expert.PersianBirthDate}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>نام پدر:</strong>
                        {{data.Expert.FatherName}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>شماره شناسنامه:</strong>
                        {{data.Expert.ShenasnameNo}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>شماره همراه:</strong>
                        {{data.Expert.Mobile}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>ایمیل:</strong>
                        {{data.Expert.Email}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>جنسیت:</strong>
                        <span ng-if="data.Expert.Gender==1">
                            مرد
                        </span>
                        <span ng-if="data.Expert.Gender==2">
                            زن
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>وضعیت تاهل:</strong>
                        <span ng-if="data.Expert.MaritalStatus==1">
                            مجرد
                        </span>
                        <span ng-if="data.Expert.MaritalStatus==2">
                            متاهل
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-6" ng-if="data.Expert.Gender==1">
                        <strong>وضعیت سربازی:</strong>
                        <span ng-if="data.Expert.MilitaryStatus==1">
                            گذرانده
                        </span>
                        <span ng-if="data.Expert.MilitaryStatus==2">
                            معاف
                        </span>
                    </div>
                    <div class="col-lg-4 col-md-6" ng-if="data.Expert.Gender==1 && data.Expert.MilitaryStatus==2">
                        <strong>علت معافیت:</strong>
                        {{data.Expert.ReasonOfExemption}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>محل تولد:</strong>
                        {{data.Expert.PlaceOfBirth}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>شهرستان محل سکونت:</strong>
                        {{data.Expert.HomeProvince}},&nbsp;{{data.Expert.HomeCounty}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>کدپستی محل سکونت:</strong>
                        {{data.Expert.HomePostalCode}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>تلفن محل سکونت:</strong>
                        {{data.Expert.HomePhone}}
                    </div>
                    <div class="col-sm-12">
                        <strong>آدرس محل سکونت:</strong>
                        {{data.Expert.HomeAddress}}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>تصویر شخص:</strong>
                        <img viewerjs src="/Api/Expert/GetImage?ID={{data.Expert.PhotoScan_ID}}&height=50&width=50" url="/Api/Expert/GetImage?ID={{data.Expert.PhotoScan_ID}}" alt="تصویر شخص" role="button">
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>تصاویر شناسنامه:</strong>
                        <img viewerjs ng-repeat="scanID in data.Expert.ShenasnameScanIds" src="/Api/Expert/GetImage?ID={{scanID}}&height=50&width=50" url="/Api/Expert/GetImage?ID={{scanID}}" alt="تصویر شناسنامه" role="button">
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <strong>تصاویر کارت ملی:</strong>
                        <img viewerjs ng-repeat="scanID in data.Expert.NationalCardScanIds" src="/Api/Expert/GetImage?ID={{scanID}}&height=50&width=50" url="/Api/Expert/GetImage?ID={{scanID}}" alt="تصویر کارت ملی" role="button">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="body table-responsive">
                    <strong>تحصیلات:</strong>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>مدرک</th>
                                <th>رشته</th>
                                <th>تصویر</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="education in data.Expert.Educations">
                                <th scope="row">{{$index+1}}</th>
                                <td ng-if="education.DegreeLevel==1">دیپلم</td>
                                <td ng-if="education.DegreeLevel==2">فوق دیپلم</td>
                                <td ng-if="education.DegreeLevel==3">کارشناسی</td>
                                <td ng-if="education.DegreeLevel==4">کارشناسی ارشد</td>
                                <td ng-if="education.DegreeLevel==5">دکترا</td>
                                <td>{{education.FieldOfEducation}}</td>
                                <td>
                                    <img ng-if="education.ScanFile_ID" viewerjs src="/Api/Expert/GetImage?ID={{education.ScanFile_ID}}&height=50&width=50" url="/Api/Expert/GetImage?ID={{education.ScanFile_ID}}" alt="تصویر مدرک" role="button">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="body table-responsive">
                    <strong>دوره های آموزشی:</strong>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>دوره</th>
                                <th>مدت دوره</th>
                                <th>تاریخ شروع</th>
                                <th>صادر کننده</th>
                                <th>توضیحات</th>
                                <th>تصویر</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="certification in data.Expert.Certifications">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{certification.FieldOfCertification}}</td>
                                <td>{{certification.DurationInHours}} ساعت</td>
                                <td>{{certification.PersianDateTaken}}</td>
                                <td>{{certification.IssuerName}}</td>
                                <td>{{certification.Description}}</td>
                                <td>
                                    <img ng-if="certification.CertificationScan_ID" viewerjs src="/Api/Expert/GetImage?ID={{certification.CertificationScan_ID}}&height=50&width=50" url="/Api/Expert/GetImage?ID={{certification.CertificationScan_ID}}" alt="تصویر مدرک" role="button">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="body table-responsive">
                    <strong>سوابق کاری:</strong>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>نام واحد/کارگاه</th>
                                <th>نام کارفرما</th>
                                <th>تاریخ شروع</th>
                                <th>تاریخ پایان</th>
                                <th>توضیحات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="experience in data.Expert.WorkExperiences">
                                <th scope="row">{{$index+1}}</th>
                                <td>{{experience.WorkshopName}}</td>
                                <td>{{experience.EmployerName}} ساعت</td>
                                <td>{{experience.PersianDateFrom}}</td>
                                <td>{{experience.PersianDateTo}}</td>
                                <td>{{experience.Description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-repeat="license in data.Licenses">
                    <div class="header" ng-class="{'bg-grey':!license.IsAssignedToMe,'bg-green':license.IsAssignedToMe==true}">
                        پروانه شماره {{license.LicenseId}}
                        <div class="header-dropdown m-r--5">
                            {{GetFlowType(license.CurrentFlowType)}}
                            <span ng-if="license.IsAssignedToMe">(من)</span>
                        </div>
                    </div>
                    <div class="body">
                        <div class="col-lg-4 col-md-6">
                            <strong>تاریخ درخواست به مسئول ایمنی:</strong>
                            {{license.PersianDateCreated}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>تاریخ شروع به فعالیت:</strong>
                            <span ng-if="license.PersianStartDate">
                                {{license.PersianStartDate}}
                            </span>
                            <span ng-if="!license.PersianStartDate">
                                مشخص نشده
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>تاریخ پایان فعالیت:</strong>
                            <span ng-if="license.PersianEndDate">
                                {{license.PersianEndDate}}
                            </span>
                            <span ng-if="!license.PersianEndDate">
                                مشخص نشده
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>نام کاربری پروانه:</strong>
                            <span ng-if="license.Username">
                                {{license.Username}}
                            </span>
                            <span ng-if="!license.Username">
                                مشخص نشده
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>شناسه شرکت:</strong>
                            {{license.Company.CompanyCode}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>نام واحد/کارگاه:</strong>
                            {{license.Company.UnitName}}
                        </div>
                        <div class="col-lg-4 col-md-6" ng-if="license.Company.SocialSecurityCode">
                            <strong>کد تامین اجتماعی:</strong>
                            {{license.Company.SocialSecurityCode}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>نام کارفرما:</strong>
                            {{license.Company.CEOFirstName}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>نام خانوادگی کارفرما:</strong>
                            {{license.Company.CEOLastName}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>نوع تولید:</strong>
                            {{license.Company.ProductionType}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>حوزه فعالیت:</strong>
                            {{license.Company.FieldOfActivity}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>درجه خطر:</strong>
                            <span ng-if="license.Company.FieldOfActivityDangerLevel==0">
                                نامشخص
                            </span>
                            <span ng-if="license.Company.FieldOfActivityDangerLevel==1">
                                کم خطر
                            </span>
                            <span ng-if="license.Company.FieldOfActivityDangerLevel==2">
                                خطر متوسط
                            </span>
                            <span ng-if="license.Company.FieldOfActivityDangerLevel==3">
                                پر خطر
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>تعداد کارگران مرد:</strong>
                            {{license.Company.MaleWorkersNo}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>تعداد کارگران زن:</strong>
                            {{license.Company.FemaleWorkersNo}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>تعداد کارگران صبح:</strong>
                            {{license.Company.MorningWorkersNo}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>تعداد کارگران عصر:</strong>
                            {{license.Company.EveningWorkersNo}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>تعداد کارگران شب:</strong>
                            {{license.Company.NightWorkersNo}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>تعداد مسئولین ایمنی:</strong>
                            {{license.Company.SafetyWorkersNo}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>وسعت کارگاه:</strong>
                            {{license.Company.WorkshopSize}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>شهرستان محل کارگاه:</strong>
                            {{license.Company.Province}},&nbsp;{{license.Company.County}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>کدپستی کارگاه:</strong>
                            {{license.Company.PostalCode}}
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <strong>تلفن کارگاه:</strong>
                            {{license.Company.Phone}}
                        </div>
                        <div class="col-sm-12">
                            <strong>آدرس کارگاه:</strong>
                            {{license.Company.Address}}
                        </div>
                        <div class="col-xs-12">
                            <a class="btn bg-orange waves-effect col-xs-12" ng-click="OpenLicenseFlow(license.LicenseId)">
                                <i class="material-icons f-16">layers</i>
                                <span>روند پروانه</span>
                            </a>
                            <a ng-if="license.CurrentFlowType==7" class="btn btn-success waves-effect col-xs-12" target="_blank" href="/#/PrintLicense?LID={{license.LicenseId}}">
                                <i class="material-icons f-16">done</i>
                                <span>پرینت گواهی مسئول ایمنی</span>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="body" ng-if="license.IsAssignedToMe">
                        <strong>تصمیم گیری:</strong><br />
                        <textarea style="width:100%; min-width:100%; max-width:100%; min-height:50px;" placeholder="توضیحات" ng-model="license.Description"></textarea>
                        <br />
                        <a class="btn btn-success waves-effect" ng-if="license.CurrentFlowType==6 ||
                                                          license.CurrentFlowType==9 ||
                                                          license.CurrentFlowType==11" ng-click="AuthenticateLicense(license.LicenseId,license.Description)">
                            <i class="material-icons f-16">done</i>
                            تایید صلاحیت مسئول ایمنی
                        </a>
                        <a class="btn btn-danger waves-effect" ng-if="license.CurrentFlowType==6 ||
                                                          license.CurrentFlowType==9 ||
                                                          license.CurrentFlowType==11" ng-click="RejectLicenseAuthentication(license.LicenseId,license.Description)">
                            <i class="material-icons f-16">block</i>
                            رد صلاحیت مسئولیت ایمنی
                        </a>
                        <a class="btn btn-primary waves-effect" ng-if="license.CurrentFlowType==3 ||
                                                          license.CurrentFlowType==4 ||
                                                          license.CurrentFlowType==5" ng-click="RecognizeLicense(license.LicenseId,license.Description)">
                            <i class="material-icons f-16">send</i>
                            تایید صحت مدارک
                        </a>
                        <a class="btn btn-danger waves-effect" ng-if="license.CurrentFlowType==3 ||
                                                          license.CurrentFlowType==4 ||
                                                          license.CurrentFlowType==5 ||
                                                          license.CurrentFlowType==6" ng-click="RejectLicenseRecognition(license.LicenseId,license.Description)">
                            <i class="material-icons f-16">clear</i>
                            رد صحت مدارک
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>