﻿<div class="container-fluid">
    <ol class="breadcrumb breadcrumb-bg-teal align-right">
        <li><a><i class="material-icons ">people</i>افراد منتظر من</a></li>
    </ol>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="notify m-b-15">
                        می توانید از <b>نام</b>، <b>نام خانوادگی</b>، <b>کدملی</b>، <b>شماره همراه</b>، <b>ایمیل</b>، <b>نام کاربری</b>، <b>استان</b> و یا <b>شهرستان</b> برای فیلتر کردن نتیجه افراد مورد نظر استفاده نمایید.
                    </div>
                    <label class="form-label m-b-10">
                        <i class="material-icons md-18 col-red v-a">more_vert</i> فیلتر کردن افراد
                    </label>
                    <div class="input-group">
                        <input type="text" ng-model="filterBox" class="form-control search" placeholder="فیلتر...">
                        <span class="input-group-btn">
                            <button type="button" class="btn bg-cyan" ng-click="Filter()">
                                <i class="material-icons md-15">search</i>
                                <span>اعمال</span>
                            </button>
                        </span>
                    </div>
                    <div class="col-md-6 col-lg-4" ng-repeat="expert in waitingExperts">
                        <div class="card">
                            <div class="header bg-green">
                                <h2>
                                    <span ng-if="expert.Gender==2">
                                        خانم
                                    </span>
                                    <span ng-if="expert.Gender==1">
                                        آقای
                                    </span>
                                    &nbsp;
                                    {{expert.FullName}}
                                    <small ng-if="expert.MaxEducation">
                                        <span ng-if="expert.MaxEducation.DegreeLevel==1">سیکل</span>
                                        <span ng-if="expert.MaxEducation.DegreeLevel==2">دیپلم</span>
                                        <span ng-if="expert.MaxEducation.DegreeLevel==3">کارشناسی</span>
                                        <span ng-if="expert.MaxEducation.DegreeLevel==4">کارشناسی ارشد</span>
                                        <span ng-if="expert.MaxEducation.DegreeLevel==5">دکتری</span>
                                        &nbsp;{{expert.MaxEducation.EducationField}}
                                    </small>
                                </h2>
                                <img class="expert-photo" src="/Api/CEO/GetImage?ID={{expert.PhotoScan_ID}}&height=60&width=60" />
                            </div>
                            <div class="body p-10">
                                <ol class="breadcrumb padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i> کدملی:
                                        <strong>{{expert.NationalCode}}</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i> تاریخ تولد:
                                        <strong>{{expert.PersianBirthDate}}</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i> سن:
                                        <strong>{{expert.Age}} سال</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i>
                                        ایمیل: <strong>{{expert.Email}}</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i>
                                        نام پدر: <strong>{{expert.FatherName}}</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i>
                                        شماره شناسنامه: <strong>{{expert.ShenasnameNo}}</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i>
                                        نام کاربری: <strong>{{expert.Username}}</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i>
                                        تعداد پرونده های فعال: <strong>{{expert.NumberOfAcceptedLicenses}}</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red">more_vert</i>
                                        تعداد کل پروانه ها: <strong>{{expert.NumberOfLicenses}}</strong>
                                    </li>
                                </ol>
                                <ol class="breadcrumb padding-0">
                                    <li class="active">
                                        <i class="material-icons col-red f-s">location_on</i>
                                        ساکن: <strong>{{expert.HomeProvince}},&nbsp;{{expert.HomeCounty}}</strong>
                                    </li>
                                </ol>
                                <hr class="padding-0" />
                                <a class="btn btn-block btn-xs btn-info waves-effect" href="/#/Dashboard/Staff/ViewPerson?U={{expert.Username}}">
                                    <i class="material-icons">supervisor_account</i>
                                    <span>مشاهده</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
