﻿body {
    font-family: 'YekanWeb','YekanNumbersWeb';
}

.form-control {
    font-size: 13px;
}

.recaptcha {
    width: 300px;
    margin: 0 auto;
}

.image-box {
    float: right;
}

    .image-box a {
        width: 100px;
    }

.hire-button {
    position: absolute;
    left: 23px;
    top: 47px;
}


.modalCss .modal-dialog {
    width: 60% !important;
    margin: 30px auto;
}

.no-pad {
    padding: 0px;
    margin: 12px;
}

.display {
    float: right
}

.f-s {
    font-size: 14px !important;
}

.f-s2 {
    font-size: 12px !important;
}

.login-page .login-box .logo, .header.f-h {
    font-family: NazaninWeb;
}

.logo-st {
    font-family: mitraboldweb;
    color: #4d881c;
    font-size: 12px;
}


.logo-st1 {
    font-family: mitraboldweb;
    /*color: #4d881c;*/
    font-size: 12px;
}

.m-b {
    margin-bottom: 0px !important;
}

.md-15 {
    font-size: 15px !important;
}

/*[type="checkbox"].filled-in:not(:checked) + label:after {
    border: 2px solid #03A9F4 !important;
}*/

.notify {
    background-color: #fff3cd;
    border-color: #fff3cd;
    color: #856404 !important;
    padding: 6px;
    border-radius: 3px;
    border-right: 2px solid #e8bc39 !important;
    border: 2px dotted #fdd766;
    font-size: 12px;
}

.notify-red {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442 !important;
    padding: 6px;
    border-radius: 3px;
    border-right: 2px solid #a94442 !important;
    border: 2px dotted #ffc9c8;
    font-size: 12px;
}


.v-a {
    vertical-align: middle;
    margin-left: 4px;
}


.input-group .form-control.search {
    border: 1px solid #eaeaea !important;
}


.ale {
    background: #f2dede;
    border-right: 2px solid #e25252;
}

.btn-circle {
    width: 25px !important;
    height: 25px !important;
}

    .btn-circle i {
        font-size: 13px !important;
        bottom: 3px;
        left: 0px !important;
    }

.dropdown-menu.pro {
    padding-top: 0px;
}


.header.head {
    background-color: #e8e8e8;
    padding: 12px !important;
}

.padli {
    padding: 4px 9px;
}

    .padli:hover {
        background-color: #e8e8e8;
    }

.card .body.p-10, .card .body .header.p-10 {
    padding: 10px !important;
}

/*.position {
    position: relative !important;
    padding: 4px !important;
    margin-top: 0px !important;
    border-bottom: none !important
}*/

.breadcrumb.ba {
    background-color: #f5f5f5 !important;
}

.m-set {
    margin: 14px 0px;
}

.f-16 {
    font-size: 16px !important;
}

.m-b {
    margin-bottom: 0px !important;
}

.modal-lic {
    /*width: 811px;*/
    overflow-y: hidden;
    overflow-x: auto;
    /*display: inline-block;*/
}

.modal .modal-header {
    border-bottom: 1px solid #eaeaea !important;
    padding: 14px 25px 14px 25px !important;
    background-color: #f3f1f1 !important;
    color: #737272 !important;
}

.i-foot {
    font-size: 15px !important;
    margin-left: 3px;
}

.modal .modal-footer {
    border-top: 1px solid #eaeaea !important;
    padding: 14px 25px 14px 25px !important;
    background-color: #f3f1f1 !important;
    /*color: #737272 !important;*/
}

.user {
    border: 3px dotted #e4dede;
    padding: 0px 10px;
}

.h-t {
    padding-bottom: 16px !important;
    font-family: mitraboldweb;
    background-color: #eef3f2;
}

.font {
    font-family: nazaninweb;
    color: #6e6161 !important;
    font-size: 19px !important;
}

.modal .modal-content .modal-body.content {
    /*padding: 20px 25px;*/
    margin: 25px 3px;
}

.material-icons.f-17 {
    top: 3px !important;
}

.f-17 {
    font-size: 17px !important;
}

.content-top {
    background-color: #efefef;
    padding: 9px 10px;
    font-family: yekanweb;
    font-size: 15px;
    text-align: center;
    /*border: 2px dotted #cbcbcb;*/
    margin: 0px 5px;
    font-weight: bold;
}

.content-body {
    background-color: #f9f9f9;
    padding: 3px 10px;
    font-family: mitraweb;
    font-size: 15px;
    border-right: 2px solid #f09842;
    margin: 5px 5px;
}

[type="checkbox"].filled-in:checked + label.owner:before {
    top: 0px !important;
    right: 11px !important;
    width: 7px !important;
}

[type="checkbox"] + label.owner {
    padding-right: 23px !important
}

[type="checkbox"].filled-in + label.owner::before,
[type="checkbox"].filled-in + label.owner::after {
    right: 0 !important;
}

.m {
    margin-bottom: 2px !important;
}

/* Timeline */
.timeline, .timeline-horizontal {
    list-style: none;
    padding: 20px;
    position: relative;
}

    .timeline:before {
        top: 40px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline .timeline-item {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline .timeline-item:before,
        .timeline .timeline-item:after {
            content: "";
            display: table;
        }

        .timeline .timeline-item:after {
            clear: both;
        }

        .timeline .timeline-item .timeline-badge {
            color: #fff;
            width: 54px;
            height: 54px;
            line-height: 43px;
            font-size: 22px;
            text-align: center;
            position: absolute;
            top: 18px;
            left: 50%;
            margin-left: -25px;
            background-color: #7c7c7c;
            border: 3px solid #ffffff;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

            .timeline .timeline-item .timeline-badge i,
            .timeline .timeline-item .timeline-badge .fa,
            .timeline .timeline-item .timeline-badge .glyphicon {
                top: 2px;
                left: 0px;
            }

            .timeline .timeline-item .timeline-badge.primary {
                background-color: #1f9eba;
            }

            .timeline .timeline-item .timeline-badge.info {
                background-color: #5bc0de;
            }

            .timeline .timeline-item .timeline-badge.success {
                background-color: #59ba1f;
            }

            .timeline .timeline-item .timeline-badge.warning {
                background-color: #d1bd10;
            }

            .timeline .timeline-item .timeline-badge.danger {
                background-color: #ba1f1f;
            }

        .timeline .timeline-item .timeline-panel {
            position: relative;
            width: 46%;
            float: left;
            right: 16px;
            border: 1px solid #c0c0c0;
            background: #ffffff;
            border-radius: 2px;
            padding: 15px;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline .timeline-item .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -16px;
                display: inline-block;
                border-top: 16px solid transparent;
                border-left: 16px solid #c0c0c0;
                border-right: 0 solid #c0c0c0;
                border-bottom: 16px solid transparent;
                content: " ";
            }

            .timeline .timeline-item .timeline-panel .timeline-title {
                margin-top: 0;
                color: inherit;
            }

            .timeline .timeline-item .timeline-panel .timeline-body > p,
            .timeline .timeline-item .timeline-panel .timeline-body > ul {
                margin-bottom: 0;
            }

                .timeline .timeline-item .timeline-panel .timeline-body > p + p {
                    margin-top: 5px;
                }

        .timeline .timeline-item:last-child:nth-child(even) {
            float: right;
        }

        .timeline .timeline-item:nth-child(even) .timeline-panel {
            float: right;
            left: 16px;
        }

            .timeline .timeline-item:nth-child(even) .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-horizontal {
    /*list-style: none; */
    /* position: relative; */
    padding: 50px 0px 20px 0px;
    display: inline-block;
}

    .timeline-horizontal:before {
        height: 3px;
        top: auto;
        bottom: 26px;
        left: 56px;
        right: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .timeline-horizontal .timeline-item {
        display: table-cell;
        height: 125px;
        width: 18%;
        min-width: 285px;
        float: none !important;
        padding-left: 0;
        padding-right: 30px;
        margin: 0 auto;
        vertical-align: bottom;
    }

        .timeline-horizontal .timeline-item .timeline-panel {
            top: auto;
            bottom: 50px;
            display: inline-block;
            float: none !important;
            left: 0 !important;
            right: 0 !important;
            width: 100%;
            margin-bottom: 20px;
            background-color: #dcdcdc4f;
        }

            .timeline-horizontal .timeline-item .timeline-panel:before {
                top: auto;
                bottom: -16px;
                left: 28px !important;
                right: auto;
                border-right: 16px solid transparent !important;
                border-top: 16px solid #c0c0c0 !important;
                border-bottom: 0 solid #c0c0c0 !important;
                border-left: 16px solid transparent !important;
            }

        .timeline-horizontal .timeline-item:before,
        .timeline-horizontal .timeline-item:after {
            display: none;
        }

        .timeline-horizontal .timeline-item .timeline-badge {
            top: auto;
            bottom: 0px;
            left: 43px;
        }

/* ribbon*/
.ribbon-2 {
    width: 140px;
    height: 36px;
    left: -8px;
    position: absolute;
    margin-top: -55px;
}

    .ribbon-2 div {
        position: absolute;
        margin-top: 10px;
        text-align: center;
        color: #f2f2f2;
        width: 100%;
    }

    .ribbon-2:before {
        height: 0;
        width: 0;
        border-left: 8px solid transparent;
        top: -8px;
        left: 0px;
    }

    .ribbon-2:before, .ribbon-2:after {
        content: "";
        position: absolute;
    }

    .ribbon-2:after {
        height: 0;
        width: 0;
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        right: -10px;
    }

    .ribbon-2.ribbon-red {
        background-color: #cf4c4c;
    }

        .ribbon-2.ribbon-red:after {
            border-left: 10px solid #cf4c4c;
        }

        .ribbon-2.ribbon-red:before {
            border-bottom: 8px solid #840707;
        }

    .ribbon-2.ribbon-grey {
        background-color: #8D8D8D;
    }

        .ribbon-2.ribbon-grey:after {
            border-left: 10px solid #8D8D8D;
        }

        .ribbon-2.ribbon-grey:before {
            border-bottom: 8px solid #574F4F;
        }

    .ribbon-2.ribbon-green {
        background-color: #3C813E;
    }

        .ribbon-2.ribbon-green:after {
            border-left: 10px solid #3C813E;
        }

        .ribbon-2.ribbon-green:before {
            border-bottom: 8px solid #204221;
        }

    .ribbon-2.ribbon-pink {
        background-color: #E91E63;
    }

        .ribbon-2.ribbon-pink:after {
            border-left: 10px solid #E91E63;
        }

        .ribbon-2.ribbon-pink:before {
            border-bottom: 8px solid #901941;
        }

    .ribbon-2.ribbon-cyan {
        background-color: #00BCD4;
    }

        .ribbon-2.ribbon-cyan:after {
            border-left: 10px solid #00BCD4;
        }

        .ribbon-2.ribbon-cyan:before {
            border-bottom: 8px solid #198A99;
        }

.expert-photo {
    position: absolute;
    left: 10px;
    top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.timeline.timeline-horizontal {
    direction: ltr;
}
.timeline .timeline-body {
    direction: rtl;
    text-align: right;
}




