﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Resources/images/favicon.png" sizes="32x32" type="image/png">
    <link href="~/Resources/plugins/persian-fonts/persian-fonts.css" rel="stylesheet" />
    <link href="~/Resources/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Resources/plugins/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/Resources/plugins/inspinia/animate.css" rel="stylesheet" />
    <link href="~/Resources/plugins/inspinia/style.css" rel="stylesheet" />
    <link href="~/Resources/plugins/persian-datepicker/css/persian-datepicker-0.4.5.min.css" rel="stylesheet" />
    <link href="~/Resources/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet" />
    <link href="~/Resources/plugins/fileupload/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Resources/plugins/dataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Resources/plugins/dataTables/css/dataTables.responsive.css" rel="stylesheet" />
    <link href="~/Resources/plugins/dataTables/css/dataTables.tableTools.min.css" rel="stylesheet" />
    <!--Customization-->
    <link href="~/Resources/styles/layout.css" rel="stylesheet" />
    <script src="~/Resources/plugins/jquery/jquery-2.1.1.js"></script>
    <script src="~/Resources/plugins/bootstrap/js/bootstrap.rtl.min.js"></script>
    <script src="~/Resources/plugins/inspinia/inspinia.js"></script>
    <script src="~/Resources/plugins/pace/pace.min.js"></script>
    <script src="~/Resources/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Resources/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Resources/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Resources/plugins/persian-datepicker/persian-date.js"></script>
    <script src="~/Resources/plugins/persian-datepicker/persian-datepicker-0.4.5.min.js"></script>
    <script src="~/Resources/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
    <script src="~/Resources/plugins/fileupload/jquery.ui.widget.js"></script>
    <script src="~/Resources/plugins/fileupload/jquery.iframe-transport.js"></script>
    <script src="~/Resources/plugins/fileupload/jquery.fileupload.js"></script>
    <script src="~/Resources/plugins/dataTables/js/jquery.dataTables.js"></script>
    <script src="~/Resources/plugins/dataTables/js/dataTables.bootstrap.js"></script>
    <script src="~/Resources/plugins/dataTables/js/dataTables.responsive.js"></script>
    <script src="~/Resources/plugins/dataTables/js/dataTables.tableTools.min.js"></script>
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        function CreateFileUpload(action, data, fileUploadID, progressBarID, success) {
            $('#' + progressBarID).hide();
            $('#' + progressBarID + ' .progress-bar').css('width', 0);
            $('#' + fileUploadID).fileupload({
                url: action,
                formData: data,
                done: success,
                error: function (response) {
                    $('#' + progressBarID).hide();
                    $('#' + progressBarID + ' .progress-bar').css('width', 0);
                    alertInModal('خطا', response.responseText);
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#' + progressBarID).show();
                    $('#' + progressBarID + ' .progress-bar').css('width', progress + '%');
                }
            }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
        }
        function Refresh() {
            location.href = location.href;
        }
        function RedirectTo(to) {
            location.href = to;
        }
        function alertInModal(title, text) {
            $("#messageModal #messageModalTitle").text(title);
            $("#messageModal #messageModalText").text(text);
            $("#messageModal").modal('show');
        }
        function informInModal(title, text) {
            $("#messageModal #messageModalTitle").text(title);
            $("#messageModal #messageModalText").text(text);
            $("#messageModal").modal('show');
        }
        function postForm(action, formID, success) {
            var form = $('#' + formID);
            if (form.valid()) {
                postData(action, form.serialize(), success);
            }
        }
        function postData(action, data, success) {
            startWaiting();
            $.post(action, data)
            .done(function (a) {
                if (success == null || success == undefined) {
                    stopWaiting();
                } else {
                    $.when(success(a)).then(stopWaiting());
                }                
            })
            .error(
                function (response) {
                    stopWaiting();
                    alertInModal('خطا', response.responseText);
                }
            );
        }
        $(document).ready(function () {
            jQuery.extend(jQuery.validator.messages, {
                required: "این داده اجباری می باشد.",
                minlength: jQuery.validator.format("حداقل {0} کاراکتر وارد کنید."),
                number: "فقط عدد وارد کنید.",
            });
        });
        function startWaiting() {
            $("#waitModal").modal({
                backdrop: 'static',
                keyboard: false
            });
        }
        function stopWaiting() {
            $("#waitModal").modal("hide");
        }
    </script>
</head>
<body class="rtls skin-3" style="direction: rtl;">
    @RenderBody()
    <div class="modal inmodal" id="messageModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">بستن</span>
                    </button>
                    <strong class="modal-title" id="messageModalTitle"></strong>
                </div>
                <div class="modal-body" id="messageModalText">
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="waitModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <strong class="modal-title">
                        لطفاً صبر نمایید
                    </strong>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


