﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خطای دسترسی</title>
    <link href="~/Resources/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Resources/plugins/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/Resources/plugins/inspinia/animate.css" rel="stylesheet" />
    <link href="~/Resources/plugins/inspinia/style.css" rel="stylesheet" />
    <link href="~/Resources/plugins/persian-fonts/persian-fonts.css" rel="stylesheet" />
    <link href="~/Resources/styles/layout.css" rel="stylesheet" />
    <script src="~/Resources/plugins/jquery/jquery-2.1.1.js"></script>
    <script src="~/Resources/plugins/bootstrap/js/bootstrap.rtl.min.js"></script>

</head>
<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1 style="font-size:40px;">خطای دسترسی</h1>
        <div class="error-desc">
            دسترسی به این قسمت برای شما امکان پذیر نمی باشد.
        </div>
    </div>
</body>
</html>
