﻿@model Automation.UI.Models.ProfileLayout
@{
    ViewBag.Title = "سامانه تایید صلاحیت مسئولین ایمنی";
    Layout = "~/Views/Shared/BasicLayout.cshtml";
}
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu" style="display: block;">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">@Model.ProfileName</strong>
                                </span><span class="text-muted text-xs block">@Model.ProfileDesc<b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a data-toggle="modal" data-target="#changePasswordModal">تغییر رمز عبور</a></li>
                            <li class="divider"></li>
                            <li>
                                <a onclick="Logout()">خروج</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        <img src="~/Resources/images/logo_white.png" />
                    </div>
                </li>
                @helper DrawMenu(List<Automation.UI.Models.ProfileLayoutMenu> menus)
                {
foreach (var menu in menus.Where(m => !m.IsHidden))
{
        <li class='@(menu.IsActive ? "active" : "")'>
            <a href="@menu.HRef">
                @if (menu.Icon != null)
                {
                    <i class="fa fa-@menu.Icon"></i>
                }
                <span class="nav-label">@menu.Name</span>
                @if (menu.Children != null)
                {
                    <span class="fa arrow"></span>
                }
            </a>
            @if (menu.Children != null)
            {
                <ul class="nav nav-second-level collapse" style='@(menu.IsActive ? "" : "height: 0px")'>
                    @DrawMenu(menu.Children)
                </ul>
            }
        </li>
}
}
                @DrawMenu(Model.Menus)
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1" style="min-height: 1167px;">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i></a>
                    <div class="application-title">
                        سامانه تایید صلاحیت مسئولین ایمنی
                    </div>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">@PersianDate.ConvertDate.ToFa(DateTime.Now)</span>
                    </li>
                    <li>
                        <a onclick="Logout()">
                            خروج
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        @RenderBody()
        <div class="footer">
            <div class="pull-right">
                تهیه شده توسط اداره کل تعاون، کار و رفاه اجتماعی استان تهران و کانون انجمن های صنفی مسئولین ایمنی و بهداشت کار استان تهران
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function Logout() {
        postData('/Authentication/Logout', null,
            function () {
                Refresh();
            }
        );
    }
    function ChangePassword(formID) {
        if ($("#cNewPasswordText").val() == $("#newPasswordText").val()) {
            postForm('/Authentication/ChangePassword', formID,
                function () {
                    informInModal('تغییر گذرواژه', 'با موفقیت انجام شد');
                }
            );
        } else {
            alertInModal('خطا', 'تکرار گذرواژه صحیح نمی باشد');
        }        
    }
</script>

<div class="modal inmodal" id="changePasswordModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <form id="changePasswordForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">بستن</span>
                    </button>
                    <h4 class="modal-title">تغییر گذرواژه</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div>
                            <label>گذرواژه فعلی</label>
                            <input type="password" placeholder="گذرواژه فعلی" class="form-control" name="currentPassword" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>گذرواژه جدید</label>
                            <input type="password" placeholder="گذرواژه جدید" class="form-control" name="newPassword" id="newPasswordText" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label>تکرار گذرواژه جدید</label>
                            <input type="password" placeholder="تکرار گذرواژه جدید" class="form-control" name="cNewPassword" id="cNewPasswordText" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                    <button type="button" class="btn btn-primary" onclick="ChangePassword('changePasswordForm')">تغییر</button>
                </div>
            </form>
        </div>
    </div>
</div>