﻿<div>
    <style>
        body {
            background-color: #f3f3f4 !important;
        }
    </style>
    <div class="loginColumns row">
        <table class="text-center" align="center">
            <tr>
                <td>
                    <img src="../../Resources/images/allah.png" style="width:50px;" />
                </td>
            </tr>
            <tr>
                <td style="padding-right:10px">
                    جمهوری اسلامی ایران
                    <br />
                    وزارت تعاون، کار و رفاه اجتماعی
                    <br />
                    <b>
                        معاونت روابط کار
                    </b>
                </td>
            </tr>
        </table>
    </div>
    <div class="text-center">
        <h2>سامانه تایید صلاحیت کارشناسان ایمنی و حفاظت فنی</h2>
    </div>
    <div class="loginColumns row">
        <div class="tabs-container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a class="nav-link active" data-toggle="tab" href="#tab-login">
                        <i class="fa fa-user"></i>
                        ورود به سامانه
                    </a>
                </li>
                <li>
                    <a class="nav-link" data-toggle="tab" href="#tab-register">
                        <i class="fa fa-key"></i>
                        ثبت نام در سامانه
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" id="tab-login" class="tab-pane active">
                    <div class="panel-body">
                        <div class="ibox-content">
                            <form class="m-t" role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control english" autocomplete="on" placeholder="نام کاربری" ng-return="Login()" ng-model="loginUser.UserName">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control english" autocomplete="off" placeholder="گذرواژه" ng-return="Login()" ng-model="loginUser.Password">
                                </div>
                                <div class="form-group text-right">
                                    <input type="checkbox" ng-model="loginUser.IsPersistent" />
                                    <label>مرا بخاطر بسپار</label>
                                </div>
                                <button type="button" class="btn btn-primary block full-width m-b" ng-click="Login()" ng-disabled="!(loginUser.UserName && loginUser.Password)">ورود</button>
                                <a ng-click="OpenForgotPasswordModal()"><small>گذرواژه خود را فراموش کرده ام</small></a>
                            </form>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" id="tab-register" class="tab-pane">
                    <div class="panel-body">
                        <div class="ibox-content">
                            <form class="m-t" role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control english" autocomplete="off" placeholder="نام کاربری متقاضی" ng-return="RegisterExpert()" ng-model="registerUser.Username">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control english" autocomplete="off" placeholder="گذرواژه" ng-return="RegisterExpert()" ng-model="registerUser.Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control english" autocomplete="off" placeholder="تکرار گذرواژه" ng-return="RegisterExpert()" ng-model="registerUser.PasswordCopy">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" ng-model="registerUser.Agreement" />
                                    <label>
                                        با <a ng-click="OpenAgreementModal()">قوانین سامانه</a> موافق هستم.
                                    </label>
                                </div>
                                <div class="form-group">
                                    <img src={{captchaAddress}} class="captchaImg" />
                                    <input type="text" ng-model="registerUser.Captcha" class="form-control english" autocomplete="off" placeholder="کد امنیتی" ng-return="RegisterExpert()">
                                </div>
                                <button type="button" class="btn btn-primary block full-width m-b" ng-click="RegisterExpert()" ng-disabled="!(registerUser.Username && registerUser.Password && registerUser.PasswordCopy && registerUser.Agreement && registerUser.Captcha)">ثبت نام</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="space-20">
                    <a href="../../Resources/misc/guide.pdf" target="_blank">
                        <i class="fa fa-question-circle"></i>
                        راهنمای استفاده از سامانه
                    </a>
                </div>
                <div class="space-20">
                    <a href="https://crtosh.mcls.gov.ir/fa/mojavez" target="_blank">
                        <i class="fa fa-question-circle"></i>
                        مراجع ذی صلاح آموزش های ایمنی در زمینه کارشناسان ایمنی و حفاظت فنی
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <p class="m-t-xl">
            <small>
                <img src="../../Resources/images/logo.png" style="width: 33px;margin-left: 5px;" />
                تمامی حقوق مادی و معنوی این وب سایت متعلق به کانون کارشناسان ایمنی و حفاظت فنی و بهداشت کار استان تهران می باشد.
            </small>
        </p>
    </div>
</div>