﻿<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span ng-if="profileData.PhotoScan_Key">
                            <img alt="image" class="img-circle" src="/Api/File/GetImage?ID={{profileData.PhotoScan_Key}}&height=48&width=48">
                        </span>
                        <a data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{profileData.FullName}}</strong>
                                </span>
                                <span class="text-muted text-xs block">{{description}}<b class="caret"></b></span>
                                <span class="text-muted text-xs block" ng-if="profileData.Email">{{profileData.Email}}</span>
                                <span class="text-xs text-danger block" ng-if="!profileData.Email">لطفاً ایمیل خود را از اینجا ثبت کنید</span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a ng-click="OpenChangeEmailModal()">ثبت/تغییر ایمیل</a></li>
                            <li><a ng-click="OpenChangePasswordModal()">تغییر رمز عبور</a></li>
                            <li class="divider"></li>
                            <li>
                                <a ng-click="Logout()">خروج</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        <img src="/Resources/images/logo_white.png" />
                    </div>
                </li>
                <!--Menues-->
                <div ng-include="menuTempleteUrl" include-replace side-navigation></div>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1" style="min-height: 1167px;">
        <div class="row border-bottom skin-2">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <span minimaliza-sidebar></span>
                    <div class="application-title">
                        سامانه تایید صلاحیت کارشناسان ایمنی و حفاظت فنی
                    </div>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message">{{persianDate}}</span>
                    </li>
                    <li>
                        <a ng-click="Logout()">
                            خروج
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div ui-view></div>
        <div class="footer">
            <div class="pull-right">
                تمامی حقوق مادی و معنوی این وب سایت متعلق به کانون کارشناسان ایمنی و حفاظت فنی و بهداشت کار استان تهران می باشد.
            </div>
        </div>
    </div>
</div>