﻿body {
    font-family: 'YekanWeb','YekanNumbersWeb';
}

.form-control {
    padding: 0 12px;
}

.english {
    font-family: Arial, Tahoma;
}

.number, .english {
    direction: ltr;
}

input::-webkit-input-placeholder {
    font-family: 'YekanWeb' !important;
    text-align: right !important;
}

input:-moz-placeholder {
    font-family: 'YekanWeb' !important;
    text-align: right !important;
}

input::-moz-placeholder {
    font-family: 'YekanWeb' !important;
    text-align: right !important;
}

input:-ms-input-placeholder {
    font-family: 'YekanWeb' !important;
    text-align: right !important;
}

h2 {
    font-family: 'MitraWeb';
}

.timeline-title.timeline-alert {
    color: red !important;
}

.timeline-title.timeline-success {
    color: green !important;
}

.text-red {
    color: #C55F5F;
    font-weight: bold;
    padding: 0 10px;
}

.text-blue {
    color: #7276e4;
    font-weight: bold;
    padding: 0 10px;
}

.img-circle {
    border-radius: 6%;
    border: 1px solid #b8dad3;
    margin: 0 2px;
}

.timeline-item.decison-making {
    /*background-color: #ffd8ae;*/
}

.timeline-item.success {
    background-color: #b7ffae;
}

.timeline-item.failure {
    background-color: #ffd1d1;
}

.document-modal-window .modal-dialog {
    width: 75%;
}

.contact-box {
    height: 200px;
}

.warning-border {
    border-color: #fdcd91;
}

.scrollable-history {
    max-height: 1000px;
    overflow-x: auto;
}

.scrollable-other-documents {
    max-height: 300px;
    overflow-x: auto;
}

.captchaImg {
    padding: 4px;
    border: 1px solid #e5e6e7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.text-wrap {
    overflow-wrap: break-word;
}

.report-box {
    border: 10px solid #ffb8b8;
}

    .report-box.report-accepted {
        border: 10px solid #27c327;
    }

    .report-box .img-circle {
        display: inline;
    }

    .report-box .report-download {
        color: blue;
        font-size: 20px;
    }

    .report-box .btn {
        color: white;
    }

.skin-2 .ibox-title, .skin-2 .ibox-content {
    background: white;
}

body.skin-2 {
    color: #020202 !important;
}
.tabs-container .nav-tabs > li {
    float: right !important;
}

.skin-2 .loginColumns .nav > li > a {
    color: #1ab394;
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
}

.modal-footer {
    text-align: right;
}