﻿
<form name="loginForm">
    <div class="border-b p-b-10">
      <h5 class="align-center col-grey"> سامانه تایید صلاحیت مسئولین ایمنی</h5>
    </div>
    <div class="body m-t-10">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="material-icons md-18">person_outline</i>
            </span>
            <span class="form-line has-float-label m-r-5">
                <input type="text" ng-model="username" class="form-control" required autofocus autocomplete=username>
                <label class="form-label">نام کاربری</label>
            </span>
        </div>

        <div class="form-group input-group">
            <span class="input-group-addon p-r-10">
                <i class="material-icons md-18">lock_outline</i>
            </span>
            <span class="form-line has-float-label m-r-5">
                <input type="password" ng-model="password" class="form-control" required autocomplete=current-password>
                <label class="form-label">کلمه عبور</label>
            </span>
        </div>
        <div class="col-xs-8 p-t-5">
            <input type="checkbox" id="rememberme" ng-model="ispersistent" class="filled-in chk-col-grey">
            <label for="rememberme">مرا بخاطر بسپار</label>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-block btn-primary waves-effect" type="submit" ng-click="loginForm.$valid && Login()">ورود به سامانه</button>
        </div>

        <div class="row m-t-15 m-b--20">
            <div class="col-xs-6 align-center">
                <a ui-sref="infopage.signup"><i class="material-icons md-15 m-l-5">person_add</i>ثبت نام در سامانه</a>
            </div>
            <div class="col-xs-6 align-center">
                <a><i class="material-icons md-15 m-l-5">lock_open</i>فراموشی کلمه عبور</a>
            </div>
        </div>
    </div>

    
   
</form>



