﻿<form name="registerForm">
    <h5 class="align-center col-grey">ثبت نام در سامانه</h5>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons md-15 col-orange">album</i>
        </span>
        <div class="form-line">
            <select class="form-control" required ng-model="registerType">
                <option ng-value="1">
                    من یک مسئول ایمنی هستم
                </option>
                <option ng-value="2">
                    من یک کارفرما هستم
                </option>
            </select>
        </div>
    </div>
    <div class="input-group  text-justify p-r-7">
        <div class="notify" ng-if="registerType==1">
            من یک فرد هستم که نیاز به دریافت صلاحیت مسئولیت ایمنی دارم و تاکنون در این سامانه ثبت نام نکرده ام.
        </div>
        <div class="notify" ng-if="registerType==2">
            من یک کارفرما هستم که نیاز به تعیین مسئولین ایمنی کارگاه خود دارم و تاکنون در این سامانه ثبت نام نکرده ام.
        </div>
    </div>
    <div class="col-sm-6 m-b">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="material-icons md-18">perm_identity</i>
            </span>
            <span class="form-line has-float-label m-r-5">
                <input type="text" ng-model="firstname" class="form-control" required>
                <label class="form-label">نام </label>
            </span>
        </div>
    </div>
    <div class="col-sm-6 m-b">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="material-icons md-18">person_outline</i>
            </span>
            <span class="form-line has-float-label m-r-5">
                <input type="text" ng-model="lastname" class="form-control" required>
                <label class="form-label">نام خانوادگی </label>
            </span>
        </div>
    </div>
    <div class="col-sm-6 m-b" ng-show="registerType==2">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="material-icons md-18">person_outline</i>
            </span>
            <span class="form-line has-float-label m-r-5">
                <input type="text" ng-model="companyCode" class="form-control">
                <label class="form-label">شناسه ملی شرکت </label>
            </span>
        </div>


    </div>
    <div class="col-sm-6 m-b">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="material-icons md-18">content_copy</i>
            </span>
            <span class="form-line has-float-label m-r-5">
                <input type="text" ng-model="nationalcode" class="form-control" required>
                <label class="form-label">کد ملی </label>
            </span>
        </div>

    </div>
    <div class="col-sm-6 m-b">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="material-icons md-18">account_circle</i>
            </span>
            <span class="form-line has-float-label m-r-5">
                <input type="text" ng-model="username" class="form-control" required autocomplete=username>
                <label class="form-label">نام کاربری </label>
            </span>
        </div>

    </div>
    <div class="col-sm-6 m-b">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="material-icons md-18"> lock_outline</i>
            </span>
            <span class="form-line has-float-label m-r-5">
                <input type="password" ng-model="password" class="form-control" required autocomplete=new-password>
                <label class="form-label">کلمه عبور </label>
            </span>
        </div>

    </div>
    <div class="col-sm-6 m-b">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="material-icons md-18">lock_outline</i>
            </span>
            <span class="form-line has-float-label m-r-5">
                <input type="password" ng-model="cpassword" class="form-control" required autocomplete=new-password>
                <label class="form-label">تکرار کلمه عبور </label>
            </span>
        </div>

    </div>
    <div class="col-sm-6 m-b">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="material-icons md-18">smartphone</i>
            </span>
            <span class="form-line has-float-label m-r-5">
                <input type="text" ng-model="mobile" class="form-control" required autocomplete=tel>
                <label class="form-label">شماره همراه </label>
            </span>
        </div>
    </div>
    <div ng-class="{ 'col-sm-12 m-b': registerType==2 ,'col-sm-6 m-b': registerType==1 }">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="material-icons md-18">mail_outline</i>
            </span>
            <span class="form-line has-float-label m-r-5">
                <input type="text" ng-model="email" class="form-control" required autocomplete=email>
                <label class="form-label">ایمیل </label>
            </span>
        </div>

    </div>
    <div class="col-sm-12 m-b">
        <div class="form-group">
            <input type="checkbox" ng-model="agreement" name="terms" id="terms" class="filled-in chk-col-blue">
            <label for="terms">
                با <a ng-click="OpenAgreementModal()">قوانین سامانه</a> موافق هستم.
            </label>
        </div>

        <div class="clearfix"></div>
        <div class="form-group">
            <div vc-recaptcha lang="fa" ng-model="recaptcha" key="'6LdVGCAUAAAAAPwTKr86bu2e2Vf2GA67FQqE_lBe'" class="recaptcha"></div>
        </div>
        <button class="btn btn-block btn-primary waves-effect" type="submit" ng-click="registerForm.$valid && Register()">ثبت تغییرات</button>
        <div class="m-t-25 m-b--5 align-center">
            <a ui-sref="infopage.home">
                قبلاً ثبت نام کردید؟
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</form>

