﻿@using Automation.UI.Models
@using Automation.UI.Models.AdministratorProfile
@model ProfileLayout
@{var childModel = (AssociationManagement)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>مدیریت انجمن ها</h2>
        <ol class="breadcrumb">
            <li>
                <a>خانه</a>
            </li>
            <li class="active">
                <strong>انجمن ها</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>انجمن های موجود</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>شهرستان های دارای انجمن
                                    </th>
                                    <th>استان
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < childModel.Associations.Count; i++)
                                {
                                    <tr>
                                        <th>@(i + 1)</th>
                                        <td>@childModel.Associations[i].County.Name</td>
                                        <td>@childModel.Associations[i].County.Province.Name</td>
                                        <td>
                                            <input type="button" class="btn btn-danger" value="حذف" onclick="DeleteAssociation(@childModel.Associations[i].Id)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newAssociation">
                        اضافه کردن
                    </button>
                </div>
                <div class="modal inmodal" id="newAssociation" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <form id="newAssociationForm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">بستن</span>
                                    </button>
                                    <h4 class="modal-title">انجمن جدید</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <select class="form-control" name="countyID" required>
                                                <option value="">
                                                    --انتخاب کنید--
                                                </option>
                                                @foreach(var county in childModel.Counties){
                                                    <option value="@county.Id">@county.Name
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="نام کاربری انجمن" class="form-control english" name="username" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" placeholder="گذرواژه انجمن" class="form-control english" name="password" required>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                                    <button type="button" class="btn btn-primary" onclick="AddAssociation('newAssociationForm')">اضافه کردن</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function AddAssociation(formID) {
        postForm('AddAssociation', formID,
            function () {
                Refresh();
            }
        );
    }
    function DeleteAssociation(associationID) {
        postData('DeleteAssociation', { ID: associationID },
            function () {
                Refresh();
            }
        );
    }
</script>