﻿@using Automation.UI.Models
@using Automation.UI.Models.AdministratorProfile
@model ProfileLayout
@{var childModel = (CountyManagement)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>مدیریت شهرستان ها</h2>
        <ol class="breadcrumb">
            <li>
                <a>خانه</a>
            </li>
            <li class="active">
                <strong>شهرستان ها</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>شهرستان های موجود</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>نام
                                    </th>
                                    <th>استان
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < childModel.Counties.Count; i++)
                                {
                                    <tr>
                                        <th>@(i + 1)</th>
                                        <td>@childModel.Counties[i].Name</td>
                                        <td>@childModel.Counties[i].Province.Name</td>
                                        <td>
                                            <input type="button" class="btn btn-danger" value="حذف" onclick="DeleteCounty(@childModel.Counties[i].Id)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newCounty">
                        اضافه کردن
                    </button>
                </div>
                <div class="modal inmodal" id="newCounty" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <form id="newCountyForm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">بستن</span>
                                    </button>
                                    <h4 class="modal-title">استان جدید</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <select class="form-control" name="provinceID" required>
                                                <option value="">
                                                    --انتخاب کنید--
                                                </option>
                                                @foreach(var province in childModel.Provinces){
                                                    <option value="@province.Id">@province.Name
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="نام شهرستان" class="form-control" name="countyName" required>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                                    <button type="button" class="btn btn-primary" onclick="AddNewCounty('newCountyForm')">اضافه کردن</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function AddNewCounty(formID) {
        postForm('AddCounty', formID,
            function () {
                Refresh();
            }
        );
    }
    function DeleteCounty(countyID) {
        postData('DeleteCounty', { ID: countyID },
            function () {
                Refresh();
            }
        );
    }
</script>
