﻿@using Automation.UI.Models
@using Automation.UI.Models.AdministratorProfile
@model ProfileLayout
@{var childModel = (FieldOfStudyManagement)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>مدیریت رشته ها</h2>
        <ol class="breadcrumb">
            <li>
                <a>خانه</a>
            </li>
            <li class="active">
                <strong>رشته ها</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>رشته های موجود</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>رشته
                                    </th>
                                    <th>کد رشته
                                    </th>
                                    <th>کد اصلی بودن رشته
                                    </th>
                                    <th>نیاز به 40 ساعت
                                    </th>
                                    <th>نیاز به 16 ساعت
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < childModel.FieldsOfStudy.Count; i++)
                                {
                                    <tr>
                                        <th>@(i + 1)</th>
                                        <td>@childModel.FieldsOfStudy[i].Name</td>
                                        <td>@childModel.FieldsOfStudy[i].Code</td>
                                        <td>@childModel.FieldsOfStudy[i].OrginalityCode</td>
                                        <td>@(childModel.FieldsOfStudy[i].Requires40Hours?"بلی":"خیر")</td>
                                        <td>@(childModel.FieldsOfStudy[i].Requires16Hours?"بلی":"خیر")</td>
                                        <td>
                                            <input type="button" class="btn btn-danger" value="حذف" onclick="DeleteFieldOfStudy(@childModel.FieldsOfStudy[i].Id)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newFieldOfStudy">
                        اضافه کردن
                    </button>
                </div>
                <div class="modal inmodal" id="newFieldOfStudy" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <form id="newFieldOfStudyForm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">بستن</span>
                                    </button>
                                    <h4 class="modal-title">رشته جدید</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-12">
                                            <input type="text" placeholder="نام رشته" class="form-control" name="name" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="کد رشته" class="form-control number" name="code" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="کد اصلی بودن رشته" class="form-control number" name="orginalityCode" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label>نیاز به گذراندن دوره 40 ساعته</label>
                                            <br />
                                            <input type="radio" name="required40Hours" value="true" />بلی
                                            &nbsp;
                                            <input type="radio" name="required40Hours" value="false" />خیر
                                        </div>
                                        <div class="col-sm-6">
                                            <label>نیاز به گذراندن دوره 16 ساعته</label>
                                            <br />
                                            <input type="radio" name="requires16Hours" value="true" />بلی
                                            &nbsp;
                                            <input type="radio" name="requires16Hours" value="false" />خیر
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                                    <button type="button" class="btn btn-primary" onclick="AddFieldOfStudy('newFieldOfStudyForm')">اضافه کردن</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function AddFieldOfStudy(formID) {
        postForm('AddFieldOfStudy', formID,
            function () {
                Refresh();
            }
        );
    }
    function DeleteFieldOfStudy(fieldOfStudyID) {
        postData('DeleteFieldOfStudy', { ID: fieldOfStudyID },
            function () {
                Refresh();
            }
        );
    }
</script>
