﻿@using Automation.UI.Models
@using Automation.UI.Models.AdministratorProfile
@model ProfileLayout
@{var childModel = (FieldOfActivityManagement)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>مدیریت فعالیت ها</h2>
        <ol class="breadcrumb">
            <li>
                <a>خانه</a>
            </li>
            <li class="active">
                <strong>فعالیت ها</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>فعالیت های موجود</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>فعالیت
                                    </th>
                                    <th>مقدار خطر
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < childModel.FieldsOfActivity.Count; i++)
                                {
                                    <tr>
                                        <th>@(i + 1)</th>
                                        <td>@childModel.FieldsOfActivity[i].Name</td>
                                        <td>
                                            @(childModel.FieldsOfActivity[i].DangerLevel == Automation.Model.FieldOfActivity.DangerLevels.Low ? "کم خطر" : "")
                                            @(childModel.FieldsOfActivity[i].DangerLevel == Automation.Model.FieldOfActivity.DangerLevels.Moderate ? "خطر متوسط" : "")
                                            @(childModel.FieldsOfActivity[i].DangerLevel == Automation.Model.FieldOfActivity.DangerLevels.High ? "پر خطر" : "")
                                        </td>
                                        <td>
                                            <input type="button" class="btn btn-danger" value="حذف" onclick="DeleteFieldOfActivity(@childModel.FieldsOfActivity[i].Id)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newFieldOfActivity">
                        اضافه کردن
                    </button>
                </div>
                <div class="modal inmodal" id="newFieldOfActivity" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <form id="newFieldOfActivityForm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">بستن</span>
                                    </button>
                                    <h4 class="modal-title">فعالیت جدید</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-12">
                                            <input type="text" placeholder="نام فعالیت" class="form-control" name="name" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <select name="dangerLevel" required>
                                                <option value="">--انتخاب کنید--</option>
                                                <option value="1">
                                                    کم خطر
                                                </option>
                                                <option value="2">
                                                    خطر متوسط
                                                </option>
                                                <option value="3">
                                                    پر خطر
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                                    <button type="button" class="btn btn-primary" onclick="AddFieldOfActivity('newFieldOfActivityForm')">اضافه کردن</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function AddFieldOfActivity(formID) {
        postForm('AddFieldOfActivity', formID,
            function () {
                Refresh();
            }
        );
    }
    function DeleteFieldOfActivity(fieldOfActivityID) {
        postData('DeleteFieldOfActivity', { ID: fieldOfActivityID },
            function () {
                Refresh();
            }
        );
    }
</script>
