﻿@using Automation.UI.Models
@using Automation.UI.Models.AdministratorProfile
@model ProfileLayout
@{var childModel = (InquiryFieldManagement)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>مدیریت فیلد های استعلام</h2>
        <ol class="breadcrumb">
            <li>
                <a>خانه</a>
            </li>
            <li class="active">
                <strong>فیلد های استعلام</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>فیلد های استعلام موجود</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>فیلد
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < childModel.InquiryFields.Count; i++)
                                {
                                    <tr>
                                        <th>@(i + 1)</th>
                                        @switch(childModel.InquiryFields[i].Column){
                                            case Automation.Model.InquiryColumn.ColumnType.A:
                                                <td>A</td>
                                                break;
                                            case Automation.Model.InquiryColumn.ColumnType.B:
                                                <td>B</td>
                                                break;
                                            case Automation.Model.InquiryColumn.ColumnType.C:
                                                <td>C</td>
                                                break;
                                            case Automation.Model.InquiryColumn.ColumnType.D:
                                                <td>D</td>
                                                break;
                                        }
                                        <td>
                                            <input type="button" class="btn btn-danger" value="حذف" onclick="DeleteInquiryField('@childModel.InquiryFields[i].Column')" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newInquiryField">
                        اضافه کردن
                    </button>
                </div>
                <div class="modal inmodal" id="newInquiryField" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <form id="newInquiryFieldForm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">بستن</span>
                                    </button>
                                    <h4 class="modal-title">فیلد استعلام جدید</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-12">
                                            <select class="form-control" name="column" required>
                                                <option>
                                                    --انتخاب کنید--
                                                </option>
                                                <option value="@Automation.Model.InquiryColumn.ColumnType.A">
                                                    A
                                                </option>
                                                <option value="@Automation.Model.InquiryColumn.ColumnType.B">
                                                    B
                                                </option>
                                                <option value="@Automation.Model.InquiryColumn.ColumnType.C">
                                                    C
                                                </option>
                                                <option value="@Automation.Model.InquiryColumn.ColumnType.D">
                                                    D
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                                    <button type="button" class="btn btn-primary" onclick="AddInquiryField('newInquiryFieldForm')">اضافه کردن</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function AddInquiryField(formID) {
        postForm('AddInquiryField', formID,
            function () {
                Refresh();
            }
        );
    }
    function DeleteInquiryField(columnID) {
        postData('DeleteInquiryField', { column: columnID },
            function () {
                Refresh();
            }
        );
    }
</script>
