﻿@using Automation.UI.Models
@using Automation.UI.Models.AdministratorProfile
@model ProfileLayout
@{var childModel = (ProvinceManagement)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>مدیریت استان ها</h2>
        <ol class="breadcrumb">
            <li>
                <a>خانه</a>
            </li>
            <li class="active">
                <strong>استان ها</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>استانهای موجود</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>نام
                                    </th>
                                    <th>کد
                                    </th>
                                    <th>نام رییس
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < childModel.Provinces.Count; i++)
                                {
                                    <tr>
                                        <th>@(i + 1)</th>
                                        <td>@childModel.Provinces[i].Name</td>
                                        <td>@childModel.Provinces[i].Code</td>
                                        <td>@childModel.Provinces[i].ProvinceInspectors.Single().HeadFullName</td>
                                        <td>
                                            <input type="button" class="btn btn-danger" value="حذف" onclick="DeleteProvince(@childModel.Provinces[i].Id)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newProvince">
                        اضافه کردن
                    </button>
                </div>
                <div class="modal inmodal" id="newProvince" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <form id="newProvinceForm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">بستن</span>
                                    </button>
                                    <h4 class="modal-title">استان جدید</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="نام استان" class="form-control" name="provinceName" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="کد استان" class="form-control number" name="provinceCode" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-12">
                                            <input type="text" placeholder="نام رییس اداره بازرسی استان" class="form-control" name="headFullName" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="نام کاربری اداره بازرسی استان" class="form-control english" name="inspectorUsername" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" placeholder="گذرواژه اداره بازرسی استان" class="form-control english" name="inspectorPassword" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="نام کاربری مدیر کل استان" class="form-control english" name="managerUsername" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" placeholder="گذرواژه مدیر کل استان" class="form-control english" name="managerPassword" required>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                                    <button type="button" class="btn btn-primary" onclick="AddNewProvince('newProvinceForm')">اضافه کردن</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function AddNewProvince(formID) {
        postForm('AddProvince', formID,
            function () {
                Refresh();
            }
        );
    }
    function DeleteProvince(provinceID) {
        postData('DeleteProvince', { ID: provinceID },
            function () {
                Refresh();
            }
        );
    }
</script>
