﻿@using Automation.UI.Models
@using Automation.UI.Models.AdministratorProfile
@model ProfileLayout
@{var childModel = (RequirementRuleManagement)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>مدیریت مقادیر نیاز</h2>
        <ol class="breadcrumb">
            <li>
                <a>خانه</a>
            </li>
            <li class="active">
                <strong>مقادیر نیاز</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>مقادیر نیاز موجود</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        مقدار خطر
                                    </th>
                                    <th>
                                        تعداد شاغلین
                                    </th>
                                    <th>
                                        سطح تحصیلات
                                    </th>
                                    <th>
                                        تعداد ساعت مورد نیاز در ماه
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < childModel.RequirementRules.Count; i++)
                                {
                                    <tr>
                                        <th>@(i + 1)</th>
                                        <td>
                                            @switch (childModel.RequirementRules[i].DangerLevel)
                                            {
                                                case Automation.Model.FieldOfActivity.DangerLevels.High:
                                                    Write("پرخطر");
                                                    break;
                                                case Automation.Model.FieldOfActivity.DangerLevels.Low:
                                                    Write("کم خطر");
                                                    break;
                                                case Automation.Model.FieldOfActivity.DangerLevels.Moderate:
                                                    Write("خطر متوسط");
                                                    break;
                                            }
                                        </td>
                                        <td>
                                            @switch (childModel.RequirementRules[i].SizeCategory)
                                            {
                                                case Automation.Model.Document.Workshop.SizeCategories.Below25:
                                                    Write("کمتر از 25 نفر");
                                                    break;
                                                case Automation.Model.Document.Workshop.SizeCategories.Below50Over25:
                                                    Write("بین 25 تا 50 نفر");
                                                    break;
                                                case Automation.Model.Document.Workshop.SizeCategories.Below100Over50:
                                                    Write("بین 50 تا 100 نفر");
                                                    break;
                                                case Automation.Model.Document.Workshop.SizeCategories.Below200Over100:
                                                    Write("بین 100 تا 200 نفر");
                                                    break;
                                                case Automation.Model.Document.Workshop.SizeCategories.Below300Over200:
                                                    Write("بین 200 تا 300 نفر");
                                                    break;
                                                case Automation.Model.Document.Workshop.SizeCategories.Over300:
                                                    Write("بیش از 300 نفر");
                                                    break;
                                            }
                                        </td>
                                        <td>
                                            @switch (childModel.RequirementRules[i].LevelOfEducation)
                                            {
                                                case Automation.Model.Document.LevelOfEducations.Bachelor:
                                                    Write("کارشناسی");
                                                    break;
                                                case Automation.Model.Document.LevelOfEducations.Diploma:
                                                    Write("کاردانی");
                                                    break;
                                                case Automation.Model.Document.LevelOfEducations.HighSchool:
                                                    Write("دیپلم");
                                                    break;
                                                case Automation.Model.Document.LevelOfEducations.Master:
                                                    Write("کارشناسی ارشد");
                                                    break;
                                                case Automation.Model.Document.LevelOfEducations.PhD:
                                                    Write("دکترا");
                                                    break;
                                            }
                                        </td>
                                        <td>
                                            @childModel.RequirementRules[i].Hours
                                        </td>
                                        <td>
                                            <input type="button" class="btn btn-danger" value="حذف" onclick="DeleteRequirementRule(@childModel.RequirementRules[i].Id)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newRequirementRule">
                        اضافه کردن
                    </button>
                </div>
                <div class="modal inmodal" id="newRequirementRule" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <form id="newRequirementRuleForm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">بستن</span>
                                    </button>
                                    <h4 class="modal-title">مقدار نیاز جدید</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label>مقدار خطر</label>
                                            <br />
                                            <select name="dangerLevel" required>
                                                <option value="">--انتخاب کنید--</option>
                                                <option value="1">
                                                    کم خطر
                                                </option>
                                                <option value="2">
                                                    خطر متوسط
                                                </option>
                                                <option value="3">
                                                    پر خطر
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>تعداد شاغلین</label>
                                            <br />
                                            <select name="sizeCategory" required>
                                                <option value="">--انتخاب کنید--</option>
                                                <option value="1">
                                                    کمتر از 25 نفر
                                                </option>
                                                <option value="2">
                                                    بین 25 تا 50 نفر
                                                </option>
                                                <option value="3">
                                                    بین 50 تا 100 نفر
                                                </option>
                                                <option value="4">
                                                    بین 100 تا 200 نفر
                                                </option>
                                                <option value="5">
                                                    بین 200 تا 300 نفر
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label>سطح تحصیلات</label>
                                            <br />
                                            <select name="levelOfEducation" required>
                                                <option value="">--انتخاب کنید--</option>
                                                <option value="1">
                                                    دیپلم
                                                </option>
                                                <option value="2">
                                                    کاردانی
                                                </option>
                                                <option value="3">
                                                    کارشناسی
                                                </option>
                                                <option value="4">
                                                    کارشناسی ارشد
                                                </option>
                                                <option value="5">
                                                    دکترا
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>تعداد ساعت مورد نیاز در ماه</label>
                                            <input type="text" placeholder="تعداد ساعت" class="form-control number" name="requiredHours" required>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                                    <button type="button" class="btn btn-primary" onclick="AddRequirementRule('newRequirementRuleForm')">اضافه کردن</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function AddRequirementRule(formID) {
        postForm('AddRequirementRule', formID,
            function () {
                Refresh();
            }
        );
    }
    function DeleteRequirementRule(ruleID) {
        postData('DeleteRequirementRule', { ruleID: ruleID },
            function () {
                Refresh();
            }
        );
    }
</script>
