﻿@using Automation.UI.Models
@using Automation.UI.Models.AdministratorProfile
@model ProfileLayout
@{var childModel = (SystemLockManagement)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>مدیریت قفل سامانه</h2>
        <ol class="breadcrumb">
            <li>
                <a>خانه</a>
            </li>
            <li class="active">
                <strong>قفل سامانه</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td>قفل سامانه
                            </td>
                            <td>
                                <div style="direction: ltr; margin-top: 5px; margin-right: 15px;">
                                    <div class="onoffswitch">
                                        <input type="checkbox" @(childModel.IsLocked ? "checked" : "") class="onoffswitch-checkbox" id="systemLockSwitch" onchange="SetSystemLock()">
                                        <label class="onoffswitch-label" for="systemLockSwitch">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function SetSystemLock() {
        if ($("#systemLockSwitch").is(":checked")) {
            postData('LockSystem', null, null);
        } else {
            postData('UnlockSystem', null, null);
        }
    }
</script>










