﻿@using Automation.UI.Models
@using Automation.UI.Models.AdministratorProfile
@model ProfileLayout
@{var childModel = (UserManagement)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>مدیریت کاربران</h2>
        <ol class="breadcrumb">
            <li>
                <a>خانه</a>
            </li>
            <li class="active">
                <strong>کاربران</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>کاربران سامانه</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>نام کاربری
                                    </th>
                                    <th>نوع کاربر
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < childModel.Users.Count; i++)
                                {
                                    <tr>
                                        <th>@(i + 1)</th>
                                        <td>@childModel.Users[i].UserName</td>
                                        @switch (childModel.Users[i].Type)
                                        {
                                            case Automation.Model.User.UserType.Admin:
                                                <td>مدیریت سامانه</td>
                                                break;
                                            case Automation.Model.User.UserType.Association:
                                                <td>انجمن</td>
                                                break;
                                            case Automation.Model.User.UserType.Club:
                                                <td>کانون</td>
                                                break;
                                            case Automation.Model.User.UserType.CountyInspector:
                                                <td>اداره بازرسی شهرستان</td>
                                                break;
                                            case Automation.Model.User.UserType.InspectionOffice:
                                                <td>اداره بازرسی کشور</td>
                                                break;
                                            case Automation.Model.User.UserType.ProvinceInspector:
                                                <td>اداره بازرسی استان</td>
                                                break;
                                            case Automation.Model.User.UserType.ProvinceManager:
                                                <td>مدیر کل استان</td>
                                                break;
                                        }
                                        <td>
                                            <input type="button" class="btn btn-primary" value="تغییر نام کاربری" onclick="UsernameModal(@childModel.Users[i].Id, '@childModel.Users[i].UserName')" />
                                            <input type="button" class="btn btn-primary" value="تغییر گذرواژه" onclick="PasswordModal(@childModel.Users[i].Id)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal inmodal" id="usernameModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <form id="usernameForm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">بستن</span>
                                    </button>
                                    <h4 class="modal-title">تغییر نام کاربری</h4>
                                </div>
                                <input type="hidden" name="userID" id="changeUsernameUserID"/>
                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-12">
                                            <input type="text" placeholder="نام کاربری" class="form-control english" name="username" id="username" required>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                                    <button type="button" class="btn btn-primary" onclick="EditUsername('usernameForm')">ثبت</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="modal inmodal" id="passwordModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <form id="passwordForm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">بستن</span>
                                    </button>
                                    <h4 class="modal-title">تغییر گذرواژه</h4>
                                </div>
                                <input type="hidden" name="userID" id="changePasswordUserID"/>
                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-12">
                                            <input type="password" placeholder="گذرواژه" class="form-control english" name="password" required>
                                            <input type="password" placeholder="تکرار گذرواژه" class="form-control english" name="cpassword" required>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                                    <button type="button" class="btn btn-primary" onclick="EditPassword('passwordForm')">ثبت</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function UsernameModal(userID, username){
        $("#usernameModal #changeUsernameUserID").val(userID);
        $("#usernameModal #username").val(username);
        $("#usernameModal").modal("show");
    }
    function PasswordModal(userID){
        $("#passwordModal #changePasswordUserID").val(userID);
        $("#passwordModal").modal("show");
    }
    function EditUsername(formID) {
        postForm('EditUsername', formID,
            function () {
                Refresh();
            }
        );
    }
    function EditPassword(formID) {
        postForm('EditPassword', formID,
            function () {
                Refresh();
            }
        );
    }
</script>
