﻿@using BotDetect.Web.UI.Mvc;
@{
    ViewBag.Title = "ورود به سامانه";
    Layout = "~/Views/Shared/BasicLayout.cshtml";
}
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
<style>
    body {
        background-color: #f3f3f4 !important;
    }
</style>

<div class="loginColumns row">
    <table>
        <tr>
            <td>
                <img src="~/Resources/images/allah.png" style="width:50px;" />
            </td>
            <td style="padding-right:10px">
                جمهوری اسلامی ایران
                <br />
                وزارت تعاون، کار و رفاه اجتماعی
                <br />
                اداره کل تعاون، کار و رفاه اجتماعی استان تهران
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td>
                <img src="~/Resources/images/logo.png" style="width:50px;" />
            </td>
            <td style="padding-right:10px">
                کانون انجمن های صنفی کارگری
                <br />
                مسئولین ایمنی و بهداشت کار استان تهران
            </td>
        </tr>
    </table>
</div>
<div class="text-center">
    <h1>سامانه تایید صلاحیت مسئولین ایمنی </h1>
</div>
<div class="loginColumns row" style="padding-bottom:0;">
    <div class="col-md-12">
        <div class="ibox-content">
            <a href="/Resources/misc/guide.pdf" target="_blank">راهنمای استفاده از سامانه</a>
        </div>
    </div>
</div>
<div class="loginColumns row">
    <div class="col-md-6">
        <div class="ibox-title">
            <h4>
                ورود به سامانه
            </h4>
        </div>
        <div class="ibox-content">
            <form class="m-t" role="form" id="loginForm">
                <div class="form-group">
                    <input type="text" name="username" class="form-control english" placeholder="نام کاربری" required="" id="usernameText">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control english" placeholder="گذرواژه" required="" id="passwordText">
                </div>
                <div class="form-group text-right">
                    <input type="checkbox" name="rememberMe" value="true" />
                    <input type="hidden" name="rememberMe" value="false" />
                    <label>مرا بخاطر بسپار</label>
                </div>
                <button type="button" class="btn btn-primary block full-width m-b" onclick="Login('loginForm')">ورود</button>
                <a onclick="$('#forgetPassword').modal();"><small>گذرواژه خود را فراموش کرده ام</small></a>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="ibox-title">
            <h4>
                ثبت نام در سامانه
            </h4>
        </div>
        <div class="ibox-content">
            <form class="m-t" role="form" id="registerExpertForm">
                <div class="form-group">
                    <input type="text" class="form-control english" placeholder="نام کاربری متقاضی" required name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control english" placeholder="گذرواژه" required name="password" id="passwordInput">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control english" placeholder="تکرار گذرواژه" required name="cpassword" id="cPasswordInput">
                </div>
                <div class="form-group">
                    <input type="checkbox" id="agreementCheckbox" />
                    <label>
                        با <a data-toggle="modal" data-target="#agreementModal">قوانین سامانه</a> موافق هستم.
                    </label>
                </div>
                <div class="form-group">
                    @{
                        MvcCaptcha sampleCaptcha = new MvcCaptcha("registerCaptcha");
                    }
                    <input type="hidden" name="captchaInstanceID" value="@sampleCaptcha.CurrentInstanceId" />
                    @Html.Captcha(sampleCaptcha)
                    <br />
                    <input type="text" class="form-control english" placeholder="کد را وارد کنید" required name="captchaCode">
                </div>
                <button type="button" class="btn btn-primary block full-width m-b" onclick="RegisterExpert('registerExpertForm')">ثبت نام</button>
            </form>
        </div>
    </div>
</div>
<div class="loginColumns row">
    <a class="btn btn-sm btn-white btn-block" href="/License/GetAllAuthorized">لیست کارشناسان تایید صلاحیت داده شده</a>
    <a class="btn btn-sm btn-white btn-block" onclick="$('#checkAuthorization').modal();">استعلام کد گواهینامه کارشناس</a>
    <a class="btn btn-sm btn-white btn-block" onclick="$('#notImplemented').modal();">ثبت نام متقاضیان اشتغال به عنوان مسئول ایمنی در کارگاه ها</a>
    <p class="m-t">
        <small>تهیه شده توسط اداره کل تعاون، کار و رفاه اجتماعی استان تهران و کانون انجمن های صنفی مسئولین ایمنی و بهداشت کار استان تهران، 1394</small>
    </p>
</div>
<div class="modal inmodal fade" id="agreementModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">قوانین سامانه</h4>
                <small class="font-bold">جهت ثبت نام در سامانه لطفاً قوانین سامانه را کاملاً مظالعه کرده و با آنها موافق نمایید</small>
            </div>
            <div class="modal-body" style="height:250px; overflow:auto;">
                <b>
                    قوانین  و  مقررات سامانه
                </b>
                <p>
                    متقاضی محترم در صورتيكه براي اولين بار اقدام به تشكيل پرونده بررسی آیین نامه بکارگیری مسئولین ايمني نموده ايد در قسمت ورود كاربران دكمه ثبت را كليك نموده و اقدام به ايجاد كد كاربري و گذر واژه نماييد.
                    در قسمت نام کاربری: حداقل تعداد کاراکتر 5 و حداکثر 30 میباشد.
                    در قسمت گذرواژه به دلخواه خود گذر واژه با حداقل شش حرف يا عدد انتخاب نماييد .
                    اسكن مدارك : حجم کلیه فایل ها جهت آپلود حداکثر 1 مگابایت باشد.
                    ثبت اعتراض :در صورتي كه بنابه دلايلي پرونده متقاضی مردود و مورد تاييد واقع نگردد ، متقاضی مي تواند در اين قسمت نسبت به مورد پيش آمده ظرف مدت 15 روز از زمان ابلاغ اعتراض نمايد .
                    توجه :كليه پيگيريها و روند كنترل پرونده از طريق اين سامانه و تنها با وارد كردن كد كاربري و رمز عبور براي كليه متقاضیان امكانپذير مي باشد.
                    پس از ارسال پرونده ، فرد متقاضی به پرونده دسترسی نخواهد داشت.
                    در هنگام وارد کردن اطلاعات به صحت آنها توجه نمایید و در صورت اشتباه  عواقب ناشی از آن برعهده متقاضی میباشد.
                    کلیه غلط های املایی  و اشتباه در تایپ کردن اطلاعات به عهده متقاضی میباشد.
                    درصورتی که در هر مرحله از ثبت نام مشخص گردد اطلاعات خلاف واقیت اعلام شده است پرونده در وضعیت کن ان لم یکن قرار میگیرد. و اگر فرد قصد هرگونه فریب را داشته باشد مورد پیگرد قانونی قرارخواهد گرفت.
                    موارد ذیل مورد پیگرد قانونی قرار خواهد گرفت:
                    انتشار فایلها و اطلاعاتی غیر قانونی، مضر، تهدید کننده، توهین آمیز، زیان آور، غیر اخلاقی، افترا آمیز و مبتذل باشد و همینطور اطلاعاتی که به نژاد ، گروه و یا دسته خاصی از مردم توهین کننده باشد.
                    جعل هویت اشخاص یا نهادها و همینطور نسبت دادن بیانات و سخنان دروغین به افراد و نهاد های خاص
                    انتشار هر مفهوم و محتوایی که از نظر قانونی و یا مسائل دیگر، حق انجام آنها را نداشته باشید. (از قبیل اطلاعات داخلی و اطلاعات اختصاصی و محرمانه برخی سازمانها و نهادها، چنانچه از نظر روابط استخدامی و قوانین داخلی سازمانها، این کار منع شده باشد.)
                    انتشار ویروسهای کامپیوتری و هر کد و فایل و برنامه ای که به منظور قطع کردن و از کار انداختن سیستم های کامپیوتری طراحی شده باشد و به سخت افزار و نرم افزار و تجهیزات کامپیوتر ها آسیب برساند.
                    تجاوز عمدی یا غیر عمدی به مواضع کاری، بیانات، قوانین ملی و بین المللی و هر رویه و مقرراتی که قدرت قانونی از آن حمایت کند.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="checkAuthorization" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="ibox">
                <div class="ibox-title">
                    استعلام کد گواهینامه کارشناس
                </div>
                <div class="ibox-content">
                    <form>
                        <div class="row col-lg-12 m-t">
                            <div class="col-lg-6">
                                <input type="text" id="nezamCode" placeholder="کد گواهینامه" class="form-control number" required>
                            </div>
                            <a class="btn btn-success" onclick="CheckCode($('#nezamCode').val())">استعلام</a>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="ibox-content" id="checkAccepted" style="display:none;">
                    مورد تایید می باشد
                </div>
                <div class="ibox-content" id="checkNotFound" style="display:none;">
                    پیدا نگردید
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="forgetPassword" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="ibox">
                <div class="ibox-title">
                    فراموشی گذرواژه
                </div>
                <div class="ibox-content">
                    <form>
                        <div class="row col-lg-12 m-t">
                            <div class="col-lg-5">
                                <input type="text" id="lostUsername" placeholder="نام کاربری" class="form-control english" required>
                            </div>
                            <div class="col-lg-5">
                                <input type="text" id="lostMobile" placeholder="همراه" class="form-control number" required minlength="11" maxlength="11">
                            </div>
                            <div class="col-lg-2">
                                <a class="btn btn-success" onclick="ForgetPassword($('#lostUsername').val(), $('#lostMobile').val())">بازیابی</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="ibox-content" id="forgetPasswordResult" style="display:none;">
                    در صورت صحیح بودن اطلاعات، ایمیل بازیابی ارسال شد.
                </div>
            </div>
        </div>
    </div>
</div>
<div id="notImplemented" class="modal inmodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">با عرض پوزش</h4>
            </div>
            <div class="modal-body">
                <b>
                    این بخش هنوز آماده نشده است
                </b>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Login(formID) {
        postForm('/Authentication/Login', formID,
            function () {
                Refresh();
            }
        );
    }
    function CheckCode(code) {
        postData('/License/IsAuthorized', { nezamCode: code },
            function (data) {
                $("#checkAccepted").hide();
                $("#checkNotFound").hide();
                if (data == "True") {
                    $("#checkAccepted").show();
                } else {
                    $("#checkNotFound").show();
                }
            }
        );
    }
    function ForgetPassword(username, mobile) {
        postData('/Authentication/ResetPassword', { username: username, mobile: mobile },
            function (data) {
                $("#forgetPasswordResult").show();
            }
        );
    }
    function ClickOnEnter(which) {
        if (which == 13)  // the enter key code
        {
            Login('loginForm');
        }
    }
    $(document).ready(function () {
        $('#usernameText').keypress(function (e) {
            ClickOnEnter(e.which);
        });
        $('#passwordText').keypress(function (e) {
            ClickOnEnter(e.which);
        });
    });
</script>
<script type="text/javascript">
    function RegisterExpert(formID) {
        if ($('#cPasswordInput').val() != $('#passwordInput').val()) {
            alertInModal('خطا', 'تکرار گذرواژه درست نمی باشد');
        }
        else {
            if (!$("#agreementCheckbox").is(":checked")) {
                alertInModal('خطا', 'لطفاً با قوانین سامانه موافقت بنمایید');
            }
            else {
                postForm('/Authentication/RegisterExpert', formID,
                    function () {
                        RedirectTo('/Authentication/Index');
                    }
                );
            }
        }
    }
</script>
