﻿<div class="theme-green">
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a role="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a role="button" class="bars"></a>
                <a class="navbar-brand">سامانه تایید صلاحیت مسئولین ایمنی</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <!-- Tasks -->
                    <li class="dropdown" ng-if="userType==1 || userType==9">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" ng-click="CheckProfileProgress()">
                            <i class="material-icons md-18 v-a">flag</i>وضعیت پرونده
                        </a>
                        <ul class="dropdown-menu pro">
                            <li class="header head">وضعیت پروفایل</li>
                            <li class="body">
                                <ul class="menu" ng-show="!progressData">
                                    <li class="padli">
                                        <small>
                                            لطفاً صبر نمایید
                                        </small>
                                    </li>
                                </ul>
                                <ul class="menu tasks p-t-0" ng-show="progressData">
                                    <li>
                                        <a class="no-ho">
                                            <h4 class="col-blue-grey">
                                                <i class="material-icons md-18 col-amber v-a">bookmark</i>  وضعیت تکمیل پروفایل
                                                <small>{{progressData.Percentage}}%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: {{progressData.Percentage}}%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="padli" ng-repeat="message in progressData.Messages">
                                        <small>
                                            <i class="material-icons v-a md-18 col-orange">info_outline</i>
                                            {{message}}
                                        </small>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Tasks -->
                    <li class="pull-right"><a ng-click="OpenChangePassword()" role="button"><i class="material-icons md-18 v-a">vpn_key</i>تغییر گذرواژه</a></li>
                    <li class="pull-right"><a ng-click="Logout()" role="button"><i class="material-icons md-18 v-a">power_settings_new</i>خروج</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar" left-side-bar>
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="{{photoLink}}" alt="تصویر" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{fullName}}</div>
                    <div class="email" ng-if="userType==1">
                        مسئول ایمنی
                    </div>
                    <div class="email" ng-if="userType==9">
                        کارفرما
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu" side-navigation>
                <ul class="list">
                    <li ng-if="userType==9" ng-class="{active: $state.includes('dashboard.ceo.profile')}">
                        <a class="menu-toggle">
                            <i class="material-icons">face</i>
                            <span>پروفایل من</span>
                        </a>
                        <ul class="ml-menu">
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.ceo.profile.basic" class="toggled">
                                    اطلاعات پایه
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.ceo.profile.contacts" class="toggled">
                                    محل سکونت
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="userType==9" ng-class="{active: $state.includes('dashboard.ceo.workshop')}">
                        <a class="menu-toggle">
                            <i class="material-icons">work</i>
                            <span>اطلاعات کارگاه</span>
                        </a>
                        <ul class="ml-menu">
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.ceo.workshop.basic" class="toggled">
                                    اطلاعات پایه
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.ceo.workshop.location" class="toggled">
                                    محل کارگاه
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="userType==9" ui-sref-active="active">
                        <a ui-sref="dashboard.ceo.pictures">
                            <i class="material-icons">image</i>
                            <span>تصاویر</span>
                        </a>
                    </li>
                    <li ng-if="userType==9" ui-sref-active="active">
                        <a ui-sref="dashboard.ceo.recruitment">
                            <i class="material-icons">people</i>
                            <span>استخدام</span>
                        </a>
                    </li>
                    <li ng-if="userType==9" ui-sref-active="active">
                        <a ui-sref="dashboard.ceo.experts">
                            <i class="material-icons">person</i>
                            <span>مسئولین ایمنی</span>
                        </a>
                    </li>
                    <li ng-if="userType==1" ng-class="{active: $state.includes('dashboard.safetyofficer.profile')}">
                        <a class="menu-toggle">
                            <i class="material-icons">face</i>
                            <span>پروفایل من</span>
                        </a>
                        <ul class="ml-menu">
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.safetyofficer.profile.basic" class="toggled">
                                    اطلاعات پایه
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.safetyofficer.profile.pictures" class="toggled">
                                    تصاویر
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.safetyofficer.profile.contacts" class="toggled">
                                    محل سکونت
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.safetyofficer.profile.educations" class="toggled">
                                    تحصیلات
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.safetyofficer.profile.certifications" class="toggled">
                                    دوره های آموزشی
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.safetyofficer.profile.experiences" class="toggled">
                                    سوابق کاری
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="userType==1" ui-sref-active="active">
                        <a ui-sref="dashboard.safetyofficer.licenses">
                            <i class="material-icons">work</i>
                            <span>پروانه های من</span>
                        </a>
                    </li>
                    <li ng-if="userType==1">
                        <a>
                            <i class="material-icons">assignment</i>
                            <span>گزارش های من</span>
                        </a>
                    </li>
                    <li ng-if="userType==2 || userType==3 || userType==4 || userType==5 || userType==6 || userType==7" ui-sref-active="active">
                        <a ui-sref="dashboard.staff.waitingpeople">
                            <i class="material-icons">people</i>
                            <span>افراد منتظر من</span>
                        </a>
                    </li>
                    <li ng-if="userType==2 || userType==3 || userType==4 || userType==5 || userType==6 || userType==7" ng-class="{active: $state.includes('dashboard.staff.reports')}">
                        <a class="menu-toggle">
                            <i class="material-icons">assignment</i>
                            <span>گزارشات</span>
                        </a>
                        <ul class="ml-menu">
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.staff.reports.table" class="toggled">
                                    گزارشات جدولی
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="dashboard.staff.reports.statistical" class="toggled">
                                    گزارشات آماری
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="userType==10" ui-sref-active="active">
                        <a ui-sref="dashboard.license.myinfo">
                            <i class="material-icons">work</i>
                            <span>اطلاعات پروانه</span>
                        </a>
                    </li>
                    <li ng-if="userType==10" ui-sref-active="active">
                        <a ui-sref="dashboard.license.myreports">
                            <i class="material-icons">work</i>
                            <span>گزارش های من</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="version">
                    اداره کل تعاون، کار و رفاه اجتماعی استان تهران
                </div>
                <div class="copyright">
                    &copy; 1395-1396
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div ui-view></div>
        </div>
    </section>
</div>
