﻿

<div class="login-page">
    <div class="login-box">
        <div class="card">
            <div class="body">
                <div class="m-b-50" style="font-size:10px">
                    <div class="col-xs-6">
                        <div class="pull-left text-center logo-st1">
                            <img src="/Resource/images/allah.png" style="width:50px;margin-bottom:5px">
                            <br />
                            وزارت تعاون، کار و رفاه اجتماعی
                            <br />
                            اداره کل تعاون، کار و رفاه اجتماعی استان تهران
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right  text-center logo-st">
                            <img src="/Resource/images/logo.png" style="width:50px; margin-bottom:5px">
                            <br />
                            کانون انجمن های صنفی کارگری
                            <br>
                            مسئولین ایمنی و بهداشت کار استان تهران
                        </div>
                    </div>
                </div>
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
