﻿@using Automation.UI.Models
@using Automation.UI.Models.ExpertProfile
@model ProfileLayout
@{var childModel = (Attachments)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div class="wrapper wrapper-content">
    @if (childModel.Document.AcademicInfoCompleted.IsComplete &&
                        childModel.Document.BasicAttachmentsCompleted.IsComplete &&
                        childModel.Document.BasicInfoCompleted.IsComplete &&
                        childModel.Document.CertificationAttachmentsCompleted.IsComplete &&
                        childModel.Document.CertificationCompleted.IsComplete &&
                        childModel.Document.ContactInfoCompleted.IsComplete &&
                        childModel.Document.WorkshopAttachmentsCompleted.IsComplete)
    {
        <div class="row">
            <div class="ibox ">
                <div class="ibox-content">
                    <h2>
                        پرونده شما تکمیل گردیده و آماده ارسال می باشد
                        <a href="/Expert/Index" class="btn btn-success btn-lg">ارسال پرونده</a>
                    </h2>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>پیوست های پایه</h5>
                    <div class="ibox-tools">
                        @if (childModel.Document.BasicAttachmentsCompleted.IsComplete)
                        {
                            <span class="label label-primary">انجام شده</span>
                        }
                        else
                        {
                            <span class="label label-danger">@childModel.Document.BasicAttachmentsCompleted.Message</span>
                        }
                    </div>
                </div>
                <div class="ibox-content">
                    <h5>
                        تصویر شخص
                    </h5>
                    <div id="photoScanProgess" class="progress">
                        <div class="progress-bar progress-bar-primary"></div>
                    </div>
                    <div class="lightBoxGallery">
                        @if (childModel.Document.PhotoScan != null)
                        {
                            <table class="inline">
                                <tr>
                                    <td>
                                        <a href="/File/GetImage?ID=@childModel.Document.PhotoScan.Id" title="تصویر شخص" data-gallery="">
                                            <img src="/File/GetImage?ID=@childModel.Document.PhotoScan.Id&height=70&width=70" class="img-circle">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <a class="text-danger" onclick="RemovePhotoScan();">حذف</a>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                    <span class="badge badge-primary fileinput-button">
                        <span>انتخاب تصویر</span>
                        <input id="photoScanFileUpload" type="file" name="files">
                    </span>
                </div>
                <div class="ibox-content">
                    <h5>
                        شناسنامه
                    </h5>
                    <div id="shenasnameScanProgess" class="progress">
                        <div class="progress-bar progress-bar-primary"></div>
                    </div>
                    <div class="lightBoxGallery">
                        @if (childModel.Document.ShenasnameScans != null)
                        {
                            foreach (var scan in childModel.Document.ShenasnameScans)
                            {
                                <table class="inline">
                                    <tr>
                                        <td>
                                            <a href="/File/GetImage?ID=@scan.Id" title="تصویر شناسنامه" data-gallery="">
                                                <img src="/File/GetImage?ID=@scan.Id&height=70&width=70" class="img-circle">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-danger" onclick="RemoveShenasnameScan(@scan.Id)">حذف</a>
                                        </td>
                                    </tr>
                                </table>
                            }
                        }
                    </div>
                    <span class="badge badge-primary fileinput-button">
                        <i class="fa fa-plus"></i>
                        <span>اضافه کردن</span>
                        <input id="shenasnameScanFileUpload" type="file" name="files">
                    </span>
                </div>
                <div class="ibox-content">
                    <h5>
                        کارت ملی
                    </h5>
                    <div id="nationalCardScanProgess" class="progress">
                        <div class="progress-bar progress-bar-primary"></div>
                    </div>
                    <div class="lightBoxGallery">
                        @if (childModel.Document.NationalCardScans != null)
                        {
                            foreach (var scan in childModel.Document.NationalCardScans)
                            {
                                <table class="inline">
                                    <tr>
                                        <td>
                                            <a href="/File/GetImage?ID=@scan.Id" title="تصویر کارت ملی" data-gallery="">
                                                <img src="/File/GetImage?ID=@scan.Id&height=70&width=70" class="img-circle">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-danger" onclick="RemoveNationalCardScan(@scan.Id)">حذف</a>
                                        </td>
                                    </tr>
                                </table>
                            }
                        }
                    </div>
                    <span class="badge badge-primary fileinput-button">
                        <i class="fa fa-plus"></i>
                        <span>اضافه کردن</span>
                        <input id="nationalCardScanFileUpload" type="file" name="files">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>پیوست های مدارک</h5>
                    <div class="ibox-tools">
                        @if (childModel.Document.CertificationAttachmentsCompleted.IsComplete)
                            {
                            <span class="label label-primary">انجام شده</span>
                            }
                            else
                            {
                            <span class="label label-danger">@childModel.Document.CertificationAttachmentsCompleted.Message</span>
                            }
                    </div>
                </div>
                @if (childModel.Document.HighSchoolCertification != null)
                {
                    <div class="ibox-content">
                        <h5>
                            تصویر مدرک دیپلم
                        </h5>
                        <div id="highSchoolScanProgess" class="progress">
                            <div class="progress-bar progress-bar-primary"></div>
                        </div>
                        <div class="lightBoxGallery">
                            @if (childModel.Document.HighSchoolCertification.ScanFile != null)
                            {
                                <table class="inline">
                                    <tr>
                                        <td>
                                            <a href="/File/GetImage?ID=@childModel.Document.HighSchoolCertification.ScanFile.Id" title="تصویر مدرک دیپلم" data-gallery="">
                                                <img src="/File/GetImage?ID=@childModel.Document.HighSchoolCertification.ScanFile.Id&height=70&width=70" class="img-circle">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-danger" onclick="RemoveHighSchoolScan()">حذف</a>
                                        </td>
                                    </tr>
                                </table>
                            }
                        </div>
                        <span class="badge badge-primary fileinput-button">
                            <span>انتخاب تصویر</span>
                            <input id="highSchoolScanFileUpload" type="file" name="files">
                        </span>
                        <script type="text/javascript">
                            function RemoveHighSchoolScan() {
                                postData('/Expert/RemoveHighSchoolScan', null,
                                    function () {
                                        Refresh();
                                    }
                                );
                            }
                            $(document).ready(function () {
                                CreateFileUpload('/Expert/ChangeHighSchoolScan', null, 'highSchoolScanFileUpload', 'highSchoolScanProgess', function () {
                                    Refresh();
                                });
                            });
                        </script>
                    </div>
                }
                @if (childModel.Document.DiplomaCertification != null)
                    {
                    <div class="ibox-content">
                        <h5>
                            تصویر مدرک کاردانی
                        </h5>
                        <div id="diplomaScanProgess" class="progress">
                            <div class="progress-bar progress-bar-primary"></div>
                        </div>
                        <div class="lightBoxGallery">
                            @if (childModel.Document.DiplomaCertification.ScanFile != null)
                                {
                                <table class="inline">
                                    <tr>
                                        <td>
                                            <a href="/File/GetImage?ID=@childModel.Document.DiplomaCertification.ScanFile.Id" title="تصویر مدرک کاردانی" data-gallery="">
                                                <img src="/File/GetImage?ID=@childModel.Document.DiplomaCertification.ScanFile.Id&height=70&width=70" class="img-circle">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-danger" onclick="RemoveDiplomaScan()">حذف</a>
                                        </td>
                                    </tr>
                                </table>
                                }
                        </div>
                        <span class="badge badge-primary fileinput-button">
                            <span>انتخاب تصویر</span>
                            <input id="diplomaScanFileUpload" type="file" name="files">
                        </span>
                        <script type="text/javascript">
                                function RemoveDiplomaScan() {
                                    postData('/Expert/RemoveDiplomaScan', null,
                                        function () {
                                            Refresh();
                                        }
                                    );
                                }
                                $(document).ready(function () {
                                    CreateFileUpload('/Expert/ChangeDiplomaScan', null, 'diplomaScanFileUpload', 'diplomaScanProgess', function () {
                                        Refresh();
                                    });
                                });
                        </script>
                    </div>
                    }
                @if (childModel.Document.BachelorsCertification != null)
                    {
                    <div class="ibox-content">
                        <h5>
                            تصویر مدرک کارشناسی
                        </h5>
                        <div id="bachelorScanProgess" class="progress">
                            <div class="progress-bar progress-bar-primary"></div>
                        </div>
                        <div class="lightBoxGallery">
                            @if (childModel.Document.BachelorsCertification.ScanFile != null)
                                {
                                <table class="inline">
                                    <tr>
                                        <td>
                                            <a href="/File/GetImage?ID=@childModel.Document.BachelorsCertification.ScanFile.Id" title="تصویر مدرک کارشناسی" data-gallery="">
                                                <img src="/File/GetImage?ID=@childModel.Document.BachelorsCertification.ScanFile.Id&height=70&width=70" class="img-circle">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-danger" onclick="RemoveBachelorScan()">حذف</a>
                                        </td>
                                    </tr>
                                </table>
                                }
                        </div>
                        <span class="badge badge-primary fileinput-button">
                            <span>انتخاب تصویر</span>
                            <input id="bachelorScanFileUpload" type="file" name="files">
                        </span>
                        <script type="text/javascript">
                                function RemoveBachelorScan() {
                                    postData('/Expert/RemoveBachelorScan', null,
                                        function () {
                                            Refresh();
                                        }
                                    );
                                }
                                $(document).ready(function () {
                                    CreateFileUpload('/Expert/ChangeBachelorScan', null, 'bachelorScanFileUpload', 'bachelorScanProgess', function () {
                                        Refresh();
                                    });
                                });
                        </script>
                    </div>
                    }
                @if (childModel.Document.MastersCertification != null)
                    {
                    <div class="ibox-content">
                        <h5>
                            تصویر مدرک کارشناسی ارشد
                        </h5>
                        <div id="masterScanProgess" class="progress">
                            <div class="progress-bar progress-bar-primary"></div>
                        </div>
                        <div class="lightBoxGallery">
                            @if (childModel.Document.MastersCertification.ScanFile != null)
                                {
                                <table class="inline">
                                    <tr>
                                        <td>
                                            <a href="/File/GetImage?ID=@childModel.Document.MastersCertification.ScanFile.Id" title="تصویر مدرک کارشناسی ارشد" data-gallery="">
                                                <img src="/File/GetImage?ID=@childModel.Document.MastersCertification.ScanFile.Id&height=70&width=70" class="img-circle">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-danger" onclick="RemoveMasterScan()">حذف</a>
                                        </td>
                                    </tr>
                                </table>
                                }
                        </div>
                        <span class="badge badge-primary fileinput-button">
                            <span>انتخاب تصویر</span>
                            <input id="masterScanFileUpload" type="file" name="files">
                        </span>
                        <script type="text/javascript">
                                function RemoveMasterScan() {
                                    postData('/Expert/RemoveMasterScan', null,
                                        function () {
                                            Refresh();
                                        }
                                    );
                                }
                                $(document).ready(function () {
                                    CreateFileUpload('/Expert/ChangeMasterScan', null, 'masterScanFileUpload', 'masterScanProgess', function () {
                                        Refresh();
                                    });
                                });
                        </script>
                    </div>
                    }
                @if (childModel.Document.PhDCertification != null)
                    {
                    <div class="ibox-content">
                        <h5>
                            تصویر مدرک دکترا
                        </h5>
                        <div id="phdScanProgess" class="progress">
                            <div class="progress-bar progress-bar-primary"></div>
                        </div>
                        <div class="lightBoxGallery">
                            @if (childModel.Document.PhDCertification.ScanFile != null)
                                {
                                <table class="inline">
                                    <tr>
                                        <td>
                                            <a href="/File/GetImage?ID=@childModel.Document.PhDCertification.ScanFile.Id" title="تصویر مدرک دکترا" data-gallery="">
                                                <img src="/File/GetImage?ID=@childModel.Document.PhDCertification.ScanFile.Id&height=70&width=70" class="img-circle">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-danger" onclick="RemovePhDScan()">حذف</a>
                                        </td>
                                    </tr>
                                </table>
                                }
                        </div>
                        <span class="badge badge-primary fileinput-button">
                            <span>انتخاب تصویر</span>
                            <input id="phdScanFileUpload" type="file" name="files">
                        </span>
                        <script type="text/javascript">
                                function RemovePhDScan() {
                                    postData('/Expert/RemovePhDScan', null,
                                        function () {
                                            Refresh();
                                        }
                                    );
                                }
                                $(document).ready(function () {
                                    CreateFileUpload('/Expert/ChangePhDScan', null, 'phdScanFileUpload', 'phdScanProgess', function () {
                                        Refresh();
                                    });
                                });
                        </script>
                    </div>
                    }
                @foreach (var certification in childModel.Document.SafetyCertifications)
                    {
                    <div class="ibox-content">
                        <h5>
                            تصویر مدرک&nbsp;
                            @switch (certification.CourseType)
                                {
                                    case Automation.Model.Document.SafetyCertification.Type.ForthyHours:
                                        Write("دوره 40 ساعته");
                                        break;
                                    case Automation.Model.Document.SafetyCertification.Type.SixteenHours:
                                        Write("دوره شناسایی خطرات و ارزیابی ریسک 16 ساعته");
                                        break;
                                    case Automation.Model.Document.SafetyCertification.Type.Others:
                                        Write(certification.OtherCourseName);
                                        break;
                                }
                        </h5>
                        <div id="certificationScanProgess_@certification.Id" class="progress">
                            <div class="progress-bar progress-bar-primary"></div>
                        </div>
                        <div class="lightBoxGallery">
                            @if (certification.CertificationScan != null)
                                {
                                <table class="inline">
                                    <tr>
                                        <td>
                                            <a href="/File/GetImage?ID=@certification.CertificationScan.Id" title="تصویر مدرک ایمنی" data-gallery="">
                                                <img src="/File/GetImage?ID=@certification.CertificationScan.Id&height=70&width=70" class="img-circle">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a class="text-danger" onclick="RemoveCertificationScan(@certification.Id)">حذف</a>
                                        </td>
                                    </tr>
                                </table>
                                }
                        </div>
                        <span class="badge badge-primary fileinput-button">
                            <span>انتخاب تصویر</span>
                            <input id="certificationScanFileUpload_@certification.Id" type="file" name="files">
                        </span>
                        <script type="text/javascript">
                                $(document).ready(function () {
                                    CreateFileUpload('/Expert/ChangeCertificationScan', {ID: @certification.Id } , "certificationScanFileUpload_@certification.Id", "certificationScanProgess_@certification.Id", function () {
                                        Refresh();
                                    });
                                });
                        </script>
                    </div>
                    }
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>پیوست های کارگاه فعلی</h5>
                    <div class="ibox-tools">
                        @if (childModel.Document.WorkshopAttachmentsCompleted.IsComplete)
                        {
                            <span class="label label-primary">انجام شده</span>
                        }
                        else
                        {
                            <span class="label label-danger">@childModel.Document.WorkshopAttachmentsCompleted.Message</span>
                        }
                    </div>
                </div>
                <div class="ibox-content">
                    <h5>
                        تصاویر قرارداد (کلیه صفحات)
                    </h5>
                    <div id="contractScanProgess" class="progress">
                        <div class="progress-bar progress-bar-primary"></div>
                    </div>
                    <div class="lightBoxGallery">
                        @foreach (var scan in childModel.Document.CurrentWorkShop.ContractScans)
                        {
                            <table class="inline">
                                <tr>
                                    <td>
                                        <a href="/File/GetImage?ID=@scan.Id" title="تصویر قرارداد" data-gallery="">
                                            <img src="/File/GetImage?ID=@scan.Id&height=70&width=70" class="img-circle">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <a class="text-danger" onclick="RemoveContractScan(@scan.Id)">حذف</a>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                    <span class="badge badge-primary fileinput-button">
                        <i class="fa fa-plus"></i>
                        <span>اضافه کردن</span>
                        <input id="contractScanFileUpload" type="file" name="files">
                    </span>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            CreateFileUpload('/Expert/AddContractScan', null , "contractScanFileUpload", "contractScanProgess", function () {
                                Refresh();
                            });
                        });
                    </script>
                    @if (childModel.Document.CurrentWorkShop.TechnicalProtectionCommittee)
                    {
                        <h5>
                            تصاویر کمیته حفاظت فنی (کلیه صفحات)
                        </h5>
                        <div id="tpcScanProgess" class="progress">
                            <div class="progress-bar progress-bar-primary"></div>
                        </div>
                                        <div class="lightBoxGallery">
                                            @foreach (var scan in childModel.Document.CurrentWorkShop.TechnicalProtectionCommitteeScans)
                                            {
                                                <table class="inline">
                                                    <tr>
                                                        <td>
                                                            <a href="/File/GetImage?ID=@scan.Id" title="تصویر کمیته حفاظت فنی" data-gallery="">
                                                                <img src="/File/GetImage?ID=@scan.Id&height=70&width=70" class="img-circle">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            <a class="text-danger" onclick="RemoveTPCScan(@scan.Id)">حذف</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                        </div>
                                        <span class="badge badge-primary fileinput-button">
                                            <i class="fa fa-plus"></i>
                                            <span>اضافه کردن</span>
                                            <input id="tpcScanFileUpload" type="file" name="files">
                                        </span>
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                CreateFileUpload('/Expert/AddTPCScan', null , "tpcScanFileUpload", "tpcScanProgess", function () {
                                                    Refresh();
                                                });
                                            });
                                        </script>
                    }
                </div>
                <div class="ibox-content">
                    <h5>
                        تصویر سوابق بیمه (اختیاری)
                    </h5>
                    <div id="insuranceScanProgess" class="progress">
                        <div class="progress-bar progress-bar-primary"></div>
                    </div>
                    <div class="lightBoxGallery">
                        @foreach (var scan in childModel.Document.InsuranceRecordScans)
                        {
                            <table class="inline">
                                <tr>
                                    <td>
                                        <a href="/File/GetImage?ID=@scan.Id" title="تصویر سوابق بیمه" data-gallery="">
                                            <img src="/File/GetImage?ID=@scan.Id&height=70&width=70" class="img-circle">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <a class="text-danger" onclick="RemoveInsuranceScan(@scan.Id)">حذف</a>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                    <span class="badge badge-primary fileinput-button">
                        <i class="fa fa-plus"></i>
                        <span>اضافه کردن</span>
                        <input id="insuranceScanFileUpload" type="file" name="files">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function RemoveContractScan(scanID) {
        postData('/Expert/RemoveContractScan', { scanID:scanID},
            function () {
                Refresh();
            }
        );
    }
    function RemoveTPCScan(scanID) {
        postData('/Expert/RemoveTPCScan',  { scanID:scanID},
            function () {
                Refresh();
            }
        );
    }
    function RemoveCertificationScan(certificationID) {
        postData('/Expert/RemoveCertificationScan', { ID: certificationID },
            function () {
                Refresh();
            }
        );
    }
    function RemovePhotoScan() {
        postData('/Expert/RemovePhotoScan', null,
            function () {
                Refresh();
            }
        );
    }
    function RemoveShenasnameScan(ID) {
        postData('/Expert/RemoveShenasnameScan', { ID: ID },
            function () {
                Refresh();
            }
        );
    }
    function RemoveNationalCardScan(ID) {
        postData('/Expert/RemoveNationalCardScan', { ID: ID },
            function () {
                Refresh();
            }
        );
    }
    function RemoveInsuranceScan(ID){
        postData('/Expert/RemoveInsuranceScan', { ID: ID },
            function () {
                Refresh();
            }
        );
    }
    $(document).ready(function () {
        CreateFileUpload('/Expert/AddInsuranceScan', null, 'insuranceScanFileUpload', 'insuranceScanProgess', function () {
            Refresh();
        });
        CreateFileUpload('/Expert/ChangePhotoScan', null, 'photoScanFileUpload', 'photoScanProgess', function () {
            Refresh();
        });
        CreateFileUpload('/Expert/AddShenasnameScan', null, 'shenasnameScanFileUpload', 'shenasnameScanProgess', function () {
            Refresh();
        });
        CreateFileUpload('/Expert/AddNationalCardScan', null, 'nationalCardScanFileUpload', 'nationalCardScanProgess', function () {
            Refresh();
        });
    });
</script>
