﻿@using Automation.UI.Models
@using Automation.UI.Models.ExpertProfile
@model ProfileLayout
@{var childModel = (Certifications)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="wrapper wrapper-content">
    @if (childModel.Document.AcademicInfoCompleted.IsComplete &&
                        childModel.Document.BasicAttachmentsCompleted.IsComplete &&
                        childModel.Document.BasicInfoCompleted.IsComplete &&
                        childModel.Document.CertificationAttachmentsCompleted.IsComplete &&
                        childModel.Document.CertificationCompleted.IsComplete &&
                        childModel.Document.ContactInfoCompleted.IsComplete &&
                        childModel.Document.WorkshopAttachmentsCompleted.IsComplete)
    {
        <div class="row">
            <div class="ibox ">
                <div class="ibox-content">
                    <h2>
                        پرونده شما تکمیل گردیده و آماده ارسال می باشد
                        <a href="/Expert/Index" class="btn btn-success btn-lg">ارسال پرونده</a>
                    </h2>
                </div>
            </div>
        </div>
    } 
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>دوره های آموزشی طی شده در زمینه ایمنی</h5>
                    <div class="ibox-tools">
                        @if (childModel.Document.CertificationCompleted.IsComplete)
                        {
                            <span class="label label-primary">انجام شده</span>
                        }
                        else
                        {
                            <span class="label label-danger">@childModel.Document.CertificationCompleted.Message</span>
                        }
                    </div>
                </div>
                <div class="ibox-content">
                    مراجع مورد تایید آموزش 
                    <span class="text-red">
                        مرکز تحقیقات و تعلیمات
                    </span>
                    ، 
                    <span class="text-red">
                        بازرسان کار
                    </span>
                    ،
                    <span class="text-red">
                        مشاوران
                    </span>
                     و 
                    <span class="text-red">
                        موسسات و شرکتهای ذیصلاح مورد تایید مرکز تحقیقات و تعلیمات حفاظت فنی و بهداشت کار
                    </span>
                     میباشند
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        نام دوره
                                    </th>
                                    <th>
                                        مدت برگزاری دوره
                                    </th>
                                    <th>
                                        تاریخ برگزاری دوره
                                    </th>
                                    <th>
                                        مرجع صدور گواهینامه
                                    </th>
                                    <th>
                                        توضیحات
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < childModel.Document.SafetyCertifications.Count; i++)
                                {
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>
                                            @switch (childModel.Document.SafetyCertifications[i].CourseType)
                                            {
                                                case Automation.Model.Document.SafetyCertification.Type.ForthyHours:
                                                    Write("دوره آموزش عمومی ایمنی");
                                                    break;
                                                case Automation.Model.Document.SafetyCertification.Type.SixteenHours:
                                                    Write("دوره شناسایی خطر و ارزیابی ریسک");
                                                    break;
                                                case Automation.Model.Document.SafetyCertification.Type.Others:
                                                    Write(childModel.Document.SafetyCertifications[i].OtherCourseName);
                                                    break;
                                            }
                                        </td>
                                        <td>
                                            @switch (childModel.Document.SafetyCertifications[i].CourseType)
                                            {
                                                case Automation.Model.Document.SafetyCertification.Type.ForthyHours:
                                                    Write("40");
                                                    break;
                                                case Automation.Model.Document.SafetyCertification.Type.SixteenHours:
                                                    Write("16");
                                                    break;
                                                case Automation.Model.Document.SafetyCertification.Type.Others:
                                                    Write(childModel.Document.SafetyCertifications[i].OtherDurationInHours);
                                                    break;
                                            }
                                        </td>
                                        <td>
                                            @PersianDate.ConvertDate.ToFa(childModel.Document.SafetyCertifications[i].DateTaken)
                                        </td>
                                        <td>
                                            @childModel.Document.SafetyCertifications[i].IssuerNumber
                                        </td>
                                        <td>
                                            @childModel.Document.SafetyCertifications[i].Description
                                        </td>
                                        <td>
                                            <input type="button" class="btn btn-danger" value="حذف" onclick="RemoveCertification(@childModel.Document.SafetyCertifications[i].Id)" />
                                            <input type="button" class="btn btn-primary" value="ویرایش" onclick="initialEdit(@childModel.Document.SafetyCertifications[i].Id,@((int)childModel.Document.SafetyCertifications[i].CourseType), '@childModel.Document.SafetyCertifications[i].OtherCourseName', @childModel.Document.SafetyCertifications[i].OtherDurationInHours, '@PersianDate.ConvertDate.ToFa(childModel.Document.SafetyCertifications[i].DateTaken)', '@childModel.Document.SafetyCertifications[i].IssuerNumber', '@childModel.Document.SafetyCertifications[i].Description')" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" data-toggle="modal" onclick="initialNew()">
                        اضافه کردن
                    </button>
                </div>
                <div class="modal inmodal" id="newCertification" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <form id="newCertificationForm">
                                <input type="hidden" name="certificationID" id="modalCertificationID" />
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">بستن</span>
                                    </button>
                                    <h4 class="modal-title">دوره آموزشی در زمینه ایمنی</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label>نوع دوره</label>
                                            <select name="courseType" id="modalCourseType" required onchange="if ($(this).val() == 3) { $('#modalOtherCourses').show(); } else { $('#modalOtherCourses').hide(); }">
                                                <option value="">
                                                    --انتخاب کنید--
                                                </option>
                                                <option value="@((int)Automation.Model.Document.SafetyCertification.Type.ForthyHours)">
                                                    دوره آموزش عمومی ایمنی 40 ساعته یا گواهی آزمون ادواری از مرکز تحقیقات
                                                </option>
                                                <option value="@((int)Automation.Model.Document.SafetyCertification.Type.SixteenHours)">
                                                    دوره شناسایی خطر و ارزیابی ریسک 16 ساعته
                                                </option>
                                                <option value="@((int)Automation.Model.Document.SafetyCertification.Type.Others)">
                                                    سایر دوره ها
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12" id="modalOtherCourses">
                                        <div class="col-sm-6">
                                            <label>نام دوره</label>
                                            <input type="text" placeholder="نام دوره" class="form-control" name="otherCourseName" id="modalCourseName" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>مدت برگزاری دوره<small>(ساعت)</small></label>
                                            <input type="text" placeholder="مدت برگزاری دوره" class="form-control number" name="otherDurationInHours" id="modalDurationInHours" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label>تاریخ برگزای دوره</label>
                                            <input type="text" placeholder="تاریخ برگزای دوره" class="form-control text-left" name="dateTakenInString" id="modalDateTakenInString" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>مرجع صدور گواهینامه</label>
                                            <input type="text" placeholder="مرجع صدور گواهینامه" class="form-control text-left" name="issuerNumber" id="modalIssuerNumber" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-12">
                                            <label>توضیحات</label>
                                            <input type="text" placeholder="توضیحات" class="form-control text-left" name="description" id="modalDescription">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                                    <button type="button" class="btn btn-primary" onclick="AddOrEditCertification('newCertificationForm')">اضافه کردن</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function initialEdit(cID, courseType, courseName, duration, dateTaken, issuer, description) {
        $('#modalCertificationID').val(cID);
        $('#modalCourseName').val(courseName);
        $('#modalDurationInHours').val(duration);
        $('#modalDateTakenInString').val(dateTaken);
        $('#modalIssuerNumber').val(issuer);        
        $('#modalDescription').val(description);
        $('#modalCourseType').val(courseType);
        $('#modalCourseType').change();
        $('#newCertification').modal('show');
    }
    function initialNew() {
        $('#modalCertificationID').val(-1);
        $('#modalCourseName').val("");
        $('#modalDurationInHours').val("");
        $('#modalDateTakenInString').val("");
        $('#modalIssuerNumber').val("");        
        $('#modalDescription').val("");
        $('#modalCourseType').val("");
        $('#modalCourseType').change();
        $('#newCertification').modal('show');
    }
    function AddOrEditCertification(formID) {
        postForm('/Expert/AddOrEditCertification', formID,
            function () {
                Refresh();
            }
        );
    }
    function RemoveCertification(experienceID) {
        postData('/Expert/RemoveCertification', { ID: experienceID },
            function () {
                Refresh();
            }
        );
    }
    $(document).ready(function(){
        $("#modalDateTakenInString").pDatepicker({ format: 'YYYY/MM/DD' });
    });
</script>