﻿@using Automation.UI.Models
@using Automation.UI.Models.ExpertProfile
@model ProfileLayout
@{var childModel = (ExpertInfo)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    @if (childModel.Document.AcademicInfoCompleted.IsComplete &&
                                        childModel.Document.BasicAttachmentsCompleted.IsComplete &&
                                        childModel.Document.BasicInfoCompleted.IsComplete &&
                                        childModel.Document.CertificationAttachmentsCompleted.IsComplete &&
                                        childModel.Document.CertificationCompleted.IsComplete &&
                                        childModel.Document.ContactInfoCompleted.IsComplete &&
                                        childModel.Document.WorkshopAttachmentsCompleted.IsComplete)
    {
        <div class="row">
            <div class="ibox ">
                <div class="ibox-content">
                    <h2>
                        پرونده شما تکمیل گردیده و آماده ارسال می باشد
                        <a href="/Expert/Index" class="btn btn-success btn-lg">ارسال پرونده</a>
                    </h2>
                </div>
            </div>
        </div>
    }
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>مشخصات اولیه</h5>
                <div class="ibox-tools">
                    @if (childModel.Document.BasicInfoCompleted.IsComplete)
                    {
                        <span class="label label-primary">انجام شده</span>
                    }
                    else
                    {
                        <span class="label label-danger">@childModel.Document.BasicInfoCompleted.Message</span>
                    }
                </div>
            </div>
            <div class="ibox-content">
                <form id="basicInfoForm">
                    <div class="row col-lg-12">
                        <div class="col-lg-6">
                            <label>نام</label>
                            <input type="text" name="firstName" placeholder="نام" class="form-control" required value="@childModel.Document.FirstName">
                        </div>
                        <div class="col-lg-6">
                            <label>نام خانوادگی</label>
                            <input type="text" name="lastName" placeholder="نام خانوادگی" class="form-control" required value="@childModel.Document.LastName">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>نام پدر</label>
                            <input type="text" name="fatherName" placeholder="نام پدر" class="form-control" required value="@childModel.Document.FatherName">
                        </div>
                        <div class="col-lg-6">
                            <label>جنسیت</label>
                            <br />
                            <input type="radio" required name="gender" value="1" @(childModel.Document.Gender == Automation.Model.Document.GenderType.Male ? "checked" : "") onclick="$('#militaryServiceStatus').show();" /> مرد
                            <input type="radio" required name="gender" value="2" @(childModel.Document.Gender == Automation.Model.Document.GenderType.Female ? "checked" : "") onclick="$('#militaryServiceStatus').hide(); $('#militaryServicePassed').click();" /> زن
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>شماره شناسنامه</label>
                            <input type="text" name="shenasnameNo" placeholder="شماره شناسنامه" class="form-control number" required value="@childModel.Document.ShenasnameNo">
                        </div>
                        <div class="col-lg-6">
                            <label>کد ملی</label>
                            <input type="text" name="melliCode" placeholder="کد ملی" class="form-control number" required minlength="10" maxlength="10" value="@childModel.Document.NationalCode">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>تاریخ تولد</label>
                            <input type="text" name="birthDate" placeholder="تاریخ تولد" class="form-control text-left" required id="birthDateInput" value="@childModel.Document.BirthDate">
                        </div>
                        <div class="col-lg-6">
                            <label>محل تولد</label>
                            <input type="text" name="placeOfBirth" placeholder="محل تولد" class="form-control" required value="@childModel.Document.PlaceOfBirth">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>وضعیت تاهل</label>
                            <br />
                            <input type="radio" required name="maritalStatus" value="1" @(childModel.Document.MaritalStatus == Automation.Model.Document.MaritalStates.Single ? "checked" : "") /> مجرد
                            <input type="radio" required name="maritalStatus" value="2" @(childModel.Document.MaritalStatus == Automation.Model.Document.MaritalStates.Married ? "checked" : "") /> متاهل
                        </div>
                        <div class="col-lg-6" id="militaryServiceStatus" style="@(childModel.Document.Gender == Automation.Model.Document.GenderType.Female?"display:none":"")">
                            <label>وضعیت سربازی</label>
                            <br />
                            <input type="radio" id="militaryServicePassed" required name="militaryServiceStates" value="1" onclick="$('#reasonOfExemption').hide(); $('#reasonOfExemption input').removeClass('required');" @(childModel.Document.MilitaryStatus == Automation.Model.Document.MilitaryServiceStates.Passed || childModel.Document.Gender == Automation.Model.Document.GenderType.Female ? "checked" : "") /> گذرانده
                            <input type="radio" required name="militaryServiceStates" value="2" onclick="$('#reasonOfExemption').show(); $('#reasonOfExemption input').addClass('required');" @(childModel.Document.MilitaryStatus == Automation.Model.Document.MilitaryServiceStates.Exempted ? "checked" : "") /> معافیت
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t" id="reasonOfExemption" style="@((!childModel.Document.MilitaryStatus.HasValue || childModel.Document.MilitaryStatus==Automation.Model.Document.MilitaryServiceStates.Passed)?"display:none":"")">
                        <div class="col-lg-12">
                            <label>علت معافیت</label>
                            <input type="text" name="reasonOfExemption" placeholder="علت معافیت" class="form-control" value="@childModel.Document.ReasonOfExemption">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>شماره عضویت در انجمن</label>
                            <input type="text" name="associationNumber" placeholder="(اختیاری)" class="form-control" value="@childModel.Document.AssociationMembershipNo">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary pull-right" onclick="ModifyBasicInfo('basicInfoForm')">ثبت تغیرات</button>
                </form>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#birthDateInput").pDatepicker({ format: 'YYYY/MM/DD' });
                    });
                    function ModifyBasicInfo(formID) {
                        postForm('/Expert/ModifyBasicInfo', formID,
                            function () {
                                Refresh();
                                //informInModal('ثبت اطلاعات اولیه', 'با موفقیت انجام شد');
                            }
                        );
                    }
                </script>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="ibox ">
            <div class="ibox-title">
                <h5>مدارک تحصیلی</h5>
                <div class="ibox-tools">
                    @if (childModel.Document.AcademicInfoCompleted.IsComplete)
                    {
                        <span class="label label-primary">انجام شده</span>
                    }
                    else
                    {
                        <span class="label label-danger">@childModel.Document.AcademicInfoCompleted.Message</span>
                    }
                </div>
            </div>
            <div class="ibox-content">
                <form id="academicInfoForm">
                    <table class="col-lg-12 table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    مقطع
                                </th>
                                <th class="col-lg-6">
                                    رشته
                                </th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <input @(childModel.Document.HighSchoolCertification != null ? "checked" : "") type="checkbox" value="true" name="hasHighSchool" onchange="ToggleSelect($(this).is(':checked'), 'highSchoolSelect');" />
                                <input type="hidden" value="false" name="hasHighSchool" />
                            </td>
                            <td>
                                دیپلم فنی
                            </td>
                            <td>
                                <select style="width:100%" id="highSchoolSelect" name="fieldOfHighSchool" @(childModel.Document.HighSchoolCertification != null ? "required" : "disabled")>
                                    <option value="">--انتخاب کنید--</option>
                                    @foreach (var field in childModel.FieldsOfStudy)
                                    {
                                        <option value="@field.Id" @(childModel.Document.HighSchoolCertification != null && childModel.Document.HighSchoolCertification.FieldOfStudy.Id == field.Id ? "selected" : "")>@field.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input @(childModel.Document.DiplomaCertification != null ? "checked" : "") type="checkbox" value="true" name="hasDiploma" onchange="ToggleSelect($(this).is(':checked'), 'diplomaSelect');" />
                                <input type="hidden" value="false" name="hasDiploma" />
                            </td>
                            <td>
                                کاردانی
                            </td>
                            <td>
                                <select style="width:100%" id="diplomaSelect" name="fieldOfDiploma" @(childModel.Document.DiplomaCertification != null ? "required" : "disabled")>
                                    <option value="">--انتخاب کنید--</option>
                                    @foreach (var field in childModel.FieldsOfStudy)
                                    {
                                        <option value="@field.Id" @(childModel.Document.DiplomaCertification != null && childModel.Document.DiplomaCertification.FieldOfStudy.Id == field.Id ? "selected" : "")>@field.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input @(childModel.Document.BachelorsCertification != null ? "checked" : "") type="checkbox" value="true" name="hasBachelor" onchange="ToggleSelect($(this).is(':checked'), 'bachelorSelect');" />
                                <input type="hidden" value="false" name="hasBachelor" />
                            </td>
                            <td>
                                کارشناسی
                            </td>
                            <td>
                                <select style="width:100%" id="bachelorSelect" name="fieldOfBachelor" @(childModel.Document.BachelorsCertification != null ? "required" : "disabled")>
                                    <option value="">--انتخاب کنید--</option>
                                    @foreach (var field in childModel.FieldsOfStudy)
                                    {
                                        <option value="@field.Id" @(childModel.Document.BachelorsCertification != null && childModel.Document.BachelorsCertification.FieldOfStudy.Id == field.Id ? "selected" : "")>@field.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input @(childModel.Document.MastersCertification != null ? "checked" : "") type="checkbox" value="true" name="hasMaster" onchange="ToggleSelect($(this).is(':checked'), 'masterSelect');" />
                                <input type="hidden" value="false" name="hasMaster" />
                            </td>
                            <td>
                                کارشناسی ارشد
                            </td>
                            <td>
                                <select style="width:100%" id="masterSelect" name="fieldOfMaster" @(childModel.Document.MastersCertification != null ? "required" : "disabled")>
                                    <option value="">--انتخاب کنید--</option>
                                    @foreach (var field in childModel.FieldsOfStudy)
                                    {
                                        <option value="@field.Id" @(childModel.Document.MastersCertification != null && childModel.Document.MastersCertification.FieldOfStudy.Id == field.Id ? "selected" : "")>@field.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input @(childModel.Document.PhDCertification != null ? "checked" : "") type="checkbox" value="true" name="hasPhD" onchange="ToggleSelect($(this).is(':checked'), 'phdSelect');" />
                                <input type="hidden" value="false" name="hasPhD" />
                            </td>
                            <td>
                                دکترا
                            </td>
                            <td>
                                <select style="width:100%" id="phdSelect" name="fieldOfPhD" @(childModel.Document.PhDCertification != null ? "required" : "disabled")>
                                    <option value="">--انتخاب کنید--</option>
                                    @foreach (var field in childModel.FieldsOfStudy)
                                    {
                                        <option value="@field.Id" @(childModel.Document.PhDCertification != null && childModel.Document.PhDCertification.FieldOfStudy.Id == field.Id ? "selected" : "")>@field.Name</option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                </form>
                <script type="text/javascript">
                    function ToggleSelect(isOn, selectID) {
                        var select = $("#" + selectID);
                        if (isOn) {
                            select.removeAttr("disabled");
                            select.attr('required', '');
                        } else {
                            select.removeAttr("required");
                            select.attr('disabled', '');
                        }
                    }
                    function ModifyAcademicInfo(formID) {
                        postForm('/Expert/ModifyAcademicInfo', formID,
                           function () {
                               Refresh();
                           }
                       );
                    }
                </script>
                <button type="button" class="btn btn-primary pull-right m-t" onclick="ModifyAcademicInfo('academicInfoForm')">ثبت تغیرات</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>مشخصات تماس</h5>
                <div class="ibox-tools">
                    @if (childModel.Document.ContactInfoCompleted.IsComplete)
                    {
                        <span class="label label-primary">انجام شده</span>
                    }
                    else
                    {
                        <span class="label label-danger">@childModel.Document.ContactInfoCompleted.Message</span>
                    }
                </div>
            </div>
            <form id="contactForm">
                <div class="ibox-content">
                    <div class="row col-lg-12">
                        <div class="col-lg-6">
                            <label>تلفن همراه</label>
                            <input type="text" name="mobilePhone" placeholder="تلفن همراه" class="form-control number" minlength="11" maxlength="11" required value="@childModel.Document.Mobile">
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>استان محل سکونت</label>
                            <select class="form-control" name="homeProvinceID" required onchange="fillCounties($(this).val(), 'homeCountySelect');">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                @foreach (var province in childModel.Provinces)
                                {
                                    <option value="@province.Id" @((childModel.Document.HomeContact.County != null && childModel.Document.HomeContact.County.Province_ID == province.Id) ? "selected" : "")>
                                        @province.Name
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label>شهرستان محل سکونت</label>
                            <select class="form-control" name="homeCountyID" required id="homeCountySelect">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                @foreach (var county in childModel.HomeCounties)
                                {
                                    <option class="dynamic" value="@county.Id" @(childModel.Document.HomeContact.County.Id == county.Id ? "selected" : "")>
                                        @county.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-12">
                            <label>آدرس محل سکونت</label>
                            <textarea name="homeAddress" placeholder="آدرس محل سکونت" class="form-control" required>@childModel.Document.HomeContact.Address</textarea>
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>کدپستی محل سکونت</label>
                            <input type="text" name="homePostalCode" placeholder="کدپستی محل سکونت" class="form-control number" minlength="7" maxlength="10" required value="@childModel.Document.HomeContact.PostalCode">
                        </div>
                        <div class="col-lg-6">
                            <label>تلفن محل سکونت</label>
                            <input type="text" name="homePhone" placeholder="تلفن محل سکونت" class="form-control number" required minlength="7" maxlength="10" value="@childModel.Document.HomeContact.Phone">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="ibox-content">
                    <div class="row col-lg-12">
                        <div class="col-lg-6">
                            <label>استان اشتغال فعلی</label>
                            <select class="form-control" name="workProvinceID" required onchange="fillCounties($(this).val(), 'workCountySelect');">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                @foreach (var province in childModel.Provinces)
                                {
                                    <option value="@province.Id" @((childModel.Document.WorkContact.County != null && childModel.Document.WorkContact.County.Province_ID == province.Id) ? "selected" : "")>
                                        @province.Name
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label>شهرستان اشتغال فعلی</label>
                            <select class="form-control" name="workCountyID" required id="workCountySelect">
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                @foreach (var county in childModel.WorkCounties)
                                {
                                    <option class="dynamic" value="@county.Id" @(childModel.Document.WorkContact.County.Id == county.Id ? "selected" : "")>
                                        @county.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-12">
                            <label>آدرس اشتغال فعلی</label>
                            <textarea name="workAddress" placeholder="آدرس اشتغال فعلی" class="form-control" required>@childModel.Document.WorkContact.Address</textarea>
                        </div>
                    </div>
                    <div class="row col-lg-12 m-t">
                        <div class="col-lg-6">
                            <label>کدپستی اشتغال فعلی</label>
                            <input type="text" name="workPostalCode" placeholder="کدپستی اشتغال فعلی" class="form-control number" minlength="7" maxlength="10" required value="@childModel.Document.WorkContact.PostalCode">
                        </div>
                        <div class="col-lg-6">
                            <label>تلفن اشتغال فعلی</label>
                            <input type="text" name="workPhone" placeholder="تلفن اشتغال فعلی" class="form-control number" required minlength="7" maxlength="10" value="@childModel.Document.WorkContact.Phone">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary pull-right m-t" onclick="ModifyContactInfo('contactForm')">ثبت تغیرات</button>
                    <div class="clearfix"></div>
                </div>
            </form>
            <script type="text/javascript">
                function fillCounties(provinceID, countySelectID) {
                    var $select = $('#' + countySelectID);
                    $select.find('option.dynamic').remove();
                    if (provinceID != "") {
                        postData("/System/GetAllCounties", { provinceID: provinceID }, function (data) {
                            data = JSON.parse(data);
                            $.each(data, function (id, county) {
                                $select.append('<option class="dynamic" value=' + county.ID + '>' + county.Name + '</option>');
                            });
                        });
                    }
                }
                function ModifyContactInfo(formID) {
                    postForm('/Expert/ModifyContactInfo', formID,
                        function () {
                            Refresh();
                            //informInModal('ثبت اطلاعات تماس', 'با موفقیت انجام شد');
                        }
                    );
                }
            </script>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>مشخصات کارفرما</h5>
            </div>
            <div class="ibox-content">
                <div class="row col-lg-12">
                    <div class="col-lg-6">
                        <label>نام و نام خانوادگی مدیر عامل</label>
                        <input type="text" class="form-control" value="@childModel.Document.CurrentWorkShop.EmployerName" disabled="disabled">
                    </div>
                    <div class="col-lg-6">
                        <label>شماره تلفن</label>
                        <input type="text" class="form-control" value="@childModel.Document.CurrentWorkShop.WorkshopPhone" disabled="disabled">
                    </div>
                    <div class="col-lg-12">
                        <label>آدرس کارگاه</label>
                        <input type="text" class="form-control" value="@childModel.Document.CurrentWorkShop.WorkshopAddress" disabled="disabled">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>