﻿@using Automation.UI.Models
@using Automation.UI.Models.ExpertProfile
@model ProfileLayout
@{var childModel = (Objection)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>اعلام اعتراض</h5>
                </div>
                <div class="ibox-content">
                    اینجانب به نظر اداره بازرسی استان اعتراض دارم و علاقمند به ثبت اعتراض خویش می باشم.<br />
                    <textarea id="reasonOfObjection" placeholder="علت اعتراض" class="col-sm-9 m-t"></textarea>
                    <div class="clearfix"></div>
                </div>
                <div class="ibox-content">
                    تصاویر ضمیمه
                    <div id="objectionAttachmentProgess" class="progress">
                        <div class="progress-bar progress-bar-primary"></div>
                    </div>
                    <div class="lightBoxGallery">
                        @foreach (var scan in childModel.Document.ObjectionAttachments)
                        {
                            <table class="inline">
                                <tr>
                                    <td>
                                        <a href="/File/GetImage?ID=@scan.Id" title="تصویر ضمیمه" data-gallery="">
                                            <img src="/File/GetImage?ID=@scan.Id&height=70&width=70" class="img-circle">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <a class="text-danger" onclick="RemoveObjectionScan(@scan.Id)">حذف</a>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                    <span class="badge badge-primary fileinput-button">
                        <i class="fa fa-plus"></i>
                        <span>اضافه کردن</span>
                        <input id="objectionAttachmentScanFileUpload" type="file" name="files">
                    </span>
                    @if (childModel.Document.ObjectionAttachments.Count > 0)
                    {
                        <button class="btn btn-success pull-right m-t" type="button" onclick="ObjectifyOnce()">
                            <i class="fa fa-remove"></i>
                            &nbsp;ثبت
                        </button>
                    }                    
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        CreateFileUpload('/Expert/AddObjectionScan', null, 'objectionAttachmentScanFileUpload', 'objectionAttachmentProgess', function () {
            Refresh();
        });
    });
    function RemoveObjectionScan(ID) {
        postData('/Expert/RemoveObjectionScan', { ID: ID },
            function () {
                Refresh();
            }
        );
    }
    function ObjectifyOnce() {
        postData("/Expert/ObjectifyOnce", { reasonOfObjection: $("#reasonOfObjection").val() }, function (data) {
            RedirectTo("/Expert/Index");
        });
    }    
</script>