﻿@using Automation.UI.Models
@using Automation.UI.Models.ExpertProfile
@model ProfileLayout
@{var childModel = (Overview)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
@if (childModel.Document.AcademicInfoCompleted.IsComplete &&
                childModel.Document.BasicAttachmentsCompleted.IsComplete &&
                childModel.Document.BasicInfoCompleted.IsComplete &&
                childModel.Document.CertificationAttachmentsCompleted.IsComplete &&
                childModel.Document.CertificationCompleted.IsComplete &&
                childModel.Document.ContactInfoCompleted.IsComplete &&
                childModel.Document.WorkshopAttachmentsCompleted.IsComplete)
{
    if (childModel.Document.CurrentFlow.Type == Automation.Model.Flow.FlowType.NotCompleted)
    {
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-title">
                <i class="fa fa-bookmark text-success m-l"></i>
                تعهد نامه
            </div>
            <div class="ibox-content">
                <div class="p-xs text-justify">
                    اینجانب
                    <span class="text-red">
                        @childModel.Document.FullName
                    </span>
                    متعهد میگردم صحت تمامی مدارک، مستندات و اطلاعات ارائه شده جهت اخذ تاییدیه صلاحیت بکارگیری مسئولین ایمنی، مبتنی بر واقعیت بوده و چنانچه در هر مرحله خلاف واقعیت ثابت شود بلافاصله تایید صلاحیت از طرف مرجع صادر کننده باطل میگردد.
                    همچنین خود را ملزم به رعایت مفاد آیین نامه بکارگیری مسئول ایمنی در کارگاه ها نموده و ضمن رعایت کلیه موارد ابلاغی از طرف واحد بازرسی کار آن اداره، عملکرد خود را به صورت ادواری جهت بررسی و اعلام نظر ارسال نمایم.
                    <script type="text/javascript">
                        function SignAgreement() {
                            postData('/Expert/SignAgreement', null,
                                function () {
                                    RedirectTo("/Expert/Index");
                                }
                            );
                        }
                    </script>
                </div>
                <a class="btn btn-primary pull-right" onclick="SignAgreement()">تایید و ارسال</a>
                <div class="clearfix"></div>
            </div>
        </div>
    }
    Html.RenderPartial("../Partial/DocumentOverview", childModel.Document);
}
else
{
    <div class="wrapper wrapper-content">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>با سلام</h5>
                </div>
                <div class="ibox-content">
                    لطفاً جهت ارسال پرونده ابتدا پرونده خود را کامل نمایید
                </div>
            </div>
        </div>
    </div>
}
