﻿@using Automation.UI.Models
@using Automation.UI.Models.ExpertProfile
@model ProfileLayout
@{var childModel = (Reports)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>گزارشات من</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        فایل گزارش
                                    </th>
                                    <th>
                                        توضیحات
                                    </th>
                                    <th>
                                        تاریخ
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < childModel.Document.Reports.Count; i++)
                                {
                                    <tr>
                                        <th>@(i + 1)</th>
                                        <td>
                                            <a href="/File/GetFile?ID=@childModel.Document.Reports[i].File.Id">فایل گزارش</a>
                                        </td>
                                        <td>
                                            @childModel.Document.Reports[i].Description
                                        </td>
                                        <td>
                                            @PersianDate.ConvertDate.ToFa(childModel.Document.Reports[i].Date)
                                        </td>
                                        <td>
                                            <input type="button" class="btn btn-danger" value="حذف" onclick="RemoveReport(@childModel.Document.Reports[i].Id)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newReport">
                        اضافه کردن
                    </button>
                </div>
                <div class="modal inmodal" id="newReport" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <form id="newReportForm">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">بستن</span>
                                    </button>
                                    <h4 class="modal-title">گزارش جدید</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label>تاریخ گزارش</label>
                                            <input type="text" placeholder="تاریخ گزارش" class="form-control" id="modalReportDate" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>توضیحات</label>
                                            <input type="text" placeholder="توضیحات" class="form-control" id="modalDescription">  
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div id="reportFileProgess" class="progress">
                                            <div class="progress-bar progress-bar-primary"></div>
                                        </div>
                                    </div>                                    
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <span class="fileinput-button btn btn-primary" onclick="UploadFile()">
                                        انتخاب فایل و ارسال
                                        <input id="reportFileUpload" type="file" name="files">
                                    </span>
                                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#modalReportDate').pDatepicker({ format: 'YYYY/MM/DD' });
    });
    function UploadFile() {
        CreateFileUpload('/Expert/AddReport', { description: $('#modalDescription').val(), reportDate: $('#modalReportDate').val() }, 'reportFileUpload', 'reportFileProgess', function () {
            Refresh();
        });
    }
    function RemoveReport(reportID) {
        postData('/Expert/RemoveReport', { reportID: reportID },
            function () {
                Refresh();
            }
        );
    }
</script>