﻿@using Automation.UI.Models
@using Automation.UI.Models.ExpertProfile
@model ProfileLayout
@{var childModel = (RequestPage)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <form role="form" id="sendRequestForm">
                <div class="ibox-title">
                    <i class="fa fa-pencil text-success m-l"></i>
                    نامه درخواست
                </div>
                <div class="ibox-content form-inline">
                    <div class="p-xs text-justify">
                        احتراماً در اجرای آیین نامه بکارگیری مسئولین ایمنی در کارگاه ها مصوب 1394/01/31  شورای عالی حفاظت فنی، این واحد ضمن ارائه اطلاعات ذیل در نظر دارد
                        &nbsp;
                        <input type="radio" required name="gender" value="1" @(childModel.Document.Gender==Automation.Model.Document.GenderType.Male?"checked":"") /> آقا
                        &nbsp;
                        <input type="radio" required name="gender" value="2" @(childModel.Document.Gender==Automation.Model.Document.GenderType.Female?"checked":"") /> خانم
                        &nbsp;
                        <input type="text" required name="firstName" placeholder="نام" class="form-control" value="@childModel.Document.FirstName" />
                        <input type="text" required name="lastName" placeholder="نام خانوادگی" class="form-control" value="@childModel.Document.LastName" />
                        &nbsp;
                        را بعنوان مسئول ایمنی همکاری نماید. خواهشمند است دستور فرمایید نسبت به بررسی صلاحیت و صدور تاییدیه برای نامبرده اقدام و از نتیجه این واحد را مطلع نمایید. ضمناً این مجموعه متعهد میگردد در صورت قطع همکاری با مسئول ایمنی به هر علت مراتب را به اداره کار مربوطه اعلام نموده و نسبت به معرفی فرد جایگزین اقدام نماید.
                    </div>
                </div>
                <div class="ibox-title m-t">
                    اطلاعات کارگاه
                </div>
                <div class="ibox-content">
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label>نام واحد</label>
                            <input type="text" placeholder="نام واحد" class="form-control" name="unitName" required>
                        </div>
                        <div class="col-sm-6">
                            <label>کد تامین اجتماعی کارگاه(اختیاری)</label>
                            <input type="text" placeholder="کد تامین اجتماعی کارگاه" class="form-control number" name="socialSecurityCode">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label>تاریخ استخدام</label>
                            <input type="text" placeholder="تاریخ از" class="form-control" name="dateFrom" id="modalDateFrom" required>
                        </div>
                        <div class="col-sm-6">
                            <label>ایمیل</label>
                            <input type="text" placeholder="ایمیل" class="form-control" name="email" id="modalEmail" required>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label>نام و نام خانوادگی مدیر عامل</label>
                            <input type="text" placeholder="نام و نام خانوادگی مدیر عامل" class="form-control" name="employerName" required>
                        </div>
                        <div class="col-sm-6">
                            <label>جنسیت مدیر عامل</label>
                            <br />
                            <input type="radio" required name="employerGender" value="1" /> آقا
                            <input type="radio" required name="employerGender" value="2" /> خانم
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label>موضوع فعالیت کارگاه</label>
                            <select class="form-control" name="fieldOfActivityID" required>
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                @foreach (var activity in childModel.FieldsOfActivity)
                            {
                                <option value="@activity.Id">
                                    @activity.Name
                                </option>
                            }
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label>نوع تولید</label>
                            <select class="form-control" name="productionTypeID" required>
                                <option value="">
                                    --انتخاب کنید--
                                </option>
                                @foreach (var production in childModel.ProductionTypes)
                            {
                                <option value="@production.Id">
                                    @production.Name
                                </option>
                            }
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label>تعداد کارگران مرد</label>
                            <input type="text" placeholder="تعداد" class="form-control number" name="maleWorkersNo" required>
                        </div>
                        <div class="col-sm-4">
                            <label>تعداد کارگران زن</label>
                            <input type="text" placeholder="تعداد" class="form-control number" name="femaleWorkersNo" required>
                        </div>
                        <div class="col-sm-4">
                            <label>تعداد مسئولین ایمنی</label>
                            <input type="text" placeholder="تعداد" class="form-control number" name="safetyWorkersNo" required>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4">
                            <label>نعداد کارگران شیفت صبح</label>
                            <input type="text" placeholder="نعداد" class="form-control number" name="morningWorkersNo" required>
                        </div>
                        <div class="col-sm-4">
                            <label>نعداد کارگران شیفت عصر</label>
                            <input type="text" placeholder="نعداد" class="form-control number" name="eveningWorkersNo" required>
                        </div>
                        <div class="col-sm-4">
                            <label>نعداد کارگران شیفت شب</label>
                            <input type="text" placeholder="نعداد" class="form-control number" name="nightWorkersNo" required>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label>وسعت کارگاه<small>(متر مربع)</small></label>
                            <input type="text" placeholder="وسعت کارگاه" class="form-control number" name="workshopSize" required>
                        </div>
                        <div class="col-sm-6">
                            <label>کمیته حفاظت فنی</label>
                            <br />
                            <input type="radio" value="true" name="technicalProtectionCommittee" required />&nbsp;دارد
                            &nbsp;
                            <input type="radio" value="false" name="technicalProtectionCommittee" required onclick="alertInModal('توجه','کارفرمای محترم لازم است کمیته حفاظت و بهداشت کار در کارگاه تشکیل شود در غیر اینصورت تایید صلاحیت مسئول ایمنی امکان پذیر نمی باشد');" />&nbsp;ندارد
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <label>شماره تلفن</label>
                            <input type="text" placeholder="شماره تلفن" class="form-control number" name="workshopPhone" required minlength="7" maxlength="10">
                        </div>
                        <div class="col-sm-6">
                            <label>کدپستی کارگاه</label>
                            <input type="text" placeholder="کدپستی کارگاه" class="form-control number" minlength="10" maxlength="10" name="workshopPostalCode" required>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-12">
                            <label>آدرس کارگاه</label>
                            <input type="text" placeholder="آدرس کارگاه" class="form-control" name="workshopAddress" required>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
            <div class="ibox-title m-t m-b">
                <a class="btn btn-primary pull-right" onclick="SendRequest('sendRequestForm')">تایید و ارسال</a>
                <div class="clearfix"></div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#modalDateFrom').pDatepicker({ format: 'YYYY/MM/DD' });
                    $('#modalDateTo').pDatepicker({ format: 'YYYY/MM/DD' });
                });
                function SendRequest(formID) {
                    postForm('/Expert/SendRequest', formID,
                        function () {
                            RedirectTo("ExpertInfo");
                        }
                    );
                }
            </script>
        </div>
    </div>
</div>