﻿@using Automation.UI.Models
@using Automation.UI.Models.ExpertProfile
@model ProfileLayout
@{var childModel = (WorkHistory)Model.ChildObject;}
@{
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
<div class="wrapper wrapper-content">
    @if (childModel.Document.AcademicInfoCompleted.IsComplete &&
                        childModel.Document.BasicAttachmentsCompleted.IsComplete &&
                        childModel.Document.BasicInfoCompleted.IsComplete &&
                        childModel.Document.CertificationAttachmentsCompleted.IsComplete &&
                        childModel.Document.CertificationCompleted.IsComplete &&
                        childModel.Document.ContactInfoCompleted.IsComplete &&
                        childModel.Document.WorkshopAttachmentsCompleted.IsComplete)
    {
        <div class="row">
            <div class="ibox ">
                <div class="ibox-content">
                    <h2>
                        پرونده شما تکمیل گردیده و آماده ارسال می باشد
                        <a href="/Expert/Index" class="btn btn-success btn-lg">ارسال پرونده</a>
                    </h2>
                </div>
            </div>
        </div>
    } 
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>سوابق کاری</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        نام واحد
                                    </th>
                                    <th>
                                        نام و نام خانوادگی مدیر عامل
                                    </th>
                                    <th>
                                        تاریخ از
                                    </th>
                                    <th>
                                        تاریخ تا
                                    </th>
                                    <th>
                                        سمت و عنوان شغلی
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < childModel.Document.WorkExperiences.Count; i++)
                                {
                                    <tr>
                                        <th>@(i + 1)</th>
                                        <td>
                                            @childModel.Document.WorkExperiences[i].WorkshopName
                                        </td>
                                        <td>
                                            @childModel.Document.WorkExperiences[i].EmployerName
                                        </td>
                                        <td>
                                            @PersianDate.ConvertDate.ToFa(childModel.Document.WorkExperiences[i].DateFrom)
                                        </td>
                                        <td>
                                            @PersianDate.ConvertDate.ToFa(childModel.Document.WorkExperiences[i].DateTo)
                                        </td>
                                        <td>
                                            @childModel.Document.WorkExperiences[i].Description
                                        </td>
                                        <td>
                                            <input type="button" class="btn btn-danger" value="حذف" onclick="RemoveExperience(@childModel.Document.WorkExperiences[i].Id)" />
                                            <input type="button" class="btn btn-primary" value="ویرایش" onclick="initialEdit(@childModel.Document.WorkExperiences[i].Id, '@childModel.Document.WorkExperiences[i].WorkshopName', '@childModel.Document.WorkExperiences[i].EmployerName','@PersianDate.ConvertDate.ToFa(childModel.Document.WorkExperiences[i].DateFrom)','@PersianDate.ConvertDate.ToFa(childModel.Document.WorkExperiences[i].DateTo)','@childModel.Document.WorkExperiences[i].Description')" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ibox-content">
                    <button type="button" class="btn btn-success" data-toggle="modal" onclick="initialNew()">
                        اضافه کردن
                    </button>
                </div>
                <div class="modal inmodal" id="newWorkExperience" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content animated bounceInRight">
                            <form id="newWorkExperienceForm">
                                <input type="hidden" name="workExperienceID" id="modalWorkExperienceID" />
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                        <span class="sr-only">بستن</span>
                                    </button>
                                    <h4 class="modal-title">سابقه کاری</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label>نام واحد</label>
                                            <input type="text" placeholder="نام واحد" class="form-control" name="unitName" id="modalUnitName" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>نام و نام خانوادگی مدیر عامل</label>
                                            <input type="text" placeholder="نام و نام خانوادگی مدیر عامل" class="form-control" name="employerName" id="modalEmployerName" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-6">
                                            <label>تاریخ از</label>
                                            <input type="text" placeholder="تاریخ از" class="form-control" name="dateFrom" id="modalDateFrom" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <label>تاریخ تا</label>
                                            <input type="text" placeholder="تاریخ تا" class="form-control" name="dateTo" id="modalDateTo" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <div class="col-sm-12">
                                            <label>سمت و عنوان شغلی</label>
                                            <input type="text" placeholder="سمت و عنوان شغلی" class="form-control" name="description" id="modalDescription">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-white" data-dismiss="modal">بستن</button>
                                    <button type="button" class="btn btn-primary" onclick="AddOrEditWorkExperience('newWorkExperienceForm')">اضافه کردن</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#modalDateFrom').pDatepicker({ format: 'YYYY/MM/DD' });
        $('#modalDateTo').pDatepicker({ format: 'YYYY/MM/DD' });
    });


    function initialEdit(exID, unitName, employer, dateFrom, dateTo, description) {
        $('#modalDateFrom').val(dateFrom);
        $('#modalDateTo').val(dateTo);
        $('#modalWorkExperienceID').val(exID);
        $('#modalUnitName').val(unitName);
        $('#modalEmployerName').val(employer);
        $('#modalDescription').val(description);
        $('#newWorkExperience').modal('show');
    }
    function initialNew() {
        $('#modalWorkExperienceID').val(-1);
        $('#modalDateFrom').val("");
        $('#modalDateTo').val("");
        $('#modalUnitName').val("");
        $('#modalEmployerName').val("");
        $('#modalDescription').val("");
        $('#newWorkExperience').modal('show');
    }
    function AddOrEditWorkExperience(formID) {
        postForm('/Expert/AddOrEditWorkExperience', formID,
            function () {
                Refresh();
            }
        );
    }
    function RemoveExperience(experienceID) {
        postData('/Expert/RemoveExperience', { ID: experienceID },
            function () {
                Refresh();
            }
        );
    }
</script>